<div class="widgets" ng-controller="loginLogSearchCtrl">
	<div ba-panel ba-panel-class="with-scroll" >
		<form class="form-horizontal" name="addForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						查询条件
					</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4" >
					<label  class="z_custdetailadd_lable">用户账号</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchLogin.userId" placeholder="用户账号">
				</div>
				<div class="col-md-4">
					<label  class="z_custdetailadd_lable">起始日期</label>
					<div  class="z_custdetail_inline">
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchLogin.startDate"  placeholder="起始日期" is-open="opened4.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
							<span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<label  class="z_custdetailadd_lable">终止日期</label>
					<div  class="z_custdetail_inline">
						<p class="input-group">
							<input type="text" class="form-control " uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchLogin.endDate" placeholder="终止日期" is-open="opened3.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
							<span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
						</p>
					</div>
				</div>
			</div>
			<div class="row split-div">
				<HR  class="split-line">
				<div>
				<button class="btn btn-primary btn-with-icon" ng-click="search()">
					<i class="ion-search"></i>查询
				</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						登录日志列表
					</label>
				</div>
			</div>
		</form>
		<table class="table  table-hover table-condensed" st-table="smartTableData2" st-safe-src="LoginRowCollection">
			<thead>
			<tr class="black-muted-bg">
				<th st-sort="userId">用户账号</th>
				<th st-sort="logType">日志类型</th>
				<th st-sort="logContent">日志内容</th>
				<th st-sort="clientIp">客户端IP</th>
				<th st-sort="logTime">日志时间</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in smartTableData2" class="editable-row">
				<td><span>{{ item.userId }}</span></td>
				<td><span> {{ Show(item) }}</span></td>
				<td><span>{{ item.logContent }}</span></td>
				<td><span>{{ item.clientIp }}</span></td>
				<td><span>{{ item.logTime }}</span></td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="6" class="text-center">
					<st-pager opts = "queryLoginLogOptions" pageSize = "10"></st-pager>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>
