<div class="widgets">
	<form class="form-horizontal" name="addForm" ng-controller="showDataAuthCtrl" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
							<em class="ion-ios-close-empty sn-link-close"></em>
						</button>
						<h4 class="modal-title" id="myModalLabel">查看权限</h4>
					</div>
					<div class="modal-body">

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" style="margin:0;">
								<label for="roleCode" class="zpercusportra_paleft float">角色编码</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="roleCode" name="roleCode" ng-model="showDataAuthParam.roleCode"readOnly>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" style="margin:0;">
								<label for="roleName" class="zpercusportra_paleft float">角色名称</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="roleName" name="roleName" ng-model="showDataAuthParam.roleName"readOnly>
								</div>
							</div>
						</div>
					</div>
					<table class="table table-bordered table-hover table-condensed"  st-table="smartTableData" st-safe-src="RowCollection">
						<thead>
							<tr class="black-muted-bg">
								<th st-sort="fieldName" style="text-align:left">过滤项</th>
								<th st-sort="ruleName">类别</th>
								<th st-sort="desc">过滤值</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in smartTableData" >
								<td style="text-align:left"><span>{{ item.fieldName }}</span></td>
								<td><span>{{ item.ruleName }}</span></td>
								<td><span>{{ item.desc }}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
