<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
	<div ng-controller="pageTopCtrl">
		<!--<a href="#/home" class="al-logo clearfix">
			<div style="height: 65px; width: 140px;" align="center">
				&lt;!&ndash; <img height="35" width="35" ng-src="{{::( 'logo-head.png' | appImage )}}"> &ndash;&gt;
				<span style="color: black; font-size: large;">CRM系统</span>
			</div>
		</a>-->
		<a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

		<!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="star	tSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->

		<div class="user-profile clearfix">
			<div class="user-info clearfix" style="color: black; font-size: 14px; padding-left: 0;">
				<!--<i class="ion-person"></i>-->{{global.user}} / {{userInfo.userName}}
			</div>
			<div class="al-user-profile" uib-dropdown>
				<a uib-dropdown-toggle class="profile-toggle-link">
					<!-- <div>{{global.user}}</div> -->
					<img ng-src="{{::( 'default' | profilePicture )}}">
				</a>
				<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
					<li><i class="dropdown-arr"></i></li>
					<!--<li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
        				<li><a href><i class="fa fa-cog"></i>Settings</a></li> -->
					<li><a href ng-click="searchUser(global.user)" class="signout">
							<i class="ion-person"></i>个人信息
						</a></li>
					<li><a href ng-click="log()" class="signout">
							<i class="fa fa-power-off"></i>退出
						</a></li>
				</ul>
			</div>
			<msg-center></msg-center>
			
		</div>
	</div>
</div>