<div class="widgets" ng-controller="autoMarketDetilCtrl">
	<div class="row">
		<div class="col-md-12" ba-panel ba-panel-class="with-scroll lists-widget">
			<uib-tabset> <uib-tab heading="活动信息">
			<div class="col-md-5" ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<form class="form-horizontal" name="addForm" novalidate>
					<div class="row" style="border-bottom: 1px dashed #000">
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="activeName" class="col-sm-3 control-label"><b>活动名称</b></label>
								<div class="col-sm-8">
									<label for="activInfo.activeName" class="control-label">活动名称活动名称</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="activeUrl" class="col-sm-3 control-label"><b>H5页面链接</b></label>
								<div class="col-sm-8">
									<label for="activInfo.activeUrl" class="control-label"><a href="">https://c.eqxiu.com/s/pyfQuuO3</a></label>
									<!-- src="{{activInfo.H5Url}}" -->
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="shareImage" class="col-sm-3 control-label"><b>分享图片</b></label>
								<div class="col-sm-8">
									<img alt="活动二维码" width="200px" src="app/pages/market/autoMarketDetil/img/active.png">
									<!-- src="{{activInfo.shareImage}}" -->
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="shareRemark" class="col-sm-3 control-label"><b>分享摘要</b></label>
								<div class="col-sm-8">
									<label for="activInfo.shareRemark" class="control-label">分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要分享摘要</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="signIntroduce" class="col-sm-3 control-label"><b>报名介绍</b></label>
								<div class="col-sm-8">
									<label for="activInfo.signIntroduce" class="control-label">报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍报名介绍</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="createUser" class="col-sm-3 control-label"><b>创建人</b></label>
								<div class="col-sm-8">
									<label for="activInfo.createUser" class="control-label">刘杰</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="createTime" class="col-sm-3 control-label"><b>创建时间</b></label>
								<div class="col-sm-8">
									<label for="activInfo.createTime" class="control-label">2018-06-08</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="updateTime" class="col-sm-3 control-label"><b>更新时间</b></label>
								<div class="col-sm-8">
									<label for="activInfo.updateTime" class="control-label">2018-06-08</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="browseTiems" class="col-sm-3 control-label"><b>浏览次数</b></label>
								<div class="col-sm-8">
									<label for="activInfo.browseTiems" class="control-label">1254</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="signNumber" class="col-sm-3 control-label"><b>参与人数</b></label>
								<div class="col-sm-8">
									<label for="activInfo.signNumber" class="control-label">324</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="shareNumber" class="col-sm-3 control-label"><b>分享次数</b></label>
								<div class="col-sm-8">
									<label for="activInfo.shareNumber" class="control-label">768</label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-7" ba-panel ba-panel-class="with-scroll lists-widget">
				<div class="col-md-8">
					<iframe data-tap-disabled="true" style="height: 450px; width: 96%;" ng-src="https://c.eqxiu.com/s/pyfQuuO3"></iframe>
				</div>
				<div class="col-md-4" style="padding-left: 2px;">
					<label for="custName" class="col-sm-3 control-label">活动二维码</label><br /> <img alt="活动二维码"
						src="app/pages/market/autoMarketDetil/img/pyfQuuO3_Mini.png">
					<!-- src = "{{activInfo.QRCode}}" -->
				</div>
			</div>

			</uib-tab> <uib-tab heading="推送人员管理">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<span style="font-size: large;">参与人员列表&nbsp;</span>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="sendMsg()">
						<i class="ion-mail"></i>群发消息
					</button>
				</div>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="queryPerson()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div style="float: right; margin-left: 10px;">
					<input placeholder="人员姓名" style="float: right;" class=" form-control" ng-model="queryPersonObj.personNo" />
				</div>
				<br /> <br />
				<div style="margin-top: 10px;">
					<table class="table table-bordered table-hover table-condensed" st-table="personData" st-safe-src="personList">
						<thead>
							<tr class="sortable">
								<th><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()"></th>
								<th st-sort="seqNo">序号</th>
								<th st-sort="name">姓名</th>
								<th st-sort="sex">性别</th>
								<th st-sort="age">年龄</th>
								<th st-sort="phone">电话</th>
								<th st-sort="address">家庭地址</th>
								<th st-sort="singTime">参加时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item1 in personData">
								<td><input type="checkbox" ng-model="item1.isChecked" ng-change="selectOne()"></td>
								<td id='seqNo'>{{item1.seqNo}}</td>
								<td id='name'>{{item1.name}}</td>
								<td id='sex'>{{item1.sex}}</td>
								<td id='age'>{{item1.age}}</td>
								<td id='phone'>{{item1.phone}}</td>
								<td id='address'>{{item1.address}}</td>
								<td id='singTime'>{{item1.singTime}}</td>
								<td>
									<div class="buttons">
										<button title="客户详情" type="button" class="btn btn-info btn-icon z_btn_icon"
											ng-click="openPersonDetail(item1.personNo)">
											<i class="ion-eye"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										<div class="col-md-7" style="float: right">
											<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
										</div>
										<div class="col-md-5" style="float: right">
											每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
												ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
											</select>
											</label> 条&nbsp;&nbsp;&nbsp; 共{{personTotal||0}}条
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			</uib-tab> <uib-tab heading="参加人员管理">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<span style="font-size: large;">参与人员列表&nbsp;</span>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="sendMsg()">
						<i class="ion-mail"></i>群发消息
					</button>
				</div>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="queryPerson()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div style="float: right; margin-left: 10px;">
					<input placeholder="人员姓名" style="float: right;" class=" form-control" ng-model="queryPersonObj.personNo" />
				</div>
				<br /> <br />
				<div style="margin-top: 10px;">
					<table class="table table-bordered table-hover table-condensed" st-table="personData" st-safe-src="personList">
						<thead>
							<tr class="sortable">
								<th><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()"></th>
								<th st-sort="seqNo">序号</th>
								<th st-sort="name">姓名</th>
								<th st-sort="sex">性别</th>
								<th st-sort="age">年龄</th>
								<th st-sort="phone">电话</th>
								<th st-sort="address">家庭地址</th>
								<th st-sort="singTime">参加时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item1 in personData">
								<td><input type="checkbox" ng-model="item1.isChecked" ng-change="selectOne()"></td>
								<td id='seqNo'>{{item1.seqNo}}</td>
								<td id='name'>{{item1.name}}</td>
								<td id='sex'>{{item1.sex}}</td>
								<td id='age'>{{item1.age}}</td>
								<td id='phone'>{{item1.phone}}</td>
								<td id='address'>{{item1.address}}</td>
								<td id='singTime'>{{item1.singTime}}</td>
								<td>
									<div class="buttons">
										<button title="客户详情" type="button" class="btn btn-info btn-icon z_btn_icon"
											ng-click="openPersonDetail(item1.personNo)">
											<i class="ion-eye"></i>
										</button>
										<button title="生成正式客户" type="button" class="btn btn-primary btn-icon z_btn_icon" ng-click="addUser()">
											<i class="ion-person-add"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										<div class="col-md-7" style="float: right">
											<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
										</div>
										<div class="col-md-5" style="float: right">
											每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
												ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
											</select>
											</label> 条&nbsp;&nbsp;&nbsp; 共{{personTotal||0}}条
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			</uib-tab> </uib-tabset>
		</div>
	</div>
</div>