<div class="widgets" ng-controller="autoMarketDetilCtrl">
	<div class="row">
		<div class="col-md-3 padding_">
			<div ba-panel ba-panel-class="with-scroll lists-widget" ba-panel-title="活动详情">
				<div class="section-block">
					<div>
						<a href="" ng-click="editActivInfo()"> <i class="ion-compose"></i>修改活动信息
						</a>
					</div>
					<div class="accent">
						活动名称
						<p style='float: right'>{{activInfo.activName}}</p>
					</div>
					<div class="accent">
						活动开始时间
						<p style='float: right'>{{activInfo.startDate}}</p>
					</div>
					<div class="accent">
						活动结束时间
						<p style='float: right'>{{activInfo.endDate}}</p>
					</div>
					<div class="accent">
						活动说明
						<p style='float: right'>{{activInfo.activDesc}}</p>
					</div>
					<div class="accent">
						活动状态
						<p style='float: right'>{{activInfo.activStat}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="z_home_flex">
				<div class="z_home_impot">
					<div class="panel panel-primary contextual-example-panel bootstrap-panel z_home_panel">
						<div class="panel-heading">页面访问PV</div>
						<div class="panel-body">
							<h1 style="text-align: center">3129</h1>
						</div>
					</div>
				</div>

				<div class="z_home_impot">
					<div class="panel panel-info contextual-example-panel bootstrap-panel z_home_panel">
						<div class="panel-heading">吸引点击次数</div>
						<div class="panel-body">
							<h1 style="text-align: center">1230</h1>
						</div>
					</div>
				</div>

				<div class="z_home_impot">
					<div class="panel panel-danger contextual-example-panel bootstrap-panel z_home_panel">
						<div class="panel-heading">活动领取人数</div>
						<div class="panel-body">
							<h1 style="text-align: center">40</h1>
						</div>
					</div>
				</div>
				<div class="z_home_impot">
					<div class="panel panel-danger contextual-example-panel bootstrap-panel z_home_panel">
						<div class="panel-heading">优惠券使用人数</div>
						<div class="panel-body">
							<h1 style="text-align: center">40</h1>
						</div>
					</div>
				</div>
			</div>
			<uib-tabset> <uib-tab heading="参加人员管理">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<span style="font-size: large;">参与人员列表&nbsp;</span>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="sendMsg()">
						<i class="ion-mail"></i>群发消息
					</button>
				</div>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="queryPerson()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div style="float: right; margin-left: 10px;">
					<input placeholder="人员姓名" style="float: right;" class=" form-control" ng-model="queryPersonObj.personNo" />
				</div>
				<br /> <br />
				<div style="margin-top: 10px;">
					<table class="table table-bordered table-hover table-condensed" st-table="personData" st-safe-src="personList">
						<thead>
							<tr class="sortable">
								<th><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()"></th>
								<th st-sort="seqNo">序号</th>
								<th st-sort="name">姓名</th>
								<th st-sort="sex">性别</th>
								<th st-sort="age">年龄</th>
								<th st-sort="phone">电话</th>
								<th st-sort="address">家庭地址</th>
								<th st-sort="singTime">参加时间</th>
								<th st-sort="allCount">领取优惠券数</th>
								<th st-sort="usedCount">使用优惠券数</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item1 in personData">
								<td><input type="checkbox" ng-model="item1.isChecked" ng-change="selectOne()"></td>
								<td id='seqNo'>{{item1.seqNo}}</td>
								<td id='name'>{{item1.name}}</td>
								<td id='sex'>{{item1.sex}}</td>
								<td id='age'>{{item1.age}}</td>
								<td id='phone'>{{item1.phone}}</td>
								<td id='address'>{{item1.address}}</td>
								<td id='singTime'>{{item1.singTime}}</td>
								<td id='allCount'>{{item1.allCount}}</td>
								<td id='usedCount'>{{item1.usedCount}}</td>
								<td>
									<div class="buttons">
										<button title="客户详情" type="button" class="btn btn-info btn-icon z_btn_icon"
											ng-click="openPersonDetail(item1.personNo)">
											<i class="ion-eye"></i>
										</button>
										<button title="生成正式客户" type="button" class="btn btn-primary btn-icon z_btn_icon" ng-click="addUser()">
											<i class="ion-person-add"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										<div class="col-md-7" style="float: right">
											<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
										</div>
										<div class="col-md-5" style="float: right">
											每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
												ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
											</select>
											</label> 条&nbsp;&nbsp;&nbsp; 共{{personTotal||0}}条
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			</uib-tab> <uib-tab heading="群发消息记录">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="doQueryGroupOper()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div style="float: right; margin-left: 10px;">
					<input placeholder="消息主题/内容" style="float: right;" class=" form-control" ng-model="obj.queryCondition" />
				</div>
				<br /> <br /> <br />
				<table class="table table-bordered table-hover table-condensed" st-table="tableData" st-safe-src="GroupMsgList">
					<thead>
						<tr class="sortable">
							<th st-sort="msgTitle">消息主题</th>
							<th st-sort="msgContent">消息内容</th>
							<th st-sort="sendChannel">发送渠道</th>
							<th st-sort="sendTime">发送时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in tableData">
							<td id="msgTitle">{{item.msgTitle}}</td>
							<td id="msgContent">{{item.msgContent}}</td>
							<td id="sendChannel">{{item.sendChannel}}</td>
							<td id="sendTime">{{item.sendTime}}</td>
							<td>
								<button title="查看" class="btn btn-info btn-icon" ng-click="showOperDetail(item)">
									<i class="ion-eye"></i>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
											ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
										</select>
										</label> 条&nbsp;&nbsp;&nbsp; 共{{msgTotal||0}}条
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			</uib-tab> <uib-tab heading="活动反馈记录">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="addBusiOpp()">
						<i class="ion-search"></i>生成商机
					</button>
				</div>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="entryFeedBack()">
						<i class="ion-search"></i>录入
					</button>
				</div>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="doQueryGroupOper()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div style="float: right; margin-left: 10px;">
					<input placeholder="客户姓名" style="float: right;" class=" form-control" ng-model="obj.queryCondition" />
				</div>
				<br /> <br /> <br />
				<table class="table table-bordered table-hover table-condensed" st-table="tableData" st-safe-src="feedBackList">
					<thead>
						<tr class="sortable">
							<th st-sort="name">客户姓名</th>
							<th st-sort="isFormalCust">是否正式客户</th>
							<th st-sort="custLevel">客户等级</th>
							<th st-sort="activSuggest">活动意见</th>
							<th st-sort="feedBackTime">反馈时间</th>
							<th st-sort="isDispos">是否已处理</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in tableData">
							<td id="name"><a>{{item.name}}</a></td>
							<td id="isFormalCust">{{item.isFormalCust}}</td>
							<td id="custLevel">{{item.custLevel}}</td>
							<td id="activSuggest">{{item.activSuggest}}</td>
							<td id="feedBackTime">{{item.feedBackTime}}</td>
							<td id="isDispos">{{item.isDispos}}</td>
							<td>
								<button title="查看" class="btn btn-info btn-icon" ng-click="showOperDetail(item)">
									<i class="ion-eye"></i>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
											ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
										</select>
										</label> 条&nbsp;&nbsp;&nbsp; 共{{feedBackTotal||0}}条
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			</uib-tab> <uib-tab heading="任务列表" ng-click="showButton(true)">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="addTask()">
						<i class="ion-plus-round"></i>新建
					</button>
				</div>
				<div class="btn-group" style="float: right; margin-left: 10px;">
					<button type="button" style="float: right;" class="btn btn-primary" ng-click="doQueryGroupOper()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div style="float: right; margin-left: 10px;">
					<input placeholder="任务名称" style="float: right;" class=" form-control" ng-model="obj.queryCondition" />
				</div>
				<br /> <br /> <br />
				<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="taskList">
					<thead>
						<tr class="black-muted-bg">
							<th><label for="flag"><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()">
							</label></th>
							<th st-sort="seqNo">序号</th>
							<th st-sort="taskName">任务名称</th>
							<th st-sort="startTime">开始时间</th>
							<th st-sort="endTime">结束时间</th>
							<th st-sort="budget">预算</th>
							<th st-sort="chargePerson">负责人</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in smartTableData" class="editable-row">
							<td><input type="checkbox" ng-model="item.checked" ng-change="selectOne()"> <span></span></td>
							<td><span>{{item.seqNo }}</span></td>
							<td><span>{{item.taskName }}</span></td>
							<td><span>{{item.startTime }}</span></td>
							<td><span>{{item.endTime }}</span></td>
							<td><span>{{item.budget }}</span></td>
							<td><span>{{item.chargePerson }}</span></td>
							<td>
								<button title="删除" class="btn btn-danger btn-icon" ng-click="showOperDetail(item)">
									<i class="ion-trash-a"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</uib-tab> </uib-tabset>
		</div>
	</div>
</div>