<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">消息模板新增</h4>
				</div>


                <div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="tplNo" class="col-sm-4 control-label">模板编码</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="tplNo" name="tplNo" ng-model="msgTpl.tplNo" required
									 >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="tplTitle" class="col-sm-4 control-label">模板标题</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="tplTitle" name="tplTitle" ng-model="msgTpl.tplTitle" maxlength="50"
									   required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label  class="col-sm-4 control-label">业务类型</label>
							<div class="col-sm-8">
								<select ng-model="selectedBusiType" class="form-control input-normal" ng-options="x.label for x in busiTypeList"ng-change="selectBusiType(selectedBusiType)">
									<option value="" hidden> </option></select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label  class="col-sm-4 control-label">模板类型</label>
							<div class="col-sm-8">
								<select ng-model="selectedTplType" class="form-control input-normal" ng-options="x.label for x in tplTypeList"ng-change="selectTplType(selectedTplType)"></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12" style="float: left">
					  <div class="form-group">
					    <label for="tplCont" class="col-sm-2 control-label">模板内容</label>
						  <div class="col-sm-9" style="padding-right:0;">
					    	<textarea maxlength="200" placeholder="输入模板内容(200字以内) ..." class="form-control input-normal" id="tplCont" ng-model="msgTpl.tplCont" required></textarea>
					   	 </div>
					  </div>
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
