<div ng-controller="QuitBusiJoinServPromCtrl">
	<div class="row" >
	    <div class="col-md-12">
	      <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <form class="form-horizontal" name="modifyForm" novalidate>
            <div class="row">
                <div class="col-md-2">
                    <label class="grid-title">客户列表</label>
                </div>
                <div class="add-row-editable-table z_cusmnt" style="float: right">
                    <button class="btn btn-primary btn-with-icon" ng-click="searchUser()"><i class="ion-search"></i>查询</button>
                    <button class="btn btn-primary btn-with-icon" ng-click="clearUserSearch()"><i class="ion-refresh"></i>重置</button>
					<button class="btn btn-primary btn-with-icon" ng-click="transferUser()"><i class="ion-arrow-swap"></i>分配</button>
                </div>
				<div class="col-sm-3 z_custmnt_padding" style="float: right;">
					<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户名称/客户编号">
				</div>
				<div class="col-sm-3 z_custmnt_padding" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.custAgent" placeholder="员工姓名/员工编号">
				</div>
            </div>
        </form>
			  <table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="rowCollection">
			    <thead>
				     
				    <tr class="sortable">
					      <th st-sort="deptID">部门编号</th>
					      <th st-sort="deptName">部门名称</th>
					      <th st-sort="empID">员工编号</th>
					      <th st-sort="empName">员工姓名</th>
					      <th st-sort="quitDate">离职日期</th>
					      <th st-sort="custID">客户编号</th>
					      <th st-sort="custName">客户姓名</th>
					      <th st-sort="disStatus">分配状态</th>
					      <th st-sort="proID">产品编号</th>
					      <th st-sort="proName">产品名称</th>
					      <th st-sort="disJoinEmp">分配衔接员工</th>
					      <th>操作</th>
				    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in smartTableData">
			      <td>{{item.deptID}}</td>
			      <td>{{item.deptName}}</td>
			      <td>{{item.empID}}</td>
			      <td>{{item.empName}}</td>
			      <td>{{item.quitDate}}</td>
			      <td>{{item.custID}}</td>
			      <td>{{item.custName}}</td>
			      <td>{{item.disStatus}}</td>
			      <td>{{item.proID}}</td>
			      <td>{{item.proName}}</td>
			      <td>{{item.disJoinEmp}}</td>
			      <td>
			      	  <div class="buttons">
				        <button class="btn btn-info editable-table-button btn-xs" ng-click="open('app/pages/cusService/incServPush/incServPushAdd.html')" >分配</button>
				      </div>
			      </td>
			    </tr>
			    </tbody>
			    <tfoot>
				<tr>
					<td colspan="12" class="text-left">
					<div class="row">
						<div class="col-md-5">
							<div>
							每页
							<label>
								<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
										ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
							</label>
							条&nbsp;&nbsp;&nbsp;
							共{{total}}条
						</div>
						</div>
						<div class="col-md-7">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
						</div>
					</div>
					</td>
				</tr>
			    </tfoot>
			  </table>
		</div>
		</div>
	</div>
</div>
