
<style type="text/css">
	/*.panel{border: 0px;border-radius: 0px;margin-bottom:0px;}*/
	/*.panel-heading{border-top-right-radius: 0px; border-top-left-radius: 0px;}*/
	/*a{color:#FEF4F4}*/
	/*#ruleList{cursor: pointer}*/
	.table > tbody > tr > td:first-child {
		text-align: left;
	}
</style>

<div ng-controller="addCombineruleCtrl">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading" id="ruleList">待选基本规则清单</div>
			<div class="panel-body">
				<form class="form-horizontal" name="modifyForm" novalidate>
					<div class="row">
						<div class="col-md-2">
							<label class="grid-title">基本规则配置</label>
						</div>
						<div class="add-row-editable-table zmarg_right" style="float: right">
							<button class="btn btn-primary btn-with-icon" ng-click="searchBaseRule()">
								<i class="ion-search"></i>查询
							</button>
							
						</div>
						<div class="col-sm-2 zmarg_right" style="float: right">
							<div class="form-group">
								<div class="">
									<ui-select id="res_data_type" name="res_data_type"
											   class="btn-group bootstrap-select form-control"
											   ng-change="showTreeInfo($select.selected)"
											   ng-model="isUsed.value">
										<ui-select-match>
											<span ng-bind="$select.selected.name"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in itemArray">
											<span ng-bind="item.name"></span>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="col-sm-3" style="float: right">
							<input type="text" class="form-control" ng-model="searchObj.ruleName" placeholder="基本规则名称">
						</div>

					</div>
				</form>

				<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="BaseRuleRowCollection">
					<thead>
					<div class="row">
					<tr class="black-muted-bg">
						<th class="col-md-4" st-sort="ruleName" style="text-align: left">基本规则名称</th>
						<th class="col-md-7" st-sort="expression">基本规则表达式</th>
						<th class="col-md-1" st-sort="isUsed">是否被使用</th>
					</tr>
					</div>
					</thead>
					<tbody>
					<tr ng-repeat="item in smartTableData" class="editable-row" ng-dblclick="combineRuleAdd.addRow(item)">
						<td><span >{{ item.ruleName }}</span></td>
						<td><span >{{item.remark }}</span></td>
						<td><span >{{item.isUsed }}</span></td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="11" class="text-center">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">组合规则配置信息</div>
			<div class="panel-body">
				<form class="form-horizontal" id="addFrom" onkeydown="if(event.keyCode==13)return false;">
					<div class="form-group  form-group-sm">
						<label for="combineRuleName" class="col-sm-2 control-label">组合规则名称：</label>
						<div class="col-sm-4">
							<input type="text" name="combineRuleName" class="form-control" id="combineRuleName" placeholder="组合规则名称">
						</div>
					</div>
					<div class="form-group  form-group-sm">
						<label for="combineRuleName" class="col-sm-2 control-label">已选中基本规则清单：</label>
						<div class="col-sm-8">

							<table id="baseRuleTable" class="table table-bordered table-hover table-condensed">
								<tr class="black-muted-bg">
									<td align="center" style="width:60px;">编号</td>
									<td align="center" style="width:150px;">基本规则名称</td>
									<td align="center">表达式</td>
									<td align="center" style="width:120px;">操作</td>
								</tr>
								<tr>
									<td class="empty" colspan="4" style="text-align:center;">当前列表为空</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="col-sm-2 control-label">基本规则公式：</label>
						<div class="col-sm-4">
							<button type="button" class="btn btn-sm btn-default dropdown-toggle drag-item" onclick="addExp(this)"><span exp="&&">&&</span></button>
							<button type="button" class="btn btn-sm btn-default dropdown-toggle drag-item" onclick="addExp(this)"><span exp="||">||</span></button>
							<button type="button" class="btn btn-sm btn-default dropdown-toggle drag-item" onclick="addExp(this)"><span exp="(">(</span></button>
							<button type="button" class="btn btn-sm btn-default dropdown-toggle drag-item" onclick="addExp(this)"><span exp=")">)</span></button>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<div class="col-sm-offset-2 col-sm-8" >
							<div class="oc_tags  drag-target sortable" style="height: 100px;width:100%;background: #f0f3f4;">
							</div>
						</div>
					</div>
					<div class="form-group  form-group-sm">
						<label for="remark" class="col-sm-2 control-label">组合规则表达式：</label>
						<div class="col-sm-8">
							<textarea name="remark" readonly class="form-control" id="remark" style="color:#6a6a6a" placeholder="组合规则表达式呈现样例：客户年龄 > 18 & 本次交易金额 > 30000"></textarea>
						</div>
					</div>
					<div class="form-group form-group-sm">
					</div>
				</form>
				<div style="text-align:center;">
					<button class="btn btn-primary btn-with-icon right" ng-click="combineRuleAdd.save()">保存</button>
					<button type="button" class="btn btn-primary btn-raised right" ng-click="backRole()">返回</button>
				</div>
				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" language="javascript">
    /**
     * 编辑器增加规则表达式
     * @param obj
     */
    function addExp(obj){
        var span = $(obj).html();

        var expStr = "<div class='oc_tag'>"
            + span
            + "<div class='oc_tag_remove'>X</div>"
            + "<div style='clear: both;'></div>"
            + "</div>"

        $(".oc_tags").append(expStr);
        this.addHoverEffet($(".oc_tag"))
        this.addRemoveEffect($(".oc_tag_remove"))

        this.updateAddCombruleTranslation();
    }

    /**
     * 增加鼠标滑过效果
     * @param obj
     */
    function addHoverEffet(obj){
        obj.unbind();
        obj.hover(function(){
            $(this).find(".oc_tag_remove").show();
        },function(){
            $(this).find(".oc_tag_remove").hide();
        })
    }

    /**
     * 增加鼠标点击关闭效果
     * @param obj
     */
    function addRemoveEffect(obj){
        obj.unbind();
        obj.bind("click",function(){
            $(this).parent().remove();
            updateAddCombruleTranslation();
        });
    }

    /**
     * 更新因子表达式的译文
     */
    function updateAddCombruleTranslation() {
        $("#remark").val("");
        $(".sortable > *").each(function(){
            var exp = $(this).find("[exp]").attr("exp");
            var translation =  $("#baseRuleTable span:contains('"+exp+"')").closest("td").next().next().html();
            translation = (translation||"").replace(/\&lt;/g, '<').replace(/\&gt;/g, '>').replace(/\&amp;/g, '&') || exp;
            $("#remark").val($("#remark").val() +" "+ translation);
        });
    }

    function blurCheck(obj){
        var value = $(obj).val();
        var reg = /^\d+$/;
        if($.trim(value)!=""){
            var re = value.match(reg);
            if(re== null){
                $(obj).val(0);
                // parent.layer.alert("请输入非负数字!",{icon: 2});
                return;
            }}else{
            $(obj).val(0);
            // parent.layer.alert("请输入非负数字!",{icon: 2});
            return;
        }
        updateAddCombruleTranslation();
    };
</script>
