<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">客户分配</font></div>
                <div class="panel-body">
				<form class="form-horizontal" name="modifyForm" novalidate>
						<!-- <div class="row" ng-show="show" >
                           <div class="col-md-6 col-lg-6" >
                               <div class="form-group" >
                               	   <label for="chgReason"  class="z_custdetailadd_lable">分配原因</label>
                                   <ui-select ng-model="custSaleChgTrace.chgReason" ng-change="eitherShow(custSaleChgTrace.chgReason.value)" 
                                             class="btn-group bootstrap-select form-control z_custdetail_inline"
                                             search-enabled="false"
                                             id="chgReason">
                                       <ui-select-match>
                                           <span> {{$select.selected.label}}</span>
                                       </ui-select-match>
                                       <ui-select-choices repeat="chgReason in chgReasonItems">
                                           <span ng-bind-html="chgReason.label"></span>
                                       </ui-select-choices>
                                   </ui-select>
                               </div>
                           </div>
                           <div class="col-md-6 col-lg-6" ng-show="showOtherReason">
                               <div class="form-group">
                                   <label for="otherReason" class="z_custdetailadd_lable">其他原因</label>
                                   <input type="text" class="form-control z_custdetail_inline" id="otherReason" ng-model="custSaleChgTrace.otherReason">
                               </div>
                           </div>
	                    </div> -->
						<div class="row">
							<div class="col-md-2">
								<label class="grid-title">销售人员选择</label>
							</div>
							<div class="add-row-editable-table" style="float: right;margin-right:15px;">
								<button class="btn btn-primary btn-with-icon" ng-click="searchUser()"><i class="ion-search"></i>查询</button>
							</div>
							<div class="col-sm-2" style="float: right">
								<input type="text" class="form-control" ng-model="searchObj.userName" placeholder="用户姓名">
							</div>
							<div class="col-sm-2" style="float: right">
								<input type="text" class="form-control" ng-model="searchObj.userId" placeholder="用户账号">
							</div>							
						</div>
					</form>
					<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="UserRowCollection">
						<thead>
						<tr  class="black-muted-bg">
							<!--<th class="table-id" st-sort="id" st-sort-default="true">#</th>-->
							<th>选择</th>
							<th st-sort="userId">用户账号</th>
							<th st-sort="userName">用户姓名</th>
							<th st-sort="employeeId">员工编号</th>
							<th st-sort="sex">性别</th>
							<th st-sort="userStat">用户状态</th>
							<th st-sort="enterName">所属机构</th>
							<th st-sort="deptName">所属部门</th>
							<th st-sort="posiName">所属岗位</th>
						</tr>

						</thead>
						<tbody>
						<tr ng-repeat="item in smartTableData" class="editable-row">
							<!--<td class="table-id">{{item.id}}</td>-->
							<td><input type="radio"  name="radio1" id="inlineRadio1" value="{{ item.userId }}" ng-change="select(item)" ng-model="radioRptOptions.select" > <span></span>
							<td>{{item.userId }}</td>
							<td>{{item.userName }}</td>
							<td>{{item.employeeId }}</td>
							<td>{{ShowGender(item) }}</td>
							<td> {{ShowUserStat(item) }} </td>
							<td> {{item.enterName }}</td>
							<td> {{item.deptName }}</td>
							<td>{{item.posiName }}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页
										<label>
											<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
													ng-model="impsmartTabPgSize" ng-options="i for i in [5,10,15,20,25]">
											</select>
										</label>
										条&nbsp;&nbsp;&nbsp;
										共{{total||0}}条
									</div>
								</div>
							</td>
						</tr>
						</tfoot>
					</table>

				<div class="row zaddperassets_textcenter zpercusportra_ptop">
			        <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
			        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">确定</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
