<div ng-controller="mapServiceCtrl">
	<div class="row">
		<div class="col-md-3" style="padding-left:0" ba-panel ba-panel-title="定位信息" ba-panel-class="with-scroll button-panel viewport100">
			<div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <select style="border: solid 1px #d0d0d0" id="queryType" name="queryType" ng-model="selectedName"
					    ng-options="x.label for x in queryTypes"
					    ng-change="getChangeECode()"
						class="btn-group bootstrap-select form-control">
						<option value="" label="--请选择查询类型--" disabled selected></option>
					</select>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <select style="border: solid 1px #d0d0d0" id="privince" name="province" ng-model="selectedName1"
					    ng-options="x.label for x in provinces"
					    ng-change="getChangeECode()"
						class="btn-group bootstrap-select form-control">
						<option value="" label="--请选择省份--" disabled selected></option>
					</select>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <select style="border: solid 1px #d0d0d0" id="city" name="city" ng-model="selectedName2"
					    ng-options="x.label for x in citys"
					    ng-change="getChangeECode()"
						class="btn-group bootstrap-select form-control">
						<option value="" label="--请选择城市--" disabled selected></option>
					</select>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <select style="border: solid 1px #d0d0d0" id="county" name="county" ng-model="selectedName3"
					    ng-options="x.label for x in countys"
					    ng-change="getChangeECode()"
						class="btn-group bootstrap-select form-control">
						<option value="" label="--请选择区县--" disabled selected></option>
					</select>
                </div>
            </div>
			<div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <input type = "text" class="form-control" id="currentPosition" name = "currentPosition" placeholder="客户位置" ng-model="queryObj.currentPosition">
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <input type = "text" class="form-control" id="currentPosition" name = "currentPosition" placeholder="大厦名称" ng-model="queryObj.currentPosition">
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <input type = "text" class="form-control" id="currentPosition" name = "currentPosition" placeholder="小区名称" ng-model="queryObj.currentPosition">
                </div>
            </div>
            <div class="row">
            	<div class="add-row-editable-table zmarg_right">
				<button class="btn btn-primary btn-with-icon" ng-click="searchRep()">查询</button>
				<button class="btn btn-primary btn-with-icon" ng-click="resetRep()">重置</button>
				</div>
			</div>
		</div>

	     <div class="col-md-9" style="padding:0;" ba-panel ba-panel-title="地图工具" ba-panel-class="with-scroll viewport100">
			 <div class="">
			 </div>
	     </div>

	</div>
</div>
