 <div class="modal-content" style="box-shadow:none;">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
			<em class="ion-ios-close-empty sn-link-close"></em>
		</button>
		<h4 class="modal-title" id="myModalLabel">保单详情</h4>
	</div>
    <div class="modal-body">
		<form name="custDetailForm" novalidate>
			<uib-tabset active="0">
                <uib-tab heading="承保信息">
                	<div class="panel-body" ng-class="{'z_custDetail_show':0 == information_a}">
	                    <div class="row">
	                     	<div class="col-sm-4">
								<label class="col-sm-5 line_height34">保单号：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.policyNo'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">险种名称：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.riskCname'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">被保险人：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.insuredName'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">签单日期：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.operateDate'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">起保日期：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.startDate'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">终保日期：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.endDate'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">保单状态：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.policyState'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">是否续保：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.reneWind'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">业务归属机构：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.companyCode'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">业务员：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.salesmanCode'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">业务来源：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.businessSource'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">中介代码：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.intermeDiaryCode'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">总保额：</label>
								<div class="col-sm-7 line_height34" >{{(policyDetail.sumInsured || "0.00")|number:'2'}}</div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">总保费：</label>
								<div class="col-sm-7 line_height34" >{{(policyDetail.sumgrossPremium || "0.00")|number:'2'}}</div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">缴费日期：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.payDate'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">被保险人电话：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.mobilephone'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">联系人：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.contactName'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">联系人电话：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.contactPhone'></div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-5 line_height34">受益人：</label>
								<div class="col-sm-7 line_height34" ng-bind='policyDetail.person'></div>
							</div>
							<div class="col-sm-4" ng-if="riskCode=='0801'">
								<label class="col-sm-5 line_height34">车船税：</label>
								<div class="col-sm-7 line_height34" >{{(policyDetail.sumpayTax || "0.00")|number:'2'}}</div>
							</div>
	                    </div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h4>特约信息</h4>
							<table class="table table-bordered table-hover table-condensed" st-table="risk" st-safe-src="clauseList">
								<thead>
									<tr class="sortable black-muted-bg">
										<th>序号</th>
										<th>特别约定代码</th>
										<th>特别约定名称</th>
										<th>特别约定内容</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat='item in clauseList'>
										<td>{{$index+1}}</td>
										<td>{{item.clauseCode}}</td>
										<td>{{item.clauseCname}}</td>
										<td title="{{item.clauseContext}}"><span class="nowap-ellipsis clauseContext">{{item.clauseContext}}</span></td>
									</tr>
								</tbody>
								<tfoot>
									<tr ng-show='false'>
										<td colspan="12">
											<st-pager opts="clauseOpts"></st-pager>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<div class="col-sm-12">
							<h4>险别列表</h4>
							<table class="table table-bordered table-hover table-condensed" st-table="risk" st-safe-src="riskList">
								<thead>
									<tr class="sortable black-muted-bg">
										<th>序号</th>
										<th>险别名称</th>
										<th>分项保额</th>
										<th>分项保费</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat='item in riskList'>
										<td>{{$index+1}}</td>
										<td>{{item.kindName}}</td>
										<td>{{(item.suminSured || "0.00")|number:'2'}}</td>
										<td>{{(item.grossPremium||"0.00")|number:'2'}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr ng-show="false">
										<td colspan="12">
											<st-pager opts="riskOpts"></st-pager>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<div class="col-sm-12">
							<h4>收付列表</h4>
							<table class="table table-bordered table-hover table-condensed" st-table="payMent" st-safe-src="payMentList">
								<thead>
									<tr class="sortable black-muted-bg">
										<th>序号</th>
										<th>缴费日期</th>
										<th>缴费金额</th>
										<th>缴费方式</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in payMentList">
										<td>{{item.paymentNo}}</td>
										<td>{{item.payDate}}</td>
										<td>{{(item.payFee||"0.00")|number:'2'}}</td>
										<td>{{item.payWay}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr ng-show="false">
										<td colspan="12">
											<st-pager opts="payMentOpts"></st-pager>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
                </uib-tab>	
                <uib-tab heading="批单信息">
                	<div class="panel-body" ng-class="{'z_custDetail_show':1 == information_a}">
	                    <div class="row">
	                        <div class="col-sm-12">
								<h4>批单列表</h4>
								<table class="table table-bordered table-hover table-condensed" st-table="endor" st-safe-src="endorList">
									<thead>
										<tr class="sortable black-muted-bg">
											<th>批单号</th>
											<th>申请批改日期</th>
											<th>批改生效日期</th>
											<th>批改类型</th>
											<th>申请批改人</th>
											<!-- <th>批单状态</th> -->
											<th>批改原因</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in endorList" >
											<td>{{item.endorNo}}</td>
											<td>{{item.endorDate}}</td>
											<td>{{item.validDate}}</td>
											<td>{{item.endorType}}</td>
											<td>{{item.handlerCode}}</td>
											<!-- <td>{{item.underWriteInd}}</td> -->
											<td>{{item.underWriteReason}}</td>
											<td>
												<div class="buttons">
													<button title="查看" class="btn btn-info btn-icon"
															 ng-click='endorseInfo(item)'
													><i class="ion-eye"></i></button>
												</div>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr ng-show="false">
											<td colspan="12">
												<st-pager opts="endorOpts"></st-pager>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
	                    </div>
	                </div>
                </uib-tab>	
                <uib-tab heading="理赔信息">
                	<div class="panel-body" ng-class="{'z_custDetail_show':2 == information_a}">
	                   <div class="row">
	                   		<div class="form-group col-sm-12" style="overflow: auto;">
		                       	<h4>理赔列表</h4>
								<table class="table table-bordered table-hover table-condensed" st-table="Claim" style="width:100%;overflow: scroll;" st-safe-src="ClaimList">
									<thead>
										<tr class="sortable black-muted-bg">

											<th>报案号</th>
											<!--<th>保单号</th>-->
											<th>被保险人</th>
											<th>险种代码</th>
											<th>险种名称</th>
											<th>出险日期</th>
											<th>报案日期</th>
											<th>结案日期</th>
											<th>报案人</th>
											<th>案件状态</th>
											<th>案件处理进展</th>
											<!-- <th>出险地点</th>
											<th>事故原因</th>
											<th>报案人电话</th>
											<th>驾驶员</th>
											<th>驾驶员电话</th>
											<th>分项赔付金额</th>
											<th>赔款日期</th>
											<th>赔款金额</th>
											<th>赔款方式</th>
											<th>支付对象</th> -->
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in ClaimList" >
											<td>{{item.registNo}}</td>
											<!--<td>{{item.policyNo}}</td>-->
											<td>{{item.insuredName}}</td>
											<td>{{item.riskCode}}</td>
											<td>{{item.riskCname}}</td>
											<td>{{item.damageDate}}</td>
											<td>{{item.reportDate}}</td>
											<td>{{item.endcaseDate}}</td>
											<td>{{item.reportorName}}</td>
											<td>{{item.cancelFlag}}</td>
											<td>{{item.nodeCname}}</td>
										<!-- 	<td>{{item.damageAddress}}</td>
											<td>{{item.damageName}}</td>
											<td>{{item.reportorNumber}}</td>
											<td>{{item.driverName}}</td>
											<td>{{item.linkPhoneNumber}}</td>
											<td>{{item.sumpaId}}</td>
											<td>{{item.indemnityDate}}</td>
											<td>{{item.indemnityMoney}}</td>
											<td>{{item.indemnityType}}</td>
											<td>{{item.PayMent}}</td> -->
											<td>
												<div class="buttons">
													<button title="查看" class="btn btn-info btn-icon"
															ng-click='ClaimDetail(item.policyNo,item)'
													><i class="ion-eye"></i></button>
												</div>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr ng-show="false">
											<td colspan="36">
												<st-pager opts="claimOpts"></st-pager>
											</td>
										</tr>
									</tfoot>
								</table>
		                    </div>
	                   </div>
	                </div>
                </uib-tab>
    		</uib-tabset>
        </form>
    </div>
    <div class="modal-footer">
    	<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
    </div>
</div>
