<div class="widgets" ng-controller="qryProductCtrl">
	<div ba-panel  ba-panel-class="with-scroll">
		<form class="form-horizontal" name="addForm" novalidate >
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						查询条件
					</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-5" >
					<label  class="z_custdetailadd_lable">产品名称</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchConditions.productNam" placeholder="产品名称">
				</div>
				<div class="col-md-5" >
					<label  class="z_custdetailadd_lable">产品代码</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchConditions.productCd" placeholder="产品代码">
				</div>
			</div>
			<div class="row split-div">
				<HR  class="split-line">
				<div>
					<button class="btn btn-primary btn-with-icon" ng-click="search()">
						<i class="ion-search"></i>查询
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						产品信息列表
					</label>
				</div>
			</div>
		</form>
		<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="RowCollection">
			<thead>
			<tr class="black-muted-bg">
				<th st-sort="productCd">产品代码</th>
				<th st-sort="productNam">产品名称</th>
				<th st-sort="productTyp">产品分类</th>
				<th st-sort="productVer">产品版本</th>
				<th st-sort="premium">保费</th>
				<th st-sort="amount">保额</th>
				<th st-sort="saleChnl">销售渠道</th>
				<th st-sort="effDate">生效日期</th>
				<th st-sort="expDate">失效日期</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in smartTableData" class="editable-row">
				<td><span>{{ item.productCd }}</span></td>
				<td><span>{{ item.productNam }}</span></td>
				<td><span>{{ ShowProductTyp(item) }}</span></td>
				<td><span>{{ item.productVer }}</span></td>
				<td><span>{{ item.premium }}</span></td>
				<td><span>{{ item.amount }}</span></td>
				<td><span>{{ ShowSaleChnl(item) }}</span></td>
				<td><span>{{ item.effDate }}</span></td>
				<td><span>{{ item.expDate }}</span></td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="9" class="text-center">
					<st-pager opts = "queryProductOptions" pageSize = "10"></st-pager>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>

 