<!-- <div class="widgets"  ng-controller="smsgroupsendCtrl">
    <form class="form-horizontal" >
		<div class="row" >
			<div class="col-md-3" >
				<div ba-panel ba-panel-title="短信模板"  >
					
					<div style="padding-top:10px;" >
						<div class="button-wrapper" style="padding-left:30px;text-align:left;" ng-repeat="role in RowCollection">
							<a class="z_authmgr"  ng-class="{'z_authmgr_hr':role.tplTitle==roleObj.tplTitle}"  ng-click="chooseModal(role,'')">{{role.tplTitle}}</a>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="col-md-9">
				<div ba-panel ba-panel-title="群发" ba-panel-class="horizontal-scroll" >
					<div class="form-group">
					    <label for="input01" class="col-sm-2 control-label">群发标题<span style="color:#ff0000;">*</span></label>
					    <div class="col-sm-10"><input type="text" class="form-control"  id="input01" placeholder="请填写1-49个字的标题名称" ng-model="roleObj.msgTopic"    ></div>
					    <div class="col-sm-offset-2  col-sm-10" ><span style="color:#ff0000;">群发标题不能为空</span></div>
				  	</div>
				
				  	
				  	<div class="form-group">
				  		<input type="text" hidden ng-modal='roleObj.tplTitle'>
					    <label for="input03" class="col-sm-2 control-label">
					    	发送内容<br/>
					    </label>
					    <div class="col-sm-10"><textarea type="text" class="form-control"  ng-model="roleObj.msgContent"  id="input03" placeholder="点击左侧短信菜单获取短信模板或手动输入短信内容"/></div>
					    <div class="col-sm-offset-2  col-sm-10" ><span style="color:#ff0000;">短信模板内的XXX表示需要您替换的内容，请编辑完成后再发送！</span></div>
				  	</div>
				  	<div class="form-group">
					    <label for="input03" class="col-sm-2 control-label">发送对象</label>
					    <div class="col-sm-10">
						    <ui-select multiple ng-model="roleObj.sendObj"
						               ng-disabled="false"
						               search-enabled="true"
						               append-to-body="true"
						               class="form-control "
						               ng-click="changeGroup(roleObj.sendObj)">
						      <ui-select-match placeholder="选择客户群">
						        {{$item.label}}
						      </ui-select-match>
						      <ui-select-choices repeat="multipleItem in groupListOptions | filter: $select.search">
						        {{multipleItem.label}}
						      </ui-select-choices>
						    </ui-select>
						</div>
					</div>
				
				  	
				  	<div class="form-group">
					    <div class="col-sm-4"> </div>
					    <div class="col-sm-8 ">
					      	<button type="submit" class="btn btn-info" style="float:right;"ng-click="groupSend()">群 发</button>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div> -->
<div class="modal-content" style="box-shadow:none;">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
			<em class="ion-ios-close-empty sn-link-close"></em>
		</button>
		<h4 class="modal-title" id="myModalLabel">短信群发</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" >
			<!--<div class="row" >

				<div class=" col-md-offset-1 col-md-9" >
					&lt;!&ndash; <div ba-panel ba-panel-title="短信模板"  >
						
						<div style="padding-top:10px;" >
							<div class="button-wrapper" style="padding-left:30px;text-align:left;" ng-repeat="role in RowCollection">
								<a class="z_authmgr"  ng-class="{'z_authmgr_hr':role.tplTitle==roleObj.tplTitle}"  ng-click="chooseModal(role,'')">{{role.tplTitle}}</a>
							</div>
						</div>
					</div> &ndash;&gt;
					<div class="form-group">
						<label  class="col-sm-12 control-label">
							<button class="text-right btn btn-primary" ng-click="selectMsgMould()" show-button-bar="false" >选择短信模板</button>
						</label>
					</div>
					&lt;!&ndash; 注：<br/>
						1.根据相关规定，营销短信的发送时间为早上8:00至晚上9:00。<br/>
						2.所有发送的短信内容及签名，需要提前备案才可以发送。<br/> &ndash;&gt;
				</div>
			</div>-->
			<div class="row">
				<div class="col-md-offset-1 col-md-9">
						<div class="form-group">
						    <label for="input01" class="col-sm-2 control-label">群发标题<span style="color:#ff0000;">*</span></label>
						    <div class="col-sm-10"><input type="text" class="form-control"  id="input01" placeholder="请填写1-49个字的标题名称" ng-model="roleObj.msgTopic"    ></div>
						    <div class="col-sm-offset-2  col-sm-10" ><span style="color:#ff0000;">群发标题不能为空</span></div>
					  	</div>
					  	<div class="form-group">
					  		<input type="text" hidden ng-modal='roleObj.tplTitle'>
						    <label for="input03" class="col-sm-2 control-label">
						    	发送内容<br/>
						    	<!-- <a>插入活动链接</a> -->
								<button class=" btn btn-primary" size="small" ng-click="selectMsgMould()" show-button-bar="false" >选择模板</button>
						    </label>
						    <div class="col-sm-10"><textarea type="text" class="form-control"  ng-model="roleObj.msgContent"  id="input03" placeholder="点击左侧短信菜单获取短信模板或手动输入短信内容"/></div>
						    <div class="col-sm-offset-2  col-sm-10" ><span style="color:#ff0000;">短信模板内的XXX表示需要您替换的内容，请编辑完成后再发送！</span></div>
					  	</div>
					  	<div class="form-group">
						    <label for="input03" class="col-sm-2 control-label">发送对象</label>
						    <!-- <div class="col-sm-10">
							    <ui-select multiple ng-model="roleObj.sendObj"
							               ng-disabled="false"
							               search-enabled="true"
							               append-to-body="true"
							               class="form-control "
							               ng-click="changeGroup(roleObj.sendObj)">
							      <ui-select-match placeholder="选择客户群">
							        {{$item.label}}
							      </ui-select-match>
							      <ui-select-choices repeat="multipleItem in groupListOptions | filter: $select.search">
							        {{multipleItem.label}}
							      </ui-select-choices>
							    </ui-select>
							</div> -->
							<div class="col-sm-10 zaddperassets_posi" >
								<textarea type="text" class="form-control " id="custNo" name="custNo" ng-model="roleObj.groupName" style="width: 93%;height: 34px;resize:none" disabled> </textarea>
								<span class="input-group-btn" style="right: 7.7%">
										<button class="btn btn-default" ng-click="selectGroup()" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>

					<div class="form-group">
						<div class="col-sm-4"> </div>


						<div class="modal-footer">
							<button type="button" class="btn btn-primary" ng-click="groupSend()">群 发</button>
						</div>
					</div>


					</div>
				</div>
			</div>
		</form>
	</div>
</div>