<div class="widgets">
    <form class="form-horizontal" name="addForm" novalidate>
        <loading></loading>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><font color="white">模板列表</font></div>
                <div class="panel-body" >

                    <form class="form-horizontal" name="modifyForm" novalidate>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="grid-title">模板列表</label>
                            </div>
                            <div class="add-row-editable-table z_cusmnt" style="float: right">
                                <button class="btn btn-primary btn-with-icon" ng-click="search()"><i
                                        class="ion-search"></i>查询
                                </button>
                            </div>
                            <div class="col-sm-3 z_custmnt_padding" style="float: right;">
                                <input type="text" class="form-control" ng-model="searchObj.tplTitle"
                                       placeholder="模板名称">
                            </div>
                            <div class="col-sm-3 z_custmnt_padding" style="float: right;">
                                <input type="text" class="form-control" ng-model="searchObj.tplNo"
                                       placeholder="模板编号">
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover table-condensed" st-table="custs"
                           st-safe-src="RowCollection">
                        <thead>
                        <tr class="black-muted-bg">
                            <th>#</th>
                            <th>模板编号</th>
                            <th>模板名称</th>
                            <th>短信标题</th>
                            <th>短信内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in custs" ng-click="selectRow(item)">
                            <td>
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                       value="{{ item.tplNo }}" ng-change="selectOne($index)"
                                       ng-model="radioRptOptions.select">
                            </td>
                            <td>{{item.tplNo}}</td>
                            <td>{{item.tplTitle}}</td>
                            <td>{{item.tplTitle}}</td>
                            <td title="{{item.tplCont}}"><span class="nowap-ellipsis taskDesc">{{item.tplCont}}</span></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="10" class="text-left">
                                <div class="row">
                                    <st-pager opts='queryMsgMouldOpts'></st-pager>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="row zaddperassets_textcenter">
                        <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
                        <button type="button" class="btn btn-primary btn-with-icon" ng-click="ok()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
