<div class="widgets" >
    <form class="form-horizontal"  ng-controller="smsgroupsendCtrl">
	<div class="row" >
		<!-- <div class="col-md-2" >
			<div ba-panel ba-panel-title="短信群发"  >
				短信剩余&nbsp; 0 &nbsp;条&nbsp;&nbsp; <a>去充值</a> 
			</div>
		</div> -->
		<div class="col-md-12">
			<div ba-panel ba-panel-title="群发纪录" ba-panel-class="horizontal-scroll" >
	                    
		    	<div class="add-row-editable-table z_cusmnt clearfix" style="text-align: right;">
		    		<!-- <button class="btn btn-danger"  >删除</button> -->
					<!-- &nbsp;&nbsp; <button class="btn btn-info "  ng-click="jump('app/pages/interactmarket/smsgroupsend/smsgroupAdd.html')"  >修改</button> -->
		  		 	&nbsp;&nbsp; <button class="btn btn-success "  ng-click="jump('app/pages/interactmarket/smsgroupsend/smsgroupAdd.html')" >新增</button>
		    	</div>
			        
				        
				 <table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="rowCollection">
			    <thead>
				    <tr class="sortable black-muted-bg">
					      <!-- <th st-sort="id" st-sort-default="col1">短信编码</th> -->
					      <th st-sort="col7">发送时间</th>
					      <th st-sort="col2">短信主题</th>
					      <th st-sort="col3">短信内容</th>
					      <!--<th st-sort="col4">客群编码</th>-->
					      <th st-sort="col4">客群名称</th>
					      <th st-sort="col5">发送人数</th>
					      <th st-sort="col6">信息状态</th>
					     <!--  <th st-sort="col8">送达人数</th>
					      <th st-sort="col9">发送失败人数</th>
					      <th st-sort="col10">  错误信息    </th>
					      <th st-sort="col11">   抄送   </th>
					      <th st-sort="col12">实际发送名单</th> -->
				    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in smartTableData">
			      <!-- <td>{{item.msgCode}}</td> -->
			      <td>{{item.timeStamp}}</td>
			      <td>{{item.msgTopic}}</td>
			      <td title="{{item.msgContent}}"><div class="nowap-ellipsis msgContent">{{ item.msgContent }}</div></td>
			      <!--<td>{{item.sendObj}}</td>-->
				<td ng-click="showGroupDetail(item)">
					<span style="cursor: pointer">{{item.bizNo}}</span>
				</td>
			      <td>{{item.sendNum}}</td>
			      <td>{{item.msgStat}}</td>
			      <!-- <td>{{item.col8}}</td>
			      <td>{{item.col9}}</td>
			      <td>{{item.col10}}</td>
			      <td>{{item.col11}}</td>
			      <td>{{item.col12}}</td> -->
			    </tr>
			    </tbody>
			    <tfoot>
				    <tr>   
				      <td colspan="12" class="text-center">
				        <!-- <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div> -->
				        <st-pager opts="queryOptions"></st-pager>
				      </td>
				    </tr>
			    </tfoot>
			  </table>
			
			</div>
		</div>
	</div>
	</form>
</div>
