<div class="widgets">
    <form class="form-horizontal" ng-controller="smsgroupsendCtrl">
        <!-- <div class="col-md-2" >
            <div ba-panel ba-panel-title="短信群发"  >
                短信剩余&nbsp; 0 &nbsp;条&nbsp;&nbsp; <a>去充值</a>
            </div>
        </div> -->
        <!--<div class="panel-heading clearfix">
            <h3 class="panel-title">群发记录</h3>
            <button class="btn btn-primary "
                    style="position: absolute;top: 5px;right: 20px;"
                    ng-click="jump('app/pages/interactmarket/smsgroupsend/smsgroupAdd.html')" >
                <i class="ion-plus-round"></i>新增
            </button>
        </div>-->
        <div ba-panel a-panel-class="with-scroll">
            <form class="form-horizontal" name="smsGroupForm" novalidate>
                <div class="row">
                    <div class="col-md-2">
                        <label class="grid-title">
                            <i class="ion-flag btn-primary"></i>
                            查询条件
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="z_custdetailadd_lable">用户账号</label>
                        <input type="text" class="form-control z_custdetail_inline" ng-model="smsShearchObj.groupName"
                               placeholder="用户账号">
                    </div>
                    <div class="col-md-4">
                        <label class="z_custdetailadd_lable">起始日期</label>
                        <div class="z_custdetail_inline">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                       datepicker-options="dateOptions " ng-model="smsShearchObj.startDate" placeholder="起始日期"
                                       is-open="opened4.opened" ng-required="false" close-text="Close"
                                       alt-input-formats="altInputFormats" show-button-bar="false"/>
                                <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open4()"><i
                                  class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="z_custdetailadd_lable">终止日期</label>
                        <div class="z_custdetail_inline">
                            <p class="input-group">
                                <input type="text" class="form-control " uib-datepicker-popup="yyyy-MM-dd"
                                       datepicker-options="dateOptions" ng-model="smsShearchObj.endDate" placeholder="终止日期"
                                       is-open="opened3.opened" ng-required="false" close-text="Close"
                                       alt-input-formats="altInputFormats" show-button-bar="false"/>
                                <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open3()"><i
                                  class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row split-div">
                    <HR class="split-line">
                    <div>
                        <button class="btn btn-primary btn-with-icon" ng-click="search()">
                            <i class="ion-search"></i>查询
                        </button>
                        <button class="btn btn-primary "
                                ng-click="jump()">
                            <i class="ion-plus-round"></i>新增
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="grid-title">
                            <i class="ion-flag btn-primary"></i>
                            群发记录
                        </label>
                    </div>
                </div>
            </form>
            <div class="panel-body">
                <table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="rowCollection">
                    <thead>
                    <tr class="sortable black-muted-bg">
                        <!-- <th st-sort="id" st-sort-default="col1">短信编码</th> -->
                        <th st-sort="col7">发送时间</th>
                        <th st-sort="col2">短信主题</th>
                        <th st-sort="col3">短信内容</th>
                        <!--<th st-sort="col4">客群编码</th>-->
                        <th st-sort="col4">客群名称</th>
                        <th st-sort="col5">发送人数</th>
                        <th st-sort="col6">信息状态</th>
                        <!--  <th st-sort="col8">送达人数</th>
                         <th st-sort="col9">发送失败人数</th>
                         <th st-sort="col10">  错误信息    </th>
                         <th st-sort="col11">   抄送   </th>
                         <th st-sort="col12">实际发送名单</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in smartTableData">
                        <!-- <td>{{item.msgCode}}</td> -->
                        <td>{{item.timeStamp}}</td>
                        <td>{{item.msgTopic}}</td>
                        <td title="{{item.msgContent}}">
                            <div class="nowap-ellipsis msgContent">{{ item.msgContent }}</div>
                        </td>
                        <!--<td>{{item.sendObj}}</td>-->
                        <td ng-click="showGroupDetail(item)">
                            <span style="cursor: pointer">{{item.bizNo}}</span>
                        </td>
                        <td>{{item.sendNum}}</td>
                        <td>{{item.msgStat}}</td>
                        <!-- <td>{{item.col8}}</td>
                        <td>{{item.col9}}</td>
                        <td>{{item.col10}}</td>
                        <td>{{item.col11}}</td>
                        <td>{{item.col12}}</td> -->
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="12" class="text-center">
                            <!-- <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div> -->
                            <st-pager opts="queryOptions"></st-pager>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </form>
</div>
