<div class="widgets" ng-controller="staticTrendCtrl">
	<div class="row" >
		<div class="col-md-3" >
			<div ba-panel ba-panel-title="客户群详情"  >
				<div class="form-group">
				    <label  class="col-sm-6">客户群名称</label>
				    <label  class="col-sm-6">静态客户群</label>
			  	</div>	
				<div class="form-group">
				    <label  class="col-sm-6">客户群人数</label>
				    <label  class="col-sm-6">10</label>
			  	</div>	
				<div class="form-group">
				    <label class="col-sm-12">描述</label>
				    <div class="col-sm-12"><textarea type="text" class="form-control" value='静态客户群...............' id="input03" placeholder="静态客户群....."/></div>
			  	</div>	
			</div>
		</div>
		<div class="col-md-9" >
		<uib-tabset> 
			<uib-tab heading="    成员    "  >
				<span style="font-size:large;" >客户列表&nbsp;</span>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info  btn-with-icon" ng-click="showData(0)"><i class="fa fa fa-barcode"></i>列表</button>
					<button type="button" class="btn btn-info  btn-with-icon" ng-click="showData(1)"><i class="fa fa fa-bar-chart-o"></i>趋势</button>
				</div>
				<div class="btn-group"  style="float:right;    margin-left: 10px;" uib-dropdown dropdown-append-to-body>
			      <button type="button" class="btn btn-info " uib-dropdown-toggle>
			       	 全体成员 <span class="caret"></span>
			      </button>
			      <ul uib-dropdown-menu>
			        <li><a href>群发短信</a></li>
			        <li role="separator" class="divider"></li>
			        <li><a href>分派外呼任务</a></li>
			      </ul>
			    </div>
				<button type="button" style="float:right;" class="btn btn-info" >添加成员</button>
				<br/>
				<br/>
				
				
				<div ba-panel ba-panel-title="" ba-panel-class="with-scroll" ng-show="type==0">
					  <table class="table table-bordered table-hover table-condensed"  st-table="smartTableData" st-safe-src="rowCollection" >
					    <thead>
						    <tr class="sortable">
							      <th st-sort="col1" st-sort-default="true">姓名</th>
							      <th st-sort="col2">电话</th>
							      <th st-sort="col3">客户经理</th>
							      <th st-sort="col4">客户来源</th>
							      <th st-sort="col5">职业</th>
							      <th st-sort="col6">生日</th>
							      <th >操作</th>
						    </tr>
						    <tr>
						      <th><input st-search="col1" placeholder="搜索" class="input-sm form-control search-input"   type="search"/></th>
						      <th><input st-search="col2" placeholder="搜索" class="input-sm form-control search-input"   type="search"/></th>
						      <th><input st-search="col3" placeholder="搜索" class="input-sm form-control search-input" type="search"/></th>
						      <th><input st-search="col4" placeholder="搜索" class="input-sm form-control search-input"  type="search"/></th>
						      <th><input st-search="col5" placeholder="搜索" class="input-sm form-control search-input" type="search"/>  </th>
						      <th><input st-search="col6" placeholder="搜索" class="input-sm form-control search-input" type="search"/>  </th>
						      <th> </th>
						    </tr>
					    </thead>
					    <tbody>
					    <tr ng-repeat="item in smartTableData">
					      <td>{{item.col1}}</td>
					      <td>{{item.col2}}</td>
					      <td>{{item.col3}}</td>
					      <td>{{item.col4}}</td>
					      <td>{{item.col5}}</td>
					      <td>{{item.col6}}</td>
					      <td>
					      	  <div class="buttons">
						        <button class="btn btn-info editable-table-button btn-xs" >修改</button>
						        <button class="btn btn-danger editable-table-button btn-xs" >删除</button>
						      </div>
					      </td>
					    </tr>
					    </tbody>
					    <tfoot>
						    <tr>   
						      <td colspan="5" class="text-center">
						        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						      </td>
						      <td >每页10条&nbsp;&nbsp;共{{total}}条</td>
						    </tr>
					    </tfoot>
					  </table>
				</div>
				
			    <div class="form-group" ng-show="type==1" >
				    <ui-select ng-model="selectedItem.item" class="btn-group bootstrap-select form-control"
				               ng-disabled="false"
				               append-to-body="true"
				               search-enabled="false">
				      <ui-select-match placeholder="趋势选择">
				        <span> {{$select.selected.label}}</span>
				      </ui-select-match>
				      <ui-select-choices repeat="standardItem in standardSelectItems | filter: $select.search">
				        <span ng-bind-html="standardItem.label"></span>
				      </ui-select-choices>
			    	</ui-select>
				  </div>
				<div ba-panel  ba-panel-title="客户来源分布" ng-show="type==1 && selectedItem.item.value == 1">
			      <div id="pieChart" class="admin-chart" ng-controller="staticTrendCtrl"></div>
			    </div>
			    <div ba-panel  ba-panel-title="流式分布" ng-show="type==1 && selectedItem.item.value == 2">
			      <div id="barChart" class="admin-chart" ng-controller="staticTrendCtrl"></div>
			    </div>
			    <div ba-panel  ba-panel-title="跟进分布" ng-show="type==1 && selectedItem.item.value == 3">
			      <div id="genjinChart" class="admin-chart" ng-controller="staticTrendCtrl"></div>
			    </div>
			</uib-tab>
			<uib-tab heading="  运营记录    ">
				<div ba-panel ba-panel-title="运营记录列表" ba-panel-class="with-scroll">
					  <table class="table table-bordered table-hover table-condensed"  st-table="smartTableData" st-safe-src="rowCollection1" >
					    <thead>
						    <tr class="sortable">
							      <th st-sort="col1" st-sort-default="true">标题</th>
							      <th st-sort="col2">创建时间</th>
							      <th st-sort="col3">类型</th>
							      <th st-sort="col4">状态</th>
							      <th st-sort="col5">发送数量</th>
							      <th st-sort="col6">相关活动</th>
							      <th >操作</th>
						    </tr>
						    <tr>
						      <th><input st-search="col1" placeholder="搜索" class="input-sm form-control search-input"   type="search"/></th>
						      <th><input st-search="col2" placeholder="搜索" class="input-sm form-control search-input"   type="search"/></th>
						      <th><input st-search="col3" placeholder="搜索" class="input-sm form-control search-input" type="search"/></th>
						      <th><input st-search="col4" placeholder="搜索" class="input-sm form-control search-input"  type="search"/></th>
						      <th><input st-search="col5" placeholder="搜索" class="input-sm form-control search-input" type="search"/>  </th>
						      <th><input st-search="col6" placeholder="搜索" class="input-sm form-control search-input" type="search"/>  </th>
						      <th> </th>
						    </tr>
					    </thead>
					    <tbody>
					    <tr ng-repeat="item in smartTableData">
					      <td>{{item.col1}}</td>
					      <td>{{item.col2}}</td>
					      <td>{{item.col3}}</td>
					      <td>{{item.col4}}</td>
					      <td>{{item.col5}}</td>
					      <td>{{item.col6}}</td>
					      <td><a href=""><i class="ion-compose"></i></a>  </td>
					    </tr>
					    </tbody>
					    <tfoot>
						    <tr>   
						      <td colspan="7" class="text-center">
						        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						      </td>
						    </tr>
					    </tfoot>
					  </table>
				</div>
			</uib-tab>
		</uib-tabset>
		</div>
	</div>
</div>