<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">客户地址新增</font></div>
                <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.addrTyp" class="col-sm-4 control-label">地址类型</label>
							<div class="col-sm-8" >
								<!-- <input type="text" class="form-control input-normal" id="addrTyp" name="addrTyp" ng-model="contactAddr.addrTyp" required> --> 
								<select ng-model="contactAddr.addrTyp" class="form-control input-normal" ng-options="x.label for x in AddrTyp" ng-change="selectAddrTyp(contactAddr.addrTyp)"  id="addrTyp"></select>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.countryCd" class="col-sm-4 control-label">国家</label>
							<div class="col-sm-8" >
								<!-- <input type="text" class="form-control input-normal" id="countryCd" name="countryCd" ng-model="contactAddr.countryCd" required> --> 
								<select ng-model="contactAddr.countryCd" class="form-control input-normal" ng-options="x.label for x in Nationality" ng-change="selectcountryCd(contactAddr.countryCd)"  id="countryCd"></select>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.provCd" class="col-sm-4 control-label">省</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="provCd" name="provCd" ng-model="contactAddr.provCd" >
								 <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.cityCd" class="col-sm-4 control-label">市</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="cityCd" name="cityCd" ng-model="contactAddr.cityCd" >
								 <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.countyCd" class="col-sm-4 control-label">区县</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="countyCd" name="countyCd" ng-model="contactAddr.countyCd" >
								 <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.streetAddr" class="col-sm-4 control-label">街道</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="streetAddr" name="streetAddr" ng-model="contactAddr.streetAddr" >
								 <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.postcode" class="col-sm-4 control-label">邮编</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="postcode" maxlength="6" name="postcode" ng-model="contactAddr.postcode" >
								 <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactAddr.detAddr" class="col-sm-4 control-label">详细地址</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="detAddr" name="detAddr" ng-model="contactAddr.detAddr" >
								 <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-offset-8 col-sm-4">
								<button type="button" class="btn btn-danger btn-with-icon" ng-click="$dismiss()"><i class="ion-power"></i>关闭</button>
								<button type="button" class="btn btn-success btn-with-icon" ng-click="addConAddr()"><i class="ion-android-checkmark-circle"></i>保存</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
