<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="widgets">
	<form class="form-horizontal" name="uptForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">客户联系地址信息</font></div>
                <div class="panel-body">

        <form class="form-horizontal" name="modifyForm" novalidate>
            <div class="row">
                <div class="col-md-2">
                    <label class="grid-title"></label>
                </div>
                <div class="add-row-editable-table z_cusmnt" style="float: right">
							<!-- <button class="btn btn-primary btn-with-icon" ng-click="searchContactAddr()"><i class="ion-search"></i>查询</button>
							<button class="btn btn-primary btn-with-icon" ng-click="clearContactAddrSearch()"><i class="ion-refresh"></i>重置</button>
							<button class="btn btn-primary btn-with-icon" ng-click="addContactAddr()"><i class="ion-plus-round"></i>新增</button> -->
							<!-- <button type="button" class="btn btn-danger btn-with-icon" ng-click="$dismiss()"><i class="ion-power"></i>关闭</button> -->
                </div>
				<!-- <div class="col-sm-3 z_custmnt_padding" style="float: right;">
						<ui-select ng-model="searchContactAddrObj.addrTyp" class="btn-group bootstrap-select form-control" search-enabled="false" id="addrTyp" >
								<ui-select-match placeholder = "地址类型" >
									<span> {{$select.selected.label}}</span>
								</ui-select-match>
								<ui-select-choices repeat="item in AddrTyp">
									<span ng-bind-html="item.label"></span>
								</ui-select-choices>
						</ui-select>
				</div> -->
            </div>
        </form>
		<table class="table table-bordered table-hover table-condensed" st-table="custAddr" st-safe-src="contactAddrList">
			<thead>
			<tr class="black-muted-bg">
				<!-- <th style="text-align:center;" st-sort="addrTyp">地址类型</th> -->
				<!-- <th style="text-align:center;" st-sort="countryCd">国家</th> -->
				<th style="text-align:center;" st-sort="provCd">省</th>
				<th style="text-align:center;" st-sort="cityCd">市</th>
				<th style="text-align:center;" st-sort="countyCd">区县</th>
				<th style="text-align:center;" st-sort="streetAddr">详细地址</th>
				<th style="text-align:center;" st-sort="postcode">邮编</th>
				<!-- <th style="text-align:center;" st-sort="detAddr">详细地址</th> -->
				<!-- <th style="text-align:center;">操作</th> -->
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in addrList">
				<!-- <td style="text-align:left;">{{item.addrTyp}}</td> -->
				<!-- <td>{{item.countryCd}}</td> -->
				<td>{{item.provLabel}}</td>
				<td>{{item.cityLabel}}</td>
				<td>{{item.countyLabel}}</td>
				<td>{{item.streetAddr}}</td>
				<td>{{item.postcode}}</td>
				<!-- <td>{{item.detAddr}}</td> -->
				<!-- <td>
					<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-primary btn-icon" ng-click="uptContactAddr(item.custNo, item.addrTyp)"><i class="ion-compose"></i></button>
					</div>
				</td> -->
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="12">
					<div class="row zaddperassets_textcenter">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
					</div>
					<!-- <div class="row">
						<div class="col-md-7" style="float: right">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</div>
						<div class="col-md-5" style="float: right">
							每页
							<label>
								<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
										ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
							</label>
							条&nbsp;&nbsp;&nbsp;
							共{{addrTotal||0}}条
						</div> -->
					</div>
				</td>
			</tr>
			</tfoot>
			</table>

			</div>
			</div>
		</div>
	</form>
</div>
