<div ng-controller="integralRuleCtrl">
	<div class="horizontal-scroll">
<!-- 		<div style="float:right"> -->
<!-- 				<button class="btn btn-primary" ng-click="addEnter()">增加</button> -->
<!-- 				<button class="btn btn-primary" ng-click="delEnter()">删除</button> -->
<!-- 		</div> -->
		<table class="table table-bordered table-hover table-condensed" st-table="inlRuleData" st-safe-src="inlRuleDts">
			<thead>
				<tr class="sortable ">
					<div>积分规则信息列表</div>
					<th class="table-id" st-sort="id" st-sort-default="true">#</th>
					<th st-sort="inlRuleName">积分规则名称</th>
					<th st-sort="prodCode">产品代码</th>
					<th st-sort="getInlType">积分获得方式</th>
					<th st-sort="inlCoe">系数</th>
					<th st-sort="giveInlRule">赠送规则</th>
					<th st-sort="startTim">活动开始时间</th>
					<th st-sort="endTim">活动结束时间</th>
					<th st-sort="giveType">赠送方式</th>
					<th st-sort="inlRatio">比例</th>
					<th st-sort="inlValue">固定积分值</th>
					<th st-sort="brNo">机构</th>
					<th st-sort="curLevel">客户级别</th>
					<th st-sort="payType">缴费方式</th>
					<th st-sort="extendRule">可扩展规则</th>
					<th st-sort="inlValidity">积分有效期(天)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in inlRuleData" class="editable-row">
					<td class="table-id">{{item.id}}</td>
					<td><span>{{ item.inlRuleName }}</span></td>
					<td><span>{{ item.prodCode }}</span></td>
					<td><span>{{ item.getInlType }}</span></td>
					<td><span>{{ item.inlCoe }}</span></td>
					<td><span>{{ item.giveInlRule }}</span></td>
					<td><span>{{ item.startTim }}</span></td>
					<td><span>{{ item.endTim }}</span></td>
					<td><span>{{ item.giveType }}</span></td>
					<td><span>{{ item.inlRatio }}</span></td>
					<td><span>{{ item.inlValue }}</span></td>
					<td><span>{{ item.brNo }}</span></td>
					<td><span>{{ item.curLevel }}</span></td>
					<td><span>{{ item.payType }}</span></td>
					<td><span>{{ item.extendRule }}</span></td>
					<td><span>{{ item.inlValidity }}</span></td>
					<td>
						<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-primary editable-table-button btn-xs"
								ng-click="rowform.$show()">编辑</button>
							<button class="btn btn-danger editable-table-button btn-xs"
								ng-click="removeEnter($index)">删除</button>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="row">
		<div style="float:left">显示行数</div>
		<div style="float:left">
			    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
			            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
			    </select>
		</div>
	</div>
</div>
