<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="modal-content" ng-controller="addTypeCtrl">
			<!-- <div ba-panel ba-panel-title="因子类型新增" ba-panel-class="panel-primary"> -->
			<div class="modal-header">
				<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
					<em class="ion-ios-close-empty sn-link-close"></em>
				</button>
				<h4 class="modal-title" id="myModalLabel">因子类型新增</h4>
			</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="factorType" class="col-sm-4 control-label">因子类型</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.factorType.$invalid && addForm.$submitted}">
									<input type="text" class="form-control input-normal" id="factorType" name="factorType" ng-model="addType.factorType"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="typeDesc" class="col-sm-4 control-label">类型描述</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.typeDesc.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="typeDesc" name="typeDesc" ng-model="addType.typeDesc"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
				        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
					</div>	
				</div>
			</div>
		</div>
	</form>
</div>
