<div ng-controller="factorValueListManageCtrl">

	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">
		<form class="form-horizontal" name="modifyForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						查询条件
					</label>
				</div>
			</div>
			<!--				<div class="col-md-2">-->
			<!--					<label class="grid-title">参数列表</label>-->
			<!--				</div>-->
			<div class="row form-group">
				<div class="col-md-4" >
					<label  class="z_custdetailadd_lable">参数说明</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.itemName" placeholder="参数说明">
				</div>
				<div class="col-md-4">
					<label  class="z_custdetailadd_lable">参数值</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.itemCode" placeholder="参数值">
				</div>
				<div class="col-md-4">
					<label  class="z_custdetailadd_lable">参数名称</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.paramName" placeholder="参数名称">
				</div>
			</div>
			<div class="row split-div">
				<HR  class="split-line">
				<div>
					<button class="btn btn-primary btn-with-icon" ng-click="searchParam()"><i class="ion-search"></i>查询</button>
					<button class="btn btn-primary btn-with-icon" ng-click="addParam()"><i class="ion-plus-round"></i>新增</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						参数列表
					</label>
				</div>
			</div>
		</form>

		<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="ParamsRowCollection">
			<thead>
			<tr class="black-muted-bg">
				<th st-sort="paramName" >参数名称</th>
				<th st-sort="itemCode" >参数值</th>
				<th st-sort="itemName" >参数说明</th>
				<th class="zwidth_operation">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in smartTableData" class="editable-row">
				<td ><span>{{item.paramName }}</span></td>
				<td ><span>{{ item.itemCode }}</span></td>
				<td ><span>{{item.itemName }}</span></td>
				<td>
					<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">保存</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
								class="btn btn-default editable-table-button btn-xs">取消</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary btn-icon" ng-click="updateParam($index)"><i class="ion-compose"></i></button>
						<button class="btn btn-danger btn-icon" ng-click="removeParam($index)"><i class="ion-trash-a"></i></button>
					</div>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="12">
					<div class="row">
						<div class="col-md-7" style="float: right">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</div>
						<div class="col-md-5" style="float: right">
							每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
											   ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
						</select>
						</label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
						</div>
					</div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>
