<div class="widgets">
	<form class="form-horizontal" name="visForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">拜访</font></div>
                <div class="panel-body">

		                                                <div class="row">

		                                                    <div class="col-sm-2" style="float: left">
								                                    <p class="input-group">
								                                        <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="dyncTrackVis.nextFollowUpTm" 
								                                        			is-open="nextFpVisOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="nextFollowUpTm" placeholder="下次跟进日期"/>
								                                      <span class="input-group-btn">
								                                        <button type="button" class="btn btn-default" ng-click="nextFpVisOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
								                                      </span>
								                                    </p>
		                                                    </div>
		                                                    
		                                                    <div class="col-sm-2" style="float: left">
		                                                        <input type="text" class="form-control" ng-model="dyncTrackVis.contacts" placeholder="联系人">
		                                                    </div>
		                                                    <div class="col-sm-2" style="float: left">
		                                                        <input type="text" class="form-control" ng-model="dyncTrackVis.location" placeholder="地点">
		                                                    </div>
		                                                </div>
		                                                <div class="row"> <div class="row"><br/></div></div>
		                                                <div class="row">
					                              	  	    <div class="col-sm-12" >
														        <textarea ng-model="dyncTrackVis.trackContent" class="form-control" id="message" rows="2" placeholder="请输入详细内容"></textarea>
														      </div>
		                                                </div>
														<div class="row"> <div class="row"><br/></div></div>
														<div class="col-md-12" >
																<div class="row">
																	<div class="col-sm-12">
																		<div class="form-group">
																			<div class="col-sm-offset-8 col-sm-4">
																				<button type="button" class="btn btn-danger btn-with-icon" ng-click="$dismiss()"><i class="ion-power"></i>关闭</button>
																				<button type="button" class="btn btn-success btn-with-icon" ng-click="addTrackVis()"><i class="ion-android-checkmark-circle"></i>保存</button>
						                                                        <button class="btn btn-primary btn-with-icon" ng-click="resetTrackVis()"><i class="ion-refresh"></i>重置</button>
																			</div>
																		</div>
																	</div>
																</div>
														</div>

			</div>
			</div>
		</div>
	</form>
</div>
