<div class="widgets">
	<form class="form-horizontal" name="smsForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">短信</font></div>
                <div class="panel-body">

		                                                <div class="row">
		                                                    <div class="col-sm-4" style="float: left">
		                                                        <input type="text" class="form-control" ng-model="dyncTrackSms.contacts" placeholder="发送对象">
		                                                    </div>
		                                                    <div class="col-sm-4" style="float: left">
		                                                        <input type="text" class="form-control" ng-model="dyncTrackSms.phoneNo" placeholder="电话号码">
		                                                    </div>
		                                                    <div class="col-sm-2" style="float: left">
		                                                        <input type="text" class="form-control" ng-model="dyncTrackSms.smsTemplate" placeholder="模板">
		                                                    </div>
		                                                    <div class="col-sm-2" style="float: left">
		                                                        <button class="btn btn-primary btn-with-icon" ng-click="selectTemplate()"><i class="ion-search"></i>模板选择</button>
		                                                    </div>
		                                                </div>
		                                                <div class="row"> <div class="row"><br/></div></div>
		                                                <div class="row">
					                              	  	    <div class="col-sm-12" >
														        <textarea ng-model="dyncTrackSms.trackContent" class="form-control" id="message" rows="2" 
														        				maxlength="200" title="只能输入200个字" placeholder="请选择短信模板" ng-change="tolCount()"></textarea>
														      </div>
		                                                </div>
		                                                <div class="row">
		                                                    <div class="col-sm-10 z_line_hei" >
		                                                        <label>您还可以输入<font color="red">{{writCount}}</font>个字</label>
		                                                    </div>
		                                                    <div class="col-sm-10 z_line_hei">
		                                                    	<label>使用说明: 只能用平台提供模板，只能修改可变内容，替换{x}</label>
		                                                    </div>
		                                                </div>
														<div class="col-md-12" >
															<div class="row">
																<div class="col-sm-12">
																	<div class="form-group">
																		<div class="col-sm-offset-8 col-sm-4">
																			<button type="button" class="btn btn-danger btn-with-icon" ng-click="$dismiss()"><i class="ion-power"></i>关闭</button>
																			<button type="button" class="btn btn-success btn-with-icon" ng-click="addTrackSms()"><i class="ion-android-checkmark-circle"></i>发送</button>
					                                                        <button class="btn btn-primary btn-with-icon" ng-click="resetTrackSms()"><i class="ion-refresh"></i>重置</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>


			</div>
			</div>
		</div>
	</form>
</div>
