<div ng-controller="MenumanagementCtrl" class="col-sm-12">
	<div >
		<div>
			<div class="row">
				<div class="col-sm-4" ba-panel ba-panel-title="菜单结构信息" ba-panel-class="with-scroll viewport100 menumanagementtree" style="margin-top: 5px">
					<div class="control-side text-left" style="padding-bottom:15px;">
						<!-- <button class="btn btn-primary" ng-click="addNode()" ng-disabled="menuState.addDis"><i class="ion-plus-round"></i></button>
						<button class="btn btn-danger" ng-click="delNode()" ng-disabled="menuState.delDis"><i class="ion-trash-a"></i></button> -->
						<a href="" ng-click="addNode()" style="padding-left:5%;padding-right:10px;font-size:20px;" class="ng-scope">
							<span class="ion-plus-round"></span>
						</a>
						<a href="" ng-click="delNode()" style="font-size:20px;" class="ng-scope">
							<span class="fa fa-trash-o del-managmen"></span>
						</a>
					</div>
					<!-- <div style="margin-top: 5px" ba-panel ba-panel-class="with-scroll xmedium-panel"> -->
      					<div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree-events="move_node:move" tree="basicTree" ng-click="detShow()"></div>
						<!-- <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" ng-click="detShow()"></div> -->
					<!-- </div> -->
				</div>

				<div ng-show="menuState.modConfShow" class="col-sm-8 ng-hide" class="col-sm-3" ba-panel ba-panel-title="节点信息" ba-panel-class="with-scroll viewport100 menumanagementtree">
					<div>
						<form class="form-horizontal" name="modForm" novalidate>
							<div class="col-md-12">

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<!-- 主键不可修改 -->
											<label for="modMenu.menuId" class="col-sm-3 control-label">菜单码</label>
											<div class="col-sm-9" ng-class="{'has-error': modForm.menuId.$invalid && modForm.$submitted }">
												<input type="text" class="form-control " id="menuId" name="menuId" ng-model="modMenu.menuId" ng-disabled="false">
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="modMenu.menuTitle" class="col-sm-3 control-label">菜单名称</label>
											<div class="col-sm-9" ng-class="{'has-error': modForm.menuTitle.$invalid && modForm.$submitted }">
												<input type="text" class="form-control " id="menuTitle" name="menuTitle" ng-model="modMenu.menuTitle" required> <span class="help-block error-block basic-block">必录</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<!-- 下拉框选择数字1~~5 -->
											<label for="modMenu.menuLevel" class="col-sm-3 control-label">菜单级别</label>
											<div class="col-sm-9" ng-class="{'has-error': modForm.menuLv.$invalid && modForm.$submitted }">
												<!-- <div>
													<ui-select ng-model="modMenu.menuLv" class="btn-group bootstrap-select form-control" ng-class="{'has-error': !modMenu.menuLv}" ng-disabled="true" append-to-body="false" id="menuLv" name="menuLv" search-enabled="false" ng-change="menuLvChange()" required> <ui-select-match placeholder="菜单级别"> <span> {{$select.selected.label}}</span> </ui-select-match> <ui-select-choices repeat="menuLv in menuLvs"> <span ng-bind-html="menuLv.label"></span> </ui-select-choices> </ui-select>
												</div> -->
												 <input type="text" class="form-control " id="menuLv" name="menuLv" ng-model="modMenu.menuLevel" ng-changed="menuLvChange()"  ng-disabled="true" required> <span class="help-block error-block basic-block">必录</span> 
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="modMenu.menuStateref" class="col-sm-3 control-label">菜单路径</label>
											<div class="col-sm-9" ng-class="{'has-error': modForm.menuStateref.$invalid && modForm.$submitted }">
												<input type="text" class="form-control " id="menuStateref" name="menuStateref" ng-model="modMenu.menuStateref" ng-blur="urlCheck()" required> <span class="help-block error-block basic-block">必录</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<!-- 根据菜单级别过滤出所有高一级菜单 -->
											<label for="modMenu.pareMenuCode" class="col-sm-3 control-label">父菜单</label>
											<div class="col-sm-9">
												<input type="text" class="form-control " id="menuParename" name="menuParename" ng-model="modMenu.menuParename" ng-disabled="true"
													    >
												<!--<div>
													<ui-select ng-model="modMenu.pareMenuCode" class="btn-group bootstrap-select form-control"
													ng-class="{'has-error': !modMenu.pareMenuCode}" ng-disabled="true" append-to-body="false"
													id="pareMenuCode" name="pareMenuCode" search-enabled="false" ng-change="pareCodeChange()"
													ng-required="menuState.pareCodeReq"> <ui-select-match placeholder="父菜单码">
														<span> {{$select.selected.label}}</span> </ui-select-match>
														<ui-select-choices repeat="code in pareMenuCodes">
															<span ng-bind-html="code.label"></span> </ui-select-choices> </ui-select>
												</div>-->
											</div>
										</div>
									</div>
									<!-- <div class="col-sm-6">
										<div class="form-group">
											根据父菜单码填入，不可写
											<label for="modMenu.pareMenu" class="col-sm-3 control-label">父菜单名</label>
											<div class="col-sm-9" ng-class="{'has-error': modForm.pareMenu.$invalid && modForm.$submitted }">
												<input type="text" class="form-control " id="pareMenu" name="pareMenu" ng-model="modMenu.pareMenu" ng-disabled="true" ng-required="menuState.pareNameReq"> <span class="help-block error-block basic-block">必录</span>
											</div>
										</div>
									</div> -->
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="modMenu.menuDesc" class="col-sm-3 control-label">说明信息</label>
											<div class="col-sm-9">
												<input type="text" class="form-control " id="menuDesc" name="menuDesc" ng-model="modMenu.menuDesc">
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-12 text-center">
									<button type="reset" class="btn btn-default btn-with-icon" ng-click="closeDiv()">关闭</button>
									<button type="button" class="btn btn-primary btn-with-icon" ng-click="modConfirm(modForm.$valid)" ng-show="menuState.modButtShow">保存</button>
									<button type="button" class="btn btn-priamry btn-with-icon" ng-click="addConfirm(modForm.$valid)" ng-show="menuState.addButtShow">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
