<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">教育信息新增</font></div>
                <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.custNo" class="col-sm-4 control-label">客户号</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="custNo" name="custNo" ng-model="custEdu.custNo" > 
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.schoolNam" class="col-sm-4 control-label">学校名称</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="schoolNam" name="schoolNam" ng-model="custEdu.schoolNam" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.eduCd" class="col-sm-4 control-label">学历代码</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="eduCd" name="eduCd" ng-model="custEdu.eduCd" > 
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.degreeCd" class="col-sm-4 control-label">学位代码</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="degreeCd" name="degreeCd" ng-model="custEdu.degreeCd" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.eduTyp" class="col-sm-4 control-label">教育类型</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="eduTyp" name="eduTyp" ng-model="custEdu.eduTyp" > 
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.speciality1" class="col-sm-4 control-label">第一专业</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="speciality1" name="speciality1" ng-model="custEdu.speciality1" >
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.speciality2" class="col-sm-4 control-label">第二专业</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="speciality2" name="speciality2" ng-model="custEdu.speciality2" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.speciality3" class="col-sm-4 control-label">第三专业</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="speciality3" name="speciality3" ng-model="custEdu.speciality3" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.outworkDate" class="col-sm-4 control-label">入学日期</label>
							<div class="col-sm-8 zaddperassets_posi" >
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custEvent.eventDate" 
                                 			is-open="eventOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="eventDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="eventOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custEdu.outworkDate" class="col-sm-4 control-label">毕业日期</label>
							<div class="col-sm-8 zaddperassets_posi" >
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custEvent.eventDate" 
                                 			is-open="eventOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="eventDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="eventOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-offset-8 col-sm-4">
								<button type="button" class="btn btn-danger btn-with-icon" ng-click="$dismiss()"><i class="ion-power"></i>关闭</button>
								<button type="button" class="btn btn-success btn-with-icon" ng-click="addAgent()"><i class="ion-android-checkmark-circle"></i>保存</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
