<div class="widgets">
	<div class="col-md-12" ng-controller="artificialActivCtrl">
		<div class="panel panel-primary with-scroll viewport100">
			<div class="panel-heading">
				<font color="white">新建活动</font>
			</div>
<div class="row">
			<form class="form-horizontal" name="modifyForm" novalidate>
				<div class="row" style="padding-top: 10px;">
					<div class="col-md-2">
						<label class="grid-title">新建活动</label>
					</div>
					<div class="add-row-editable-table zmarg_right" style="float: right">
						<button ng-show="but" class="btn btn-primary btn-with-icon" ng-click="addUser()">
							<i class="ion-plus-round"></i>添加
						</button>
						<button ng-show="but" class="btn btn-danger btn-with-icon" ng-click="batchRemoveUser()">
							<i class="ion-trash-a"></i>删除
						</button>
						<button class="btn btn-primary btn-with-icon" ng-click="createActiv()">
							<i class="ion-plus-round"></i>保存
						</button>
						<button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
					</div>
				</div>
			</form>

			<div class="panel-body" style="padding: 0px;">
				<uib-tabset> <uib-tab heading="基本信息" panel-class="panel-info bootstrap-panel accordion-panel" ng-click="showButton(false)"> 

				<form name="custDetailAddForm" class="form-horizontal" novalidate>
					<div class="row ">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="custName" class="col-sm-4 control-label">活动名称</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="custName" ng-model="custom.custName">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="phoneNumber" class="col-sm-4 control-label">活动简介</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="phoneNumber" class="col-sm-4 control-label">首页图片</label>
								<div class="col-sm-8">
									<img ng-src="data:image/jpg;base64,{{perIconImg}}" height="90" width="190" />
									<button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000"
										ngf-max-size="1MB">更改</button>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="phoneNumber" class="col-sm-4 control-label">活动规则</label>
								<div class="col-sm-8">
									<textarea ng-model="blacklistDts.reason" class="form-control input-normal" id="message" rows="5" col="2"
										placeholder=""></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="phoneNumber" class="col-sm-4 control-label">开始时间</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="phoneNumber" class="col-sm-4 control-label">结束时间</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="phoneNumber" class="col-sm-4 control-label">活动地点</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
								</div>
							</div>
						</div>
					</div>
				</form></uib-tab> <uib-tab heading="管理信息" panel-class="panel-info bootstrap-panel accordion-panel">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="phoneNumber" class="col-sm-4 control-label">负责人</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="phoneNumber" class="col-sm-4 control-label">联系电话</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="phoneNumber" class="col-sm-4 control-label">工作人员</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-normal" id="phoneNumber" ng-model="custom.phoneNumber">
							</div>
						</div>
					</div>
				</div>
				</uib-tab> <uib-tab heading="高级设置" panel-class="panel-info bootstrap-panel accordion-panel">
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="form-group">
							<label for="custName" class="z_custdetailadd_lable">目标客群选择</label>
						</div>
					</div>
					<div class="col-md-8 col-lg-8">
						<p class="input-group">
							<input type="text" class="form-control input-normal" ng-model="custGroup.groupName" /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStaticCustList()">
									<i class="ion-search"></i>
								</button>
							</span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="form-group">
							<label for="custName" class="z_custdetailadd_lable">消息推送渠道</label>
						</div>
					</div>
					<div class="col-md-8 col-lg-8">
						<div class="form-group">
							<label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.duanxin" type="checkbox"
								id="duanxin"> <span>短信</span>
							</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.weixin" type="checkbox"
								id="weixin"> <span>微信</span>
							</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.youjian" type="checkbox"
								id="youjian"> <span>邮件</span>
							</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.zhanneixin"
								type="checkbox" id="zhanneixin"> <span>Web</span>
							</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.app" type="checkbox"
								id="app"> <span>APP</span>
							</label> </label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.app" type="checkbox"
								id="app"> <span>电话</span>
							</label> </label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.app" type="checkbox"
								id="app"> <span>人工</span>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="form-group">
							<label for="custName" class="z_custdetailadd_lable">访问客户自动标记标签</label>
						</div>
					</div>
					<div class="col-md-8 col-lg-8">
						<div class="section-block">
							<div class="">
								<tags-input class="myTag" ng-model="tagData1" placeholder="添加" display-property="tagName"> <auto-complete
									source="loadDatas($query)"> </auto-complete> </tags-input>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="form-group">
							<label for="custName" class="z_custdetailadd_lable">提交表单客户自动标记标签</label>
						</div>
					</div>
					<div class="col-md-8 col-lg-8">
						<div class="section-block">
							<div class="">
								<tags-input class="myTag" ng-model="tagData2" placeholder="添加" display-property="tagName"> <auto-complete
									source="loadTags($query)"></auto-complete></tags-input>
							</div>
						</div>
					</div>
				</div>

				</uib-tab> </uib-tabset>
			</div>
		</div>
	</div>
</div></div>


