<form class="form-horizontal"  name="modifyForm" novalidate ng-controller="addPushRuleCtrl">
			<div ba-panel ba-panel-title="新增推送规则信息" ba-panel-class="with-scroll">
					<div class="form-group" >
						<table>
							<tr>
								<td>序号</td>
								<td><input type="text" class="form-control" id="subId" value="{{Rule.subId}}" placeholder="序号"></td>
								<td>推送主题</td>
								<td><input type="text" class="form-control" id="pushTheme" value="{{Rule.pushTheme}}" placeholder="推送主题" ng-class="{'has-error': !Rule.pushTheme}"></td>
								<td>推送对象类别</td>
								<td>
    <ui-select ng-model="Rule.pushObjTyp"
               class="btn-group bootstrap-select form-control"
               ng-class="{'has-error': !pushObjTyp}"
               ng-disabled="false"
               append-to-body="false"
               search-enabled="true">
      <ui-select-match placeholder="推送对象类别">
        <span> {{$select.selected.text}}</span>
      </ui-select-match>
      <ui-select-choices repeat="pushObjTypItem in pushObjTyps | filter: $select.search">
        <span ng-bind-html="pushObjTypItem.text"></span>
      </ui-select-choices>
    </ui-select>
								</td>
							</tr>
							<tr>
								<td>消息类别</td>
								<td>
    <ui-select ng-model="Rule.pushMsgTyp"
               class="btn-group bootstrap-select form-control"
               ng-class="{'has-error': !pushMsgTyp}"
               ng-disabled="false"
               append-to-body="false"
               search-enabled="true">
      <ui-select-match placeholder="消息类别">
        <span> {{$select.selected.text}}</span>
      </ui-select-match>
      <ui-select-choices repeat="pushMsgTypItem in pushMsgTyps | filter: $select.search">
        <span ng-bind-html="pushMsgTypItem.text"></span>
      </ui-select-choices>
    </ui-select>
    							</td>
								<td>推送渠道</td>
								<td>
    <ui-select ng-model="Rule.pushMsgChan"
               class="btn-group bootstrap-select form-control"
               ng-class="{'has-error': !pushMsgChan}"
               ng-disabled="false"
               append-to-body="false"
               search-enabled="true">
      <ui-select-match placeholder="推送渠道">
        <span> {{$select.selected.text}}</span>
      </ui-select-match>
      <ui-select-choices repeat="pushMsgChanItem in pushMsgChans | filter: $select.search">
        <span ng-bind-html="pushMsgChanItem.text"></span>
      </ui-select-choices>
    </ui-select>
								</td>
								<td>推送消息内容</td>
								<td><input type="text" class="form-control" id="pushMsg" value="{{Rule.pushMsg}}" placeholder="推送消息内容"></td>
							</tr>
							<tr>
								<td>关联活动</td>
								<td><input type="text" class="form-control" id="pushAct" value="{{Rule.pushAct}}" placeholder="关联活动"  ></td>
								<td>抄送地址</td>
								<td><input type="text" class="form-control" id="pushCC" value="{{Rule.pushCC}}" placeholder="抄送地址"  ></td>
								<td>发送时间</td>
								<td><input type="text" class="form-control" id="pushTime" value="{{Rule.pushTime}}" placeholder="发送时间"></td>
							</tr>
							<tr>
								<td>推送时间规则</td>
								<td>
    <ui-select ng-model="Rule.pushTmRule"
               class="btn-group bootstrap-select form-control"
               ng-class="{'has-error': !pushTmRule}"
               ng-disabled="false"
               append-to-body="false"
               search-enabled="true">
      <ui-select-match placeholder="推送时间规则">
        <span> {{$select.selected.text}}</span>
      </ui-select-match>
      <ui-select-choices repeat="pushTmRuleItem in pushTmRules | filter: $select.search">
        <span ng-bind-html="pushTmRuleItem.text"></span>
      </ui-select-choices>
    </ui-select>
								</td>
								<td>时间天数</td>
								<td><input type="text" class="form-control" id="pushTmDays" value="{{Rule.pushTmDays}}" placeholder="时间天数"  ></td>
								<td></td>
								<td></td>
							</tr>
							
						</table>
					</div>
					<div class="form-group">
    					<div class="col-sm-offset-8 col-sm-4">
    						<button class="btn btn-primary" ng-click="saveValue()">保存</button>
   							<button type="button" class="btn btn-primary" ng-click="$dismiss()">关闭</button>
						</div>
					</div>
			</div>
</form>
