<ul class="al-msg-center clearfix">

  <li uib-dropdown>
    <a href uib-dropdown-toggle>
      <i class="fa fa-bell-o"></i><span>{{remindTotle}}</span>

      <div class="notification-ring"></div>
    </a>
    <div uib-dropdown-menu class="top-dropdown-menu" is-open="isOpenRemind">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>全部未读站内提醒:{{remindTotle}}条</strong>
        <a ng-click='markAllRemindIsRead()' ng-show="remindTotle>0">全部标记为已读</a>
      </div>
      <div class="msg-list">
        <a class="clearfix" ng-repeat="msg in UnReadRemind">
          <div ng-click ='openRemindDetail(msg)'>
            <div class="img-area" ><span><strong>{{ msg.sendUser }}</strong></span></div>
            <div class="msg-area" >
              <div ng-bind-html="getRemindMessage(msg)"></div>
            </div>
          </div>
        </a>
      </div>
      <a ng-click='getAllRemind()'>查看所有未读站内提醒</a>
    </div>
  </li>

  <li uib-dropdown>
    <a href class="msg" uib-dropdown-toggle>
      <i class="fa fa-envelope-o"></i><span>{{mailTotle}}</span>
      <div class="notification-ring"></div>
    </a>
    <div uib-dropdown-menu class="top-dropdown-menu" is-open="isOpenMail">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>全部未读站内信:{{mailTotle}}条</strong>
        <a href ng-click='markAllMailIsRead()'ng-show="mailTotle>0">全部标记为已读</a>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="msg in UnReadMail">
          <div ng-click ='openMailDetail(msg)'>
            <div class="img-area" ><span><strong>{{ msg.sendUser }}</strong></span></div>
            <div class="msg-area" >
              <div ng-bind-html="getMailMessage(msg)"></div>
            </div>
          </div>
        </a>
      </div>
      <a ng-click='getAllMail()'>查看所有未读站内信</a>
    </div>
  </li>

</ul>