<div class="widgets">
	<form class="form-horizontal" name="uptForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">客户联系方式</font></div>
                <div class="panel-body">
				<div class="row">
					<!-- <div class="col-sm-6" ng-repeat="x in phoneList">
						<div class="form-group">
							<label for="contactWay.contactNam" class="col-sm-4 control-label">联系人姓名</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="contactNam" name="contactNam" ng-model="contactWay.contactNam" required> 
							</div>
						</div>
					</div> -->
					<div class="col-sm-6" ng-repeat="item in phoneList">
						<div class="form-group">
							<label for="contactWay.phoneNo1" class="col-sm-4 control-label">其它手机{{item.id}}</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="phoneNo1" name="phoneNo1" ng-model="item.phoneNo" >
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.phoneNo2" class="col-sm-4 control-label">其他手机1</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="phoneNo2" name="phoneNo2" ng-model="contactWay.phoneNo2" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.phoneNo3" class="col-sm-4 control-label">其他手机2</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="phoneNo3" name="phoneNo3" ng-model="contactWay.phoneNo3" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.telephone1" class="col-sm-4 control-label">固定电话</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="telephone1" name="telephone1" ng-model="contactWay.telephone1" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.telephone2" class="col-sm-4 control-label">其他固话</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="telephone2" name="telephone2" ng-model="contactWay.telephone2" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.wechatNo" class="col-sm-4 control-label">微信号码</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="wechatNo" name="wechatNo" ng-model="contactWay.wechatNo" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.emailAddr" class="col-sm-4 control-label">邮箱地址</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="emailAddr" name="emailAddr" ng-model="contactWay.emailAddr" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.fax" class="col-sm-4 control-label">传真</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="fax" name="fax" ng-model="contactWay.fax" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.qq" class="col-sm-4 control-label">QQ</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="qq" name="qq" ng-model="contactWay.qq" >
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.microblog" class="col-sm-4 control-label">微博</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="microblog" name="microblog" ng-model="contactWay.microblog" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactWay.alipay" class="col-sm-4 control-label">支付宝</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="alipay" name="alipay" ng-model="contactWay.alipay" >
							</div>
						</div>
					</div> -->
				<!-- </div> -->

				<div class="row zaddperassets_textcenter">
					<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
					<!-- <button type="button" class="btn btn-primary btn-with-icon" ng-click="uptConWay()">保存</button> -->
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
