<div class="widgets">
	<form class="form-horizontal" name="uptForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">客户联系方式</h4>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-hover table-condensed" st-table="phone" st-safe-src="phoneList">
						<thead>
							<tr class="black-muted-bg">
								<th style="text-align:center;" >序号</th>
								<th style="text-align:center;" >手机号</th>
								<th style="text-align:center;" st-sort="countyCd">手机号来源</th>
								<th style="text-align:center;" st-sort="streetAddr">获取时间</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in phoneList">
								<td style="text-align:center;">{{$index+1}}</td>
								<td style="text-align:center;">{{item.phoneNo}}</td>
								<td style="text-align:center;">{{item.custSource}}</td>

								<td style="text-align:center;">{{(item.creatDate+item.creatTime).substring(0,4)+'-'+(item.creatDate+item.creatTime).substring(4,6)+'-'+(item.creatDate+item.creatTime).substring(6,8)+'   '+(item.creatDate+item.creatTime).substring(8,10)+':'+(item.creatDate+item.creatTime).substring(10,12)+':'+(item.creatDate+item.creatTime).substring(12,14)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
