<div class="widgets" xmlns:width="http://www.w3.org/1999/xhtml">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="OutboundTaskCtrl">
			<div ba-panel ba-panel-title="分配外呼任务" ba-panel-class="panel-primary">
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="groupOperName" class="col-sm-3 control-label">任务名称</label>
							<div class="col-sm-9" ng-class="form-control">
								<input type="text" class="form-control input-normal" id="groupOperName" name="groupOperName"
									ng-model="taskInfo.groupOperName">
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="taskStatus" class="col-sm-3 control-label">任务状态</label>
							<div class="col-sm-9" ng-class="form-control">
								<select id="taskStatus" ng-init="taskStatu.selected=groupTaskStatus[0]" ng-model="taskStatu.selected"
									class="form-control input-normal" ng-options="x.label for x in groupTaskStatus"
									ng-change="selectTaskStatu(taskStatu.selected)"></select>
							</div>
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="endTime" class="col-sm-3 control-label">截止时间</label>
							<div class="col-sm-9" ng-class="form-control">
								<p class="input-group input-normal">
									<input id="endTime" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
										datepicker-options="options" ng-model="taskInfo.endTime" placeholder="截止时间" is-open="opened1"
										ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open1()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="groupTaskDesc" class="col-sm-3 control-label">任务描述</label>
							<div class="col-sm-9" ng-class="form-control">
								<textarea id="groupTaskDesc" ng-model="taskInfo.groupTaskDesc" class="form-control input-normal"
									id="templateContent" placeholder="" ng-readonly="readFlg"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="custAgent" class="col-sm-3 control-label">负责人</label>
							<div class="col-sm-9" ng-class="form-control">
								<p class="input-group input-normal">
									<input type="text" class="form-control" id="custAgent" name="custAgent" ng-model="taskInfo.custAgent"
										placeholder="选择客户经理" readOnly><span class="input-group-btn">
										<button type="button" class="btn btn-default " ng-click="getEmployee()">
											<i class="ion-search"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-with-icon" ng-click="closePage()">
						<i class="ion-power"></i>关闭
					</button>
					<button type="button" class="btn btn-success btn-with-icon" ng-click="doSave()">
						<i class="ion-android-checkmark-circle"></i>保存
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
