<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div ng-controller="custMntCtrl">
	<div  ng-if="isInitFinash" >
		<uib-tabset active="$tabSetStatus.activeTab">
			<uib-tab ng-click='search(null,"01")' heading="正式客户">
			</uib-tab>
			<uib-tab ng-click='search(null,"03")' heading="潜在客户">
			</uib-tab>
		</uib-tabset>
		<div ba-panel ba-panel-class="with-scroll">
	        <form class="form-horizontal" name="modifyForm" novalidate>
	        	<div class="row">
	        		<div class="col-md-2">
	        			<label class="grid-title">
							<i class="ion-flag btn-primary"></i>
							查询条件
						</label>
	        		</div>
	        	</div>
	        	<div class="row form-group">
	        		<div  class="col-md-4">
	    				<label  class="z_custdetailadd_lable">客户姓名</label>
						<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.custName" placeholder="客户姓名">
	        		</div>
	        		<div  class="col-md-4">
	    				<label class="z_custdetailadd_lable">证件类型</label>
						<ui-select ng-model="searchObj.idTypes"
								   class="btn-group bootstrap-select form-control z_custdetail_inline"
								   search-enabled="false" data-dropup-auto="false" dropupAuto= 'false'
								    >
							<ui-select-match placeholder = "证件类型">
								<span> {{$select.selected.label}}</span>
							</ui-select-match>
							<ui-select-choices repeat="idType in idTypes">
								<span ng-bind-html="idType.label"></span>
							</ui-select-choices>
						</ui-select>
	        		</div>
	        		<div  class="col-md-4">
	    				<label  class="z_custdetailadd_lable">证件号码</label>
						<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.certNo" placeholder="证件号码">
	        		</div>
	        	</div>
				<div class="row form-group">
					<div  class="col-md-4">
						<label  class="z_custdetailadd_lable">客户号</label>
						<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.custNo" placeholder="客户号">
					</div>
				</div>
	        	<!-- <div class="row form-group">
	        		<div  class="col-md-3">
	    				<label  class="z_custdetailadd_lable">电话号码</label>
						<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.phoneNumber">
	        		</div>
	        	</div> -->
				<div class="row split-div">
					<HR  class="split-line">
					<div>
						<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
						<button class="btn btn-primary btn-with-icon" ng-click="clearUserSearch()"><i class="ion-refresh"></i>重置</button>
						<button class="btn btn-primary btn-with-icon" ng-click="addUser()" ng-show="searchObj.custTyp!='01'"><i class="ion-person-add"></i>新增</button>
					</div>
				</div>
	            <div class="row">
	                <div class="col-md-2">
	                    <label class="grid-title">
							<i class="ion-flag btn-primary"></i>
							客户列表
						</label>
	                </div>
					<div class="zblacklist_posi" ng-show="searchObj.custTyp!='01'">
						<!-- 最近上传 ：{{time||"没有上传文件"}} -->
						<a href="app/pages/customer/custMnt/潜在客户导入模板.xls" >下载模板<i class="ion-archive"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="/*" ngf-max-size="10MB">上传<i class="ion-arrow-up-c"></i></a>
					</div>
					<!--<div class="add-row-editable-table z_cusmnt" style="float: right">
						<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
						<button class="btn btn-primary btn-with-icon" ng-click="clearUserSearch()"><i class="ion-refresh"></i>重置</button>
						<button class="btn btn-primary btn-with-icon" ng-click="addUser()"><i class="ion-person-add"></i>新增</button>
						&lt;!&ndash; <button class="btn btn-primary btn-with-icon" ng-click="addUserGroup()"><i class="ion-arrow-swap"></i>保存为客群</button> &ndash;&gt;
						&lt;!&ndash;<button class="btn btn-primary btn-with-icon" ng-click="transferUser()"><i class="ion-arrow-swap"></i>转交</button>&ndash;&gt;
					</div>-->
	                <!-- <div class="add-row-editable-table z_cusmnt" style="float: right">
	                    <button class="btn btn-primary btn-with-icon" ng-click="searchUser()"><i class="ion-search"></i>查询</button>
	                    <button class="btn btn-primary btn-with-icon" ng-click="clearUserSearch()"><i class="ion-refresh"></i>重置</button>
						<button class="btn btn-primary btn-with-icon" ng-click="addUser()"><i class="ion-person-add"></i>新增</button>
						<button class="btn btn-primary btn-with-icon" ng-click="addUserGroup()"><i class="ion-arrow-swap"></i>保存为客群</button> -->
						<!--<button class="btn btn-primary btn-with-icon" ng-click="transferUser()"><i class="ion-arrow-swap"></i>转交</button>-->
	                <!-- </div>
					<div class="col-sm-3 z_custmnt_padding" style="float: right;">
						<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户名称">
					</div> -->
					<!--<div class="col-sm-3 z_custmnt_padding" style="float: right">
						<input type="text" class="form-control" ng-model="searchObj.custAgent" placeholder="客户经理">
					</div>-->
	            </div>
	        </form>

			<table class="table table-hover " st-table="custs" st-safe-src="custCollection">
				<thead>
					<tr class="black-muted-bg">
						<th>
							<label for="flag" class="checkbox-inline custom-checkbox nowrap">
								<input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll1(select_all)">
								<span></span>
							</label>
						</th>
						<th st-sort="customerNo">客户号</th>
						<th st-sort="custName">客户名称</th>
						<th st-sort="custTyp">客户类型</th>

						<th st-sort="certTyp">证件类型</th>
						<th st-sort="certNo">证件号码</th>
						<!--<th st-sort="custTagNamStr">标签</th>-->
						<th st-sort="phoneNumber">电话号码</th>
						<th st-sort="custSource">客户来源</th>
						<th st-sort="custAgentNam">客户经理姓名</th>
						<th st-sort="custAgent">客户经理工号</th>
						<th st-sort="operation" class="z_opation_width">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in custs" ng-click="selectRow(item)">
						<td>
							<label  class="checkbox-inline custom-checkbox nowrap">
								<input type="checkbox" ng-model="item.checked" ng-change="selectOne1(item)">
								<span></span>
							</label>
						</td>
						<td>{{item.custNo}}</td>
						<td title="{{item.custName}}"><span class="custName nowap-ellipsis">{{item.custName}}</span></td>
						<td title="{{item.custTypNam}}"><span class="nowap-ellipsis">{{item.custTypNam}}</span></td>

						<td title="{{item.custTypNam}}"><span class="certTypNam nowap-ellipsis ">{{item.certTypNam}}</span></td>
						<td>{{item.certNo}}</td>
						<!--<td>{{item.custTagNamStr}} </td>-->
						<td>{{item.phoneNumber}}</td>
						<td>{{item.custSourceNam}}</td>
						<td>{{item.custAgentNam}}</td>
						<td>{{item.custAgent}}</td>
						<td>
							<div class="buttons" ng-show="!rowform.$visible">
								<button title="查看" class="btn btn-info btn-icon" ng-click="openDetail(item.custNo)"><i class="ion-eye"></i></button>
								<button title="编辑" class="btn btn-primary btn-icon" ng-click="cusDetail(item.custNo)"><i class="ion-compose"></i></button>
								<button title="删除" ng-show="searchObj.custTyp!='01'" class="btn btn-danger btn-icon" ng-click="removeUser(item.custNo)"><i class="ion-trash-a"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="12" class="text-left">
						<div class="row">
							<st-pager opts='queryOptions' ></st-pager>
							<!-- <div class="col-md-5">
								<div>
								每页
								<label>
									<select title="Rows on page"
											ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
									</select>
								</label>
								条&nbsp;&nbsp;&nbsp;
								共{{total}}条
							</div>
							</div>
							<div class="col-md-7">
								<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
							</div> -->
						</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
