<script type="text/javascript" src="assets/ecotree/ECOTree.js"></script>
<script type="text/javascript" src="assets/ecotree/config.js"></script>
<link type="text/css" rel="stylesheet" href="assets/ecotree/ECOTree.css" />

<style type="text/css">
	.panel{border: 0px;border-radius: 0px;margin-bottom:0px;}
	.panel-heading{border-top-right-radius: 0px; border-top-left-radius: 0px;}
	a{color:#FEF4F4}
</style>

<div ng-controller="viewCombineruleCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">规则基本信息</div>
				<div class="panel-body">
					<div class="add-row-editable-table" style="float: right">
						<button type="button" class="btn btn-primary btn-raised right" ng-click="backRole()"><i class="ion-arrow-return-left"></i>&nbsp;&nbsp;&nbsp;返回</button>
					</div>
					<div class="col-sm-12 form-group  form-group-sm">
						<label class="float control-label">基本规则名称：</label>
						<div class="col-sm-9 float">
							{{combineruleObj.combineRuleName}}
						</div>
					</div>
					<div class="col-sm-12 form-group  form-group-sm">
						<label class="float control-label">组合规则公式：</label>
						<div class="col-sm-9 float">
							{{combineruleObj.remark}}
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">引用关系</div>
				<div class="panel-body">
					<div id="testEcharts" class="admin-chart" >
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" language="javascript">
    // $.ajax({
    //     url: $ROOT+"rule_base_rule/findRelations/${baseRule.id}",
    //     success: function(data){
    //         console.log(data);
    //         if(data.rst = "SUCCESS"){
    //             var t = CreateTree('${baseRule.ruleName}',0,data.content,'relation')
    //         }else{
    //             layer.alert(data.content,{icon: 2});
    //         }
    //     },
    //     async:false
    // });
</script>