<div ng-controller="TableDemo2Ctrl as showCase">
    <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in showCase.persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="test()">
								test
							</button>
							 <button class="btn btn-primary" ng-click="add()">
								add
							</button>
</div>
