<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">选择模板</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="modifyForm" novalidate>
						<div class="row">
							<div class="col-md-2">
								<label class="grid-title">模板列表</label>
							</div>
							<div class="add-row-editable-table z_cusmnt" style="float: right">
								<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
								<button class="btn btn-primary btn-with-icon" ng-click="restTpl()"><i class="ion-refresh"></i>重置</button>
							</div>
							<div class="col-sm-3 z_custmnt_padding" style="float: right;">
								<input type="text" class="form-control" ng-model="searchObj.tplNo" placeholder="模板编号">
							</div>
							<div class="col-sm-3 z_custmnt_padding" style="float: right;">
								<input type="text" class="form-control" ng-model="searchObj.tplTitle" placeholder="模板标题">
							</div>
						</div>
					</form>

					<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="RowCollection">
						<thead>
						<tr class="black-muted-bg">
							<th>#</th>
							<th st-sort="tplNo">模板编号</th>
							<th st-sort="tplTitle">模板标题</th>
							<th st-sort="busiType">业务类型</th>
							<th st-sort="tplCont">模板内容</th>
							<!--<th st-sort="tplStat">消息状态</th>-->
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in smartTableData" ng-click="selectRptRow(item)" >
							<td>
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{ item.tplNo }}" ng-change="selectRptOne($index)" ng-model="radioRptOptions.select" >
							</td>
							<td><span>{{ item.tplNo }}</span></td>
							<td><span>{{ item.tplTitle }}</span></td>
							<td><span>{{  showBusiType(item)}}</span></td>
							<td><span>{{ item.tplCont }}</span></td>
							<!--<td><span>{{ item.tplStat }}</span></td>-->
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="11" class="text-left">
								<div class="row">
									<!--<div class="col-md-5">
										<div>
											每页
											<label>
												<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
														ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
												</select>
											</label>
											条&nbsp;&nbsp;&nbsp;
											共{{total}}条
										</div>
									</div>
									<div class="col-md-7">
										<div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
									</div>-->
									<st-pager opts="selectOpts"></st-pager>
								</div>
							</td>
						</tr>
						</tfoot>
					</table>
					<br/>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="ok()">确定</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
