<div class="widgets" xmlns:width="http://www.w3.org/1999/xhtml">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="msgSendAddCtrl">
				<div ba-panel ba-panel-title="信息设置" ba-panel-class="panel-primary">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="enterCode" class="col-sm-2 control-label">信息类型</label>
							<!--<div class="col-sm-8" ng-class="{'has-error': addForm.enterCode.$invalid && addForm.$submitted }">-->
								<!--<select ng-model="msgSendDefDts.msgType" class="form-control input-normal" ng-options="x.show for x in enterList" ></select>-->
								<!--<span class="help-block error-block basic-block">必录</span>-->
							<!--</div>-->
							<div class="col-sm-10" style="...">
								<ui-select ng-model="msgSendDefDts.msgType"
										   class="btn-group bootstrap-select form-control"
										   search-enabled="false" id="msgType">
									<ui-select-match placeholder="">
										<span> {{$select.selected.label}}</span>
									</ui-select-match>
									<ui-select-choices repeat="msgType in msgTypes">
										<span ng-bind-html="msgType.label"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<!--未字段显示 空白-->
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="msgCode" class="col-sm-2 control-label">信息编码</label>
								<input type="text" class="form-control input-normal" id="msgCode" name="msgCode" ng-model="msgSendDefDts.msgCode">
                                <!--<span class="help-block error-block basic-block">必录</span>-->

						</div> 
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="msgTopic" class="col-sm-2 control-label">信息标题</label>
                            <div class="col-sm-8" ng-class="form-control">
								<input type="text" class="form-control input-normal" id="msgTopic" name="msgTopic" ng-model="msgSendDefDts.msgTopic" >
                            </div>

						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="templateContent" class="col-sm-2 control-label">发送内容</label>
							<div class="col-sm-10" ng-class="form-control">
								<textarea ng-model="msgSendDefDts.templateContent" class="form-control" id="templateContent"  placeholder="" ng-readonly=true></textarea>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<!--空白-->
							<button class="btn btn-primary btn-with-icon" ng-click="selectTemplate()"><i class="ion-search"></i>模板选择</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<!--<label for="sendObj" class="col-sm-2 control-label">发送对象</label>-->
                            <!--<div class="col-sm-10" ng-class="form-control">-->
								<!--<input type="text" class="form-control input-normal" id="sendObj" name="sendObj" ng-model="msgSendDefDts.sendObj"	>-->
                            <!--</div>-->
							<label for="sendObj" class="col-sm-2 control-label">发送对象</label>
							<input type="text" class="form-control input-normal" id="sendObj" name="sendObj" ng-model="msgSendDefDts.sendObj"	>

                                <!--<span class="help-block error-block basic-block">必录</span>-->

						</div>
					</div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <!--空白toastTypeGroup-->
                        </div>
                    </div>
				</div>

				<!--<div class="row">-->
					<!--<div class="col-sm-6">-->
						<!--<div class="form-group">-->
							<!--&lt;!&ndash;<div class="section-block">-->
								<!--<h5>抄送</h5>&ndash;&gt;-->
									<!--<label for="toresend" class="col-sm-2 control-label">抄送</label>-->
									<!--<tags-input class="myTag"-->
												<!--ng-model="tagData"-->
												<!--placeholder="添加"-->
												<!--replace-spaces-with-dashes="false"-->
												<!--add-from-autocomplete-only="true"-->
												<!--on-tag-added="tagAdded($tag)"-->
												<!--on-tag-removed="tagRemoved($tag)">-->
										<!--<auto-complete source="loadDatas($query)"-->
													   <!--min-length="0"-->
													   <!--debounce-delay="0"></auto-complete>-->
									<!--</tags-input>-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-sm-6">-->
						<!--<div class="form-group">-->
							<!--&lt;!&ndash;空白toastTypeGroup&ndash;&gt;-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cc" class="col-sm-2 control-label">抄送</label>
                                <div class="col-sm-10" ng-class="form-control">
                                    <input type="text" tag-input="primary" value="" ng-model="msgSendDefDts.cc" data-role="tagsinput" placeholder="添加" >
									<!--<tags-input-->
												<!--ng-model="msgSendDefDts.cc"-->
												<!--placeholder="添加"-->
												<!--replace-spaces-with-dashes="false"-->
												<!--add-from-autocomplete-only="false">-->
										<!--<auto-complete   min-length="0"-->
													   <!--debounce-delay="0"></auto-complete>-->
									<!--</tags-input>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <!--空白toastTypeGroup-->
                            </div>
                        </div>
                    </div>


				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="options" class="col-sm-1 control-label" >发送渠道</label>
							<!--<div class="control-group">-->
							<div class="control">
								<label class="checkbox-inline custom-checkbox nowrap">
									<input ng-model="options.duanxin" type="checkbox" id="duanxin"  >
									<span>短信</span>
								</label>
								<label class="checkbox-inline custom-checkbox nowrap">
									<input ng-model="options.weixin" type="checkbox" id="weixin"  >
									<span>微信</span>
								</label>
								<label class="checkbox-inline custom-checkbox nowrap">
									<input ng-model="options.youjian" type="checkbox" id="youjian"  >
									<span>邮件</span>
								</label>
								<label class="checkbox-inline custom-checkbox nowrap">
									<input ng-model="options.zhanneixin" type="checkbox" id="zhanneixin"  >
									<span>站内信</span>
								</label>
								<label class="checkbox-inline custom-checkbox nowrap">
									<input ng-model="options.app" type="checkbox" id="app" >
									<span>APP</span>
								</label>
							</div>
							<!--</div>-->
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<!-- 空白-->

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="inlineRadio" class="col-sm-2 control-label">发送方式</label>
							<div class="input-demo radio-demo row">
								<div class="col-md-3">
									<label class="radio-inline custom-radio nowrap">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="direct" ng-model="radioOptions.select" >
										<span>直接发送</span>
									</label>
								</div>
								<div class="col-md-4">
									<label class="radio-inline custom-radio nowrap">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="frequency"  ng-model="radioOptions.select">
										<span>定时发送</span>
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<!--未字段显示 空白-->
							<label for="fixTime" class="col-sm-4 control-label">定时时间</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.password.$invalid && addForm.$submitted }">
								<!--<input type="text" class="form-control input-normal" id="fixTime" name="fixTime" ng-model="msgSendDefDts.fixTime"-->
									   <!--required> <span class="help-block error-block basic-block">必录</span>-->
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="msgSendDefDts.fixTime"  placeholder="" is-open="opened2" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                                    <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                                </p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="tosendobj" class="col-sm-2 control-label">发送类型</label>
							<div class="input-demo radio-demo row">
								<div class="col-md-3">
									<label class="radio-inline custom-radio nowrap">
										<input type="radio" name="SendTypRadioOptions" id="inlineRadio3" value="norecycle"  ng-model="radioSendTyp.select" >
										<span>不循环</span>
									</label>
								</div>
								<div class="col-md-4">
									<label class="radio-inline custom-radio nowrap">
										<input type="radio" name="SendTypRadioOptions" id="inlineRadio4" value="isrecycle"  ng-model="radioSendTyp.select" >
										<span>循环</span>
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<!--未字段显示 空白-->
							<label for="loopType" class="col-sm-4 control-label">循环类型 </label>
							<!--<div class="col-sm-8" ng-class="{'has-error': addForm.password.$invalid && addForm.$submitted }">-->
								<!--<input type="text" class="form-control input-normal" id="recycle" name="recycle" ng-model="userInfo.recycle"-->
									   <!--required> <span class="help-block error-block basic-block">必录</span>-->
							<!--</div>-->
							<div class="col-sm-8" style="float: right">
								<ui-select ng-model="msgSendDefDts.loopType"
										   class="btn-group bootstrap-select form-control"
										   search-enabled="false" id="loopType">
									<ui-select-match placeholder="循环类型">
										<span> {{$select.selected.label}}</span>
									</ui-select-match>
									<ui-select-choices repeat="loopType in loopTypes">
										<span ng-bind-html="loopType.label"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6 ">
						<div class="form-group">
							<label for="msgOrder" class="col-sm-2 control-label">消息优先级</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.enterCode.$invalid && addForm.$submitted }">
								<!--<select ng-model="selectedEnter" class="form-control input-normal" ng-options="x.show for x in enterList" ng-change="selectEnter(selectedEnter)"></select>-->
								<!--<span class="help-block error-block basic-block">必录</span>-->
								<ui-select ng-model="msgSendDefDts.msgOrder"
										   class="btn-group bootstrap-select form-control"
										   search-enabled="false" id="msgOrder">
									<ui-select-match placeholder="">
										<span> {{$select.selected.label}}</span>
									</ui-select-match>
									<ui-select-choices repeat="msgOrder in msgOrders">
										<span ng-bind-html="msgOrder.label"></span>
									</ui-select-choices>
								</ui-select>
							</div>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="resendTimes" class="col-sm-3 control-label">失败重发次数</label>
							<div class="col-sm-6" ng-class="{'has-error': addForm.email.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal" id="resendTimes" name="resendTimes" ng-model="msgSendDefDts.resendTimes" required>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<!-- div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-offset-8 col-sm-4">
								<button class="btn btn-primary" ng-click="saveValue(addForm.$valid)">保存</button>
								<button type="button" class="btn btn-primary" ng-click="closePage()">关闭</button>
							</div>
						</div>
					</div>
				</div> -->
				
				<div class="modal-footer">
			        <button type="button" class="btn btn-danger btn-with-icon" ng-click="closePage()"><i class="ion-power"></i>关闭</button>
			        <button type="button" class="btn btn-success btn-with-icon" ng-click="saveValue(addForm.$valid)"><i class="ion-android-checkmark-circle"></i>保存</button>
					<button type="button" class="btn btn-success btn-with-icon" ng-click="validValue(addForm.$valid)"><i class="ion-android-checkmark-circle"></i>生效</button>
				</div>

			</div>
		</div>
	</form>
</div>
