<div class="col-md-12" ba-panel ba-panel-title="增值服务" ba-panel-class="with-scroll">
	<!-- <uib-tabset></uib-tabset> -->
		<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-3 control-label">项目编号<span style="color:#ff0000;">*</span></label>
			    <div class="col-sm-9">
			      <input type="text" class="form-control" id="input1" placeholder="输入项目编号">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-3 control-label">项目名称<span style="color:#ff0000;">*</span></label>
			    <div class="col-sm-9">
			      <input type="text" class="form-control" id="input2" placeholder="输入项目名称">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="textarea01" class="col-sm-3 control-label">项目描述<span style="color:#ff0000;">*</span></label>
			    <div class="col-sm-9"> 
			    	<textarea placeholder="输入项目描述" class="form-control" id="input3"></textarea>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="phone1" class="col-sm-3 control-label">推送平台<span style="color:#ff0000;">*</span></label>
			      <div>
				    <div class="col-md-2">
				      <label class="radio-inline custom-radio nowrap">
				        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
				        <span>短信平台</span>
				      </label>
				    </div>
				    <div class="col-md-2">
				      <label class="radio-inline custom-radio nowrap">
				        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
				        <span>微信平台</span>
				      </label>
				    </div>
				    <div class="col-md-2">
				      <label class="radio-inline custom-radio nowrap">
				        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
				        <span>邮箱平台</span>
				      </label>
				    </div>
			  	</div>
			  </div>
			  <div class="form-group">
			    <label for="textarea01" class="col-sm-3 control-label">推送模板<span style="color:#ff0000;">*</span></label>
			    <div class="col-sm-9"> 
			    	<textarea placeholder="输入推送模板" class="form-control" id="input4"></textarea>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-3 control-label">推送人群<span style="color:#ff0000;">*</span></label>
			    <div class="col-sm-9">
			      <input type="text" class="form-control" id="input5" placeholder="输入推送人群">
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <div class="col-sm-offset-8 col-sm-4">
			      <button type="submit" class="btn btn-info" ng-click="$dismiss()">保  存</button>
			      <button type="submit" class="btn btn-info" ng-click="$dismiss()">推  送</button>
			    </div>
			  </div>
		</form>
	
</div>