<div ng-controller="IncServPushCtrl">
	<div class="row" >
	    <div class="col-md-12">
	      <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
			  <div class="add-row-editable-table">
			  	<button class="btn btn-primary" ng-click="open('app/pages/cusService/incServPush/incServPushAdd.html')">新增推送</button>
			  </div>

			  <table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="rowCollection">
			    <thead>
				     
				    <tr class="sortable">
					      <th st-sort="proID">项目编号</th>
					      <th st-sort="proName">项目名称</th>
					      <th st-sort="proDesc">项目描述</th>
					      <th st-sort="pushPlat">推送平台</th>
					      <th st-sort="pushCont">推送内容</th>
					      <th st-sort="pushCrowd">推送人群</th>
					      <th st-sort="pushTime">推送时间</th>
					      <th st-sort="">操作</th>
				    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in smartTableData">
			      <td>{{item.proID}}</td>
			      <td><a href="javascript:void(0);" ng-click="open('app/pages/cusService/incServPush/incServPushAdd.html')">{{item.proName}}</a></td>
			      <td>{{item.proDesc}}</td>
			      <td>{{item.pushPlat}}</td>
			      <td>{{item.pushCont}}</td>
			      <td>{{item.pushCrowd}}</td>
			      <td>{{item.pushTime}}</td>
			      <td>
			      	  <div class="buttons">
				        <button class="btn btn-info editable-table-button btn-xs" ng-click="open('app/pages/cusService/incServPush/incServPushAdd.html')" >修改</button>
				        <button class="btn btn-info editable-table-button btn-xs" ng-click="delete()">删除</button>
				        <button class="btn btn-info editable-table-button btn-xs" ng-click="push()">推送</button>
				      </div>
			      </td>
			    </tr>
			    </tbody>
			    <tfoot>
				<tr>
					<td colspan="12" class="text-left">
					<div class="row">
						<div class="col-md-5">
							<div>
							每页
							<label>
								<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
										ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
							</label>
							条&nbsp;&nbsp;&nbsp;
							共{{total}}条
						</div>
						</div>
						<div class="col-md-7">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
						</div>
					</div>
					</td>
				</tr>
			    </tfoot>
			  </table>
		</div>
		</div>
	</div>
</div>
