<div ng-controller="paramManageCtrl">

	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">
		<form class="form-horizontal" name="modifyForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						查询条件
					</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-5" >
					<label  class="z_custdetailadd_lable">参数类型</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.paramType" placeholder="参数类型">
				</div>
				<div class="col-md-5">
					<label  class="z_custdetailadd_lable">参数名称</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.paramCode" placeholder="参数名称">
				</div>
			</div>
			<div class="row split-div">
				<HR  class="split-line">
				<div>
					<button class="btn btn-primary btn-with-icon" ng-click="searchParam()"><i class="ion-search"></i>查询</button>
					<button class="btn btn-primary btn-with-icon" ng-click="addParam()"><i class="ion-plus-round"></i>新增</button>
					<button class="btn btn-danger btn-with-icon" ng-click="batchRemoveParam()"><i class="ion-trash-a"></i>删除</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						参数列表
					</label>
				</div>
			</div>
		</form>

		<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="ParamsRowCollection">
			<thead>
			<tr class="black-muted-bg">
				<th>
					<label  class="checkbox-inline custom-checkbox nowrap">
						<input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()">
						<span></span>
					</label>
				</th>
				<th st-sort="paramType">参数类型</th>
				<th st-sort="paramCode">参数名称</th>
				<th st-sort="paramValue">参数值</th>
				<th st-sort="paramDesc">参数说明</th>
				<th class="zwidth_operation">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in smartTableData" class="editable-row">
				<td> <!-- <input type="checkbox" ng-model="item.checked"
						ng-click="changeCurrent(item, $event)" /> -->
					<label  class="checkbox-inline custom-checkbox nowrap">
						<input type="checkbox" ng-model="item.checked" ng-change="selectOne()">
						<span></span>
					</label>
				</td>
				<td><span>{{ item.paramType }}</span></td>
				<td><span>{{item.paramCode }}</span></td>
				<td><span>{{ item.paramValue }}</span></td>
				<td><span>{{item.paramDesc }}</span></td>
				<td>
					<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">保存</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
								class="btn btn-default editable-table-button btn-xs">取消</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary btn-icon" ng-click="updateParam($index)"><i class="ion-compose"></i></button>
						<button class="btn btn-danger btn-icon" ng-click="removeParam($index)"><i class="ion-trash-a"></i></button>
					</div>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="11" class="text-center">
					<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>
