<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="addOperCtrl">
			<!-- <div ba-panel ba-panel-title="因子操作类型新增" ba-panel-class="panel-primary"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">因子操作类型新增</font>
				</div>	
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="operateType" class="col-sm-4 control-label">因子操作类型</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.operateType.$invalid && addForm.$submitted}">
									<input type="text" class="form-control input-normal" id="operateType" name="operateType" ng-model="addOper.operateType"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="operateDesc" class="col-sm-4 control-label">因子类型描述</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="operateDesc" name="operateDesc" ng-model="addOper.operateDesc">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="operateValue" class="col-sm-4 control-label">因子操作值</label>
								<div class="col-sm-8"  ng-class="{'has-error': addForm.operateValue.$invalid && addForm.$submitted }">
							        <select class="form-control input-normal"   title="请选择..." multiple selectpicker
							                ng-model="operateValue" ng-change="selectOperValue(operateValue)"
							                ng-options="item as item.label for item in FactorOperTypeList">
							        </select>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
				        <button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
				        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
