<div class="widgets">
	<form class="form-horizontal" name="modifyForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="updOperCtrl">
			<!-- <div ba-panel ba-panel-title="因子操作类型修改" ba-panel-class="panel-primary"> -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">因子操作类型修改</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="operateType" class="col-sm-4 control-label">因子操作类型</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.operateType.$invalid && modifyForm.$submitted}">
									<input type="text" class="form-control input-normal" id="operateType" name="operateType" ng-model="updOper.operateType"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="operateDesc" class="col-sm-4 control-label">因子类型描述</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="operateDesc" name="operateDesc" ng-model="updOper.operateDesc"> 
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="operateValue" class="col-sm-4 control-label">因子操作值</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.operateValue.$invalid && modifyForm.$submitted }">
									<select ng-model="operateValue" class="form-control input-normal" ng-options="item as item.label for item in FactorOperTypeList"  title="请选择..." multiple selectpicker
											ng-change="selectOperValue(operateValue)"></select> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(modifyForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
