<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">接触信息新增</font></div>
                <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.custNam" class="col-sm-4 control-label">客户姓名</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="text" class="form-control input-normal" id="custNam" name="custNam" ng-model="custTouch.custNam" disabled> 
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectCust()" show-button-bar="false" ng-disabled = "isCustDisabled"><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.custSex" class="col-sm-4 control-label">客户性别</label>
							<div class="col-sm-8" >
								<select ng-model="custTouch.custSex" class="form-control input-normal" ng-options="x.label for x in Sex" ng-change="selectCustSex(custTouch.custSex)"  id="custSex" ng-disabled = "isDisabled"></select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.birthDate" class="col-sm-4 control-label">出生日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custTouch.birthDate" 
                                 			is-open="birthDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="birthDate"  ng-disabled = "isDisabled"/>
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="birthDateOpen()" ng-disabled = "isDisabled"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.custTel" class="col-sm-4 control-label">客户电话</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="custNam" name="custTel" ng-model="custTouch.custTel" ng-disabled = "isDisabled"> 
							</div>
						</div>
					</div>
				</div>

					<div class="row">
							<div class="col-sm-6">
							<div class="form-group">
								<label for="custTouch.custType" class="col-sm-4 control-label">客户类型</label>
								<div class="col-sm-8" >
									<select ng-model="custTouch.custType" class="form-control input-normal" ng-options="x.label for x in CustType" ng-change="selectCustType(custTouch.custType)"  id="custType" ng-disabled = "isDisabled"></select>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="custTouch.custSource" class="col-sm-4 control-label">客户来源</label>
								<div class="col-sm-8" >
									<select ng-model="custTouch.custSource" class="form-control input-normal" ng-options="x.label for x in DataSource" ng-change="selectCustSource(custTouch.custSource)"  id="custSource" ng-disabled = "isDisabled"></select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.interacDate" class="col-sm-4 control-label">交互日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custTouch.interacDate" 
                                 			is-open="interacDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="interacDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="interacDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="custTouch.interacMode" class="col-sm-4 control-label">交互方式</label>
								<div class="col-sm-8" >
									<select ng-model="custTouch.interacMode" class="form-control input-normal" ng-options="x.label for x in InteracMode" ng-change="selectInteracMode(custTouch.interacMode)"  id="interacMode"></select>
								</div>
							</div>
						</div>
					</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.dealPerson" class="col-sm-4 control-label">处理人员</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="hidden" id="dealPerson" name="dealPerson" ng-model="custTouch.dealPerson" >
								<input type="text" class="form-control input-normal" id="dealPersonNam" name="dealPersonNam" ng-model="custTouch.dealPersonNam" ng-disabled = "isDisabled">
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectAgentDlg()" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.recDate" class="col-sm-4 control-label">记录日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custTouch.recDate" 
                                 			is-open="recDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="recDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="recDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.custInteracType" class="col-sm-4 control-label">交互类型</label>
							<div class="col-sm-8" >
								<select ng-model="custTouch.custInteracType" class="form-control input-normal" ng-options="x.label for x in InteractionType" ng-change="selectInteractionType(custTouch.custInteracType)"  id="custInteracType"></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.complainTyp" class="col-sm-4 control-label">投诉类型</label>
							<div class="col-sm-8" >
								<select ng-model="custTouch.complainTyp" class="form-control input-normal" ng-options="x.label for x in ComplainType" ng-change="selectComplainTyp(custTouch.complainTyp)"  id="complainTyp"  ng-disabled = "isComplt"></select>
							</div>
						</div>
					</div>
						<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.complainSts" class="col-sm-4 control-label">投诉状态</label>
							<div class="col-sm-8" >
								<select ng-model="custTouch.complainSts" class="form-control input-normal" ng-options="x.label for x in ComplainStatus" ng-change="selectComplainSts(custTouch.complainSts)"  id="complainSts"  ng-disabled = "isComplt"></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.consultTyp" class="col-sm-4 control-label">咨询类型</label>
							<div class="col-sm-8" >
								<select ng-model="custTouch.consultTyp" class="form-control input-normal" ng-options="x.label for x in ConsultType" ng-change="selectConsultTyp(custTouch.consultTyp)"  id="consultTyp"  ng-disabled = "isConsult"></select>
							</div>
						</div>
					</div>
						<div class="col-sm-6">
						<div class="form-group">
							<label for="custTouch.consultSts" class="col-sm-4 control-label">咨询状态</label>
							<div class="col-sm-8" >
								<select ng-model="custTouch.consultSts" class="form-control input-normal" ng-options="x.label for x in ConsultSts" ng-change="selectConsultSts(custTouch.consultSts)"  id="consultSts"  ng-disabled = "isConsult"></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12" style="float: right;margin-right:20px;">
 							<label for="custTouch.interacThemeDesc" class="col-sm-2 control-label" style="font-weight:lighter">主题描述</label>
							<div class="col-sm-10" >
								<textarea ng-model="custTouch.interacThemeDesc" class="form-control" id="interacThemeDesc" rows="5" 
									maxlength="200" placeholder="" ></textarea>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12" style="float: right;margin-right:20px;">
 							<label for="custTouch.addiDesc" class="col-sm-2 control-label" style="font-weight:lighter">附加描述</label>
							<div class="col-sm-10" >
								<textarea ng-model="custTouch.addiDesc" class="form-control" id="addiDesc" rows="5" 
									maxlength="200" placeholder="" ></textarea>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row zaddperassets_textcenter">
					<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
					<button type="button" class="btn btn-primary btn-with-icon" ng-click="$dismiss()">保存</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
