<div ng-controller="splitApplyCtrl">
	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">

		<form class="form-horizontal" name="modifyForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						查询条件
					</label>
				</div>
			</div><br/>
			<div class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">任务编号</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.taskId" placeholder="任务编号">
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">证件类型</label>
					<ui-select ng-model="searchObj.idType"
							   class="btn-group bootstrap-select form-control z_custdetail_inline"
							   search-enabled="false" ng-disabled="false" data-dropup-auto="false" >
						<ui-select-match placeholder = "证件类型">
							<span> {{$select.selected.label}}</span>
						</ui-select-match>
						<ui-select-choices repeat="idType in idTypes">
							<span ng-bind-html="idType.label"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">证件号码</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.certNo" placeholder="证件号码">
				</div>
			</div>
				<div class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">客户姓名</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.clientName" placeholder="客户姓名">
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">客户手机号</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.clientPhone" placeholder="客户手机号">
				</div>
			</div>
			<div class="row split-div">
				<HR  class="split-line">
				<div>
					<button class="btn btn-primary btn-with-icon" ng-click="search()">
						<i class="ion-search"></i>查询
					</button>
				</div>
			</div>
		</form>
		<form class="form-horizontal">
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						任务列表
					</label>
				</div>
			</div>
		<table class="table  table-hover table-condensed" st-table="tableData" st-safe-src="rowCollection">
			<thead>
				<tr class="sortable black-muted-bg">
					<th class="table-id" st-sort="taskId">任务编号</th>
					<!-- <th st-sort="ruleCondition">生成规则</th> -->
					<th st-sort="similarPercent">相似度</th>
					<th st-sort="taskState">任务状态</th>
					<th st-sort="splitDealUser">拆分申请人</th>
					<th st-sort="splitApproveUser">拆分审批人</th>
					<th st-sort="taskCreateTime">任务生成时间</th>
					<th class="zwidth_operation">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in tableData">
					<td>{{item.taskId}}</td>
					<!-- <td>{{item.ruleCondition}}</td> -->
					<td>{{toPercent(item.similarPercent)}}</td>
					<td>{{showTaskStat(item)}}</td>
					<td>{{item.splitUserName}}</td>
					<td>{{item.splitApproveUserName}}</td>
					<td>{{item.taskCreateTime}}</td>
					<td>
						<div class="buttons" ng-show="!rowform.$visible">
							<button title="查看" class="btn btn-info btn-icon" ng-click="showDetail(item)">
								<i class="ion-eye"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="7" class="text-center"><st-pager opts="queryOptions" pageSize="10"></st-pager></td>
				</tr>
			</tfoot>
		</table>
		</form>
	</div>
</div>
