<div class="widgets" ng-class="{'expanded': true}" ng-controller="mergeDetailCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="section-block links">
				<a href ng-click="backToList()"> <i class="ion-arrow-left-a"></i> 返回任务列表
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 padding_" >
			<div class="typography-widget" style="z-index: -100; position: relative;">
				<div ba-panel ba-panel-class="with-scroll lists-widget" ba-panel-title="任务详情">
					<div class="section-block">
						<div class="accent">
							任务编号
							<p style='float: right'>{{taskId}}</p>
						</div>
						<div class="accent">
							任务状态
							<p style='float: right'>{{showTaskStat(taskState)}}</p>
						</div>
						<div class="accent">
							生成规则
							<p style='float: right'>{{judgeRuleDesc}}</p>
						</div>
						<div class="accent">
							相似度
							<p style='float: right'>{{toPercent(similarPercent)}}</p>
						</div>
					</div>
				</div>
			</div>
			<div ba-panel ba-panel-class="lists-widget" ba-panel-title="处理意见">
				<div class="">
					<div class="row ">
						<div class="col-sm-12">
							<label for="applyUser" class="float zmarg_right">申请人：</label>
							 <div id="applyUser" class="float" ng-model="custmergeApply.applyUser">{{custmergeApply.applyUser}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label for="applyTyp" class="float zmarg_right">申请类型：</label> 
							<div id="applyTyp"  class="float">{{ShowTaskApplyTyp(custmergeApply)}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label for="applyOpinion" class="float zmarg_right">申请人意见：</label>
							<div ng-model="custmergeApply.applyOpinion" class="float" id="applyOpinion" rows="2">{{custmergeApply.applyOpinion}}</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-sm-12">
							<label for="message">审批结论</label>
							<textarea ng-model="custmergeApply.approveSugges" class="form-control" id="message" rows="2" maxlength="200"
								placeholder="最多输入200个字" ng-change="tolCount()"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6" style="float: left">
							<label>您还可以输入<font color="red">{{writCount}}</font>个字
							</label>
						</div>
					</div>
					<div class="row">
						<div class="row">
							<br />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="float: left">
							<button class="btn btn-primary" ng-click="mergePass()">审批通过</button>
							<button class="btn btn-primary" ng-click="sendBack()">审批退回</button>
						</div>
					</div> -->
				</div>

			</div>
		</div>
		<div class="col-md-9 zcustrelmnt_right">
			<uib-tabset active="$tabSetStatus.activeTab"> <uib-tab heading="相似客户">
			<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll viewport">
				<div class="row">
					<div class="add-row-editable-table" style="float: right; margin-right: 15px;">
						<button class="btn btn-primary" ng-click="doMergePass()">审批通过</button>
						<button class="btn btn-primary" ng-click="doSendBack()">审批退回</button>
					</div>
				</div>
				<table class="table table-hover table-condensed" st-table="tableData" st-safe-src="rowCollection">
					<thead>
						<tr class="black-muted-bg">
							<th>是否合并</th>
							<th>客户号</th>
							<th>客户姓名</th>
							<th>客户性别</th>
							<th>出生日期</th>
							<th>证件类型</th>
							<th>证件号码</th>
							<th>手机号码</th>
							<!-- <th>车牌号码</th> -->
							<!--<th>家庭电话</th>-->
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in tableData">
							<td>
								<label  class="checkbox-inline custom-checkbox nowrap">
									<input type="checkbox" ng-model="item.isChecked" disabled="disabled">
									<span></span>
								</label>
							</td>
							<td>{{item.custNo}}</td>
							<td>{{item.custName}}</td>
							<td>{{ShowGender(item)}}</td>
							<td>{{item.birthDate}}</td>
							<td>{{ShowCertTyp(item)}}</td>
							<td>{{item.certNo}}</td>
							<td>{{item.phoneNumber}}</td>
							<!-- <td>{{item.XXXX}}</td> -->
							<!--<td>{{item.homeTel}}</td>-->
							<td>
								<button type="button" class="btn btn-info btn-icon z_btn_icon" ng-click="openCustDetail(item.custNo)">
									<i class="ion-eye"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</uib-tab> <uib-tab heading="历史结论">
			<div ba-panel ba-panel-class="with-scroll lists-widget viewport100">

				<section id="cd-timeline" class="cd-container cssanimations">
					<div class="cd-timeline-block" ng-repeat="x in timelineCollection">
						<div class="cd-timeline-img">
							<div class="kameleon-icon with-round-bg primary">
								<img ng-src="{{::( 'Checklist' | kameleonImg )}}">
							</div>
						</div>
						<div class="cd-timeline-content_ warning" style="background:#f4f8fb;">
							<h4>{{showTaskTrace(x)}}</h4>
							<li>经办人
								<p style='float: right'>{{x.dealUser}}</p>
							</li>
							<li>处理日期
								<p style='float: right'>{{x.dealTime}}</p>
							</li>
							<li>处理结论
								<p style='float: right'>{{ShowDealConclusion(x)}}</p>
							</li>
							<li>处理意见
								<p style='float: right'>{{x.dealOpinion}}</p>
							</li> <span class="cd-date">{{x.dealTime}}</span>
						</div>
					</div>
				</section>
			</div>

			</uib-tab> </uib-tabset>
		</div>
	</div>
</div>
