//updata 2018-03-31  zjs add_style
.z_home_flex{
	display:flex;
	justify-content:space-between;
}
.z_home_impot{
	width:24.5%;
}
.z_home_panel{
	margin-bottom:8px !important;
	overflow:hidden;
}
.z_home_row{
	width:100%;
	overflow:hidden;
}	


//站内信管理
.z_appMsg_border{
	border-top:none !important;
	border-radius:2px;
}
.z_appMsgMng_row{
	padding:0 15px !important;
}
.z_appMsgMng_col-sm-2{
	padding-left:0;
}
.z_appMsgMng_tr{
	th{
		text-align:left !important;
	}
}
.z_appMsgMng_tbody {
	td{
		font-size:12px;
	}
	button{
		width:25px;
		height:25px;
		line-height:25px;
	}
}

.z_appMsgMng_operation{
	width:80px;
}