//updata 2018 - 03-02 zjs
.z_publice_pano{
  	>div{
  		padding:0 !important;
  	}
 }
 .z_pop_up{
 	width:100%;
 	padding:15px;
 }
 .z_peopleModal_padd{
	margin:0 !important;
 }
.z_peopleModal_choose{
	width:60px;
}
.z_peoplemodal_tr_left{
	th{
		text-align:left !important;
	}
	td{
		text-align:left !important;
	}
}
.z_people_text_left{
	padding:3px 6px !important;
}
.z_choose_center{
	text-align:center;
}
.z_list_title{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid transparent;
    background-color: #8b9ee4;
    height:45px;
    line-height:45px;color:#fff;
}