<div class="widgets" ng-controller="pageConfigCtrl">
	<div class="panel panel-default bootstrap-panel">
		<div class="panel-heading m-hd">
			<h2 class="u-tt">自定义工作台</h2>
			<!-- <div class="more">
				<a href="" ng-click="getAllMsg(0)">更多&raquo;</a>
			</div> -->
			<ul>
				<li class="{{isShow==0?'z-crt':''}}"><a href="" ng-click="chengeDiv(0)">常用菜单</a></li>
				<li class="{{isShow==1?'z-crt':''}}"><a href="" ng-click="chengeDiv(1)">统计信息</a></li>
				<li class="{{isShow==2?'z-crt':''}}"><a href="" ng-click="chengeDiv(2)">显示模块</a></li>
			</ul>
		</div>
		<div class="panel-body" style="height: 500px;">
			<div id="menu" ng-show="isShow==0">
				<table class="table">
					<thead>
						<tr class="table_bg">
							<th>是否显示</th>
							<th>序号</th>
							<th>菜单名称</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="menu in menuList">
							<td><input type="checkbox" ng-model="menu.checked" ng-change="menuSelectOne(menu)"></td>
							<td>{{menu.seqNo}}</td>
							<td>{{menu.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="menu" ng-show="isShow==1">
				<h4>为我的简报设置默认的时间，例如：今天、本周、本月。</h4>
				<div class="col-md-6">
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: right;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor1}};"
								ng-click="onSelect(1)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor1}};"><i class="ion-android-stopwatch"></i>今天</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div1">
									<h4>
										<span style="color: {{fontColor1}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel"  style="float: right;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor2}};"
								ng-click="onSelect(2)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor2}};"><i class="ion-android-stopwatch"></i>本周</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div2">
									<h4>
										<span style="color: {{fontColor2}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: right;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor3}};"
								ng-click="onSelect(3)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor3}};"><i class="ion-android-stopwatch"></i>本月</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div34">
									<h4>
										<span style="color: {{fontColor3}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: right;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor4}};"
								ng-click="onSelect(4)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor4}};"><i class="ion-android-stopwatch"></i>本季度</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div4">
									<h4>
										<span style="color: {{fontColor4}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: right;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor5}};"
								ng-click="onSelect(5)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor5}};"><i class="ion-android-stopwatch"></i>本年</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div5">
									<h4>
										<span style="color: {{fontColor5}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel"  style="float: left;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor6}};"
								ng-click="onSelect(6)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor6}};"><i class="ion-android-stopwatch"></i>昨天</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div6">
									<h4>
										<span style="color: {{fontColor6}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: left;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor7}};"
								ng-click="onSelect(7)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor7}};"><i class="ion-android-stopwatch"></i>上一周</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div7">
									<h4>
										<span style="color: {{fontColor7}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: left;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor8}};"
								ng-click="onSelect(8)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor8}};"><i class="ion-android-stopwatch"></i>上一月</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div8">
									<h4>
										<span style="color: {{fontColor8}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: left;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor9}};"
								ng-click="onSelect(9)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor9}};"><i class="ion-android-stopwatch"></i>上一季度</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div9">
									<h4>
										<span style="color: {{fontColor9}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-top:10px;">
						<div class="panel panel-default bootstrap-panel" style="float: left;">
							<div class="panel-body"
								style="height: 60px; width: 200px; border: 1px dashed #000; float: left; background-color: {{checkedColor10}};"
								ng-click="onSelect(10)">
								<div style="float: left;">
									<h4>
										<span style="color: {{fontColor10}};"><i class="ion-android-stopwatch"></i>上一年度</span>
									</h4>
								</div>
								<div style="float: right;" ng-show="div10">
									<h4>
										<span style="color: {{fontColor10}};"><i class="ion-checkmark"></i></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="menu" ng-show="isShow==2">
				<table class="table">
					<thead>
						<tr class="table_bg">
							<th>是否显示</th>
							<th>模块名称</th>
							<th>排列顺序号</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="modular in modularList">
							<td><input type="checkbox" ng-model="item.checked" ng-change="selectOne()"></td>
							<td>{{modular.name}}</td>
							<td><input type="text" id="seqNo" name="seqNo" ng-model="modular.seqNo"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
			<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
		</div>
	</div>
</div>