<div class="widgets">
	<form class="form-horizontal" name="modifyForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="updFactorCtrl">
			<!-- <div ba-panel ba-panel-title="因子修改" ba-panel-class="panel-primary"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">因子修改</font>
				</div>	
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="factorName" class="col-sm-4 control-label">因子名称</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.factorName.$invalid && modifyForm.$submitted}">
									
									<div class="select-normal">
										<ui-select ng-model="updFactor.factorName" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !updFactor.factorName}" append-to-body="false" id="factorName" 
										name="factorName" search-enabled="false"   ng-required="true"> 
											 <ui-select-match > 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="fType in factorName"> 
											 	<span ng-bind-html="fType.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="displayName" class="col-sm-4 control-label">因子显示名称</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.displayName.$invalid && modifyForm.$submitted }">
									<input type="text" class="form-control input-normal" id="displayName" name="displayName" ng-model="updFactor.displayName"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="factorExp" class="col-sm-4 control-label">因子表达式</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="factorExp" name="factorExp" ng-model="updFactor.factorExp">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="factorType" class="col-sm-4 control-label">因子类型</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.factorType.$invalid && modifyForm.$submitted }">
									<div class="select-normal">
										<ui-select ng-model="updFactor.factorType" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !modifyForm.factorType}" append-to-body="false" id="factorType" 
										name="factorType" search-enabled="false"   ng-required="true"> 
											 <ui-select-match placeholder="因子类型"> 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="fType in factorTypes"> 
											 	<span ng-bind-html="fType.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="operateType" class="col-sm-4 control-label">支持操作类型</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.operateType.$invalid && modifyForm.$submitted }">
								
									<div class="select-normal">
										<ui-select ng-model="updFactor.operateType" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !modifyForm.operateType}" append-to-body="false" id="operateType" 
										name="operateType" search-enabled="false"   ng-required="true"> 
											 <ui-select-match placeholder="支持操作类型"> 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="oType in operateTypes"> 
											 	<span ng-bind-html="oType.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="valueType" class="col-sm-4 control-label">因子赋值类型</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.valueType.$invalid && modifyForm.$submitted }">
								
									<div class="select-normal">
										<ui-select ng-model="updFactor.valueType" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !modifyForm.valueType}" append-to-body="false" id="valueType" 
										name="valueType" search-enabled="false"   ng-required="true"> 
											 <ui-select-match placeholder="因子赋值类型"> 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="vType in valueTypes"> 
											 	<span ng-bind-html="vType.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="valueList" class="col-sm-4 control-label">因子赋值范围</label>
								<div class="col-sm-8" >
									<button type="button" class="btn btn-primary btn-with-icon" ng-click="toModList()"><i class="ion-forward"></i>查看列表</button>
								</div>
							</div>
						</div>
					</div>
					
	
					<div class="row zaddperassets_textcenter">
				        <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
				        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(modifyForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
