<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-sm-12" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">客户关系新增</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="custRel.custNo" class="col-sm-4 control-label">客户号</label>
								<div class="col-sm-8 zaddperassets_posi" >
									<input type="text" class="form-control input-normal" id="custNo" name="custNo" ng-model="custRel.custNo" disabled> 
									<span class="input-group-btn">
											<button class="btn btn-default z_bordernone" ng-click="selectCust()" show-button-bar="false" disabled><i class="ion-search"></i></button>
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group" >
								<label for="custNam" class="col-sm-4 control-label">客户名称</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control  input-normal" ng-model="custRel.custNam" readonly=disabled style="background-color:#F5F5F5">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" >
								<label for="relationTyp" class="col-sm-4 control-label">关系类型</label>
								<div class="col-sm-8" >
									<!-- <input type="text" class="form-control input-normal" id="relationTyp" name="relationTyp" ng-model="custRel.relationTyp" required> -->
									<select ng-model="custRel.relationTyp" class="form-control input-normal" ng-options="x.label for x in Relation" ng-change="selectRelationTyp(custRel.relationTyp)"  id="relationTyp">
										<option value="" hidden> </option></select>
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="custRel.refCustNo" class="col-sm-4 control-label">关联客户号</label>
								<div class="col-sm-8 zaddperassets_posi" >
									<input type="text" class="form-control input-normal" id="refCustNo" name="refCustNo" ng-model="custRel.refCustNo" disabled> 
									<span class="input-group-btn">
											<button class="btn btn-default z_bordernone" ng-click="selectRelCust()" show-button-bar="false" ><i class="ion-search"></i></button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="custRel.refCustNo" class="col-sm-4 control-label">关联客户姓名</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="refCustNam" name="refCustNam" ng-model="custRel.refCustNam" readonly=disabled style="background-color:#F5F5F5">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-12" style="float: right;margin-right:20px;">
	 							<label for="custRel.relationDesc" class="col-sm-2 control-label" style="font-weight:lighter">关系描述</label>
								<div class="col-sm-10" >
									<textarea ng-model="custRel.relationDesc" class="form-control" id="relationDesc" rows="5" maxlength="200" placeholder="" ></textarea>
								</div>
							</div>
						</div>
					</div>

					<br/>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveRel()">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
