<div class="widgets">
	<form class="form-horizontal" name="uptForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">个人客户资产修改</font></div>
                <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custAssets.assetsNam" class="col-sm-4 control-label">资产名称</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-normal" id="assetsNam" name="assetsNam" ng-model="custAssets.assetsNam" required> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custAssets.assetsTyp" class="col-sm-4 control-label">资产类型</label>
							<div class="col-sm-8" >
								<!-- <input type="text" class="form-control input-normal" id="assetsTyp" name="assetsTyp" ng-model="custAssets.assetsTyp" required> --> 
								<select ng-model="custAssets.assetsTyp" class="form-control input-normal" ng-options="x.label for x in AssetsTyp" ng-change="selectAssetsTyp(custAssets.assetsTyp)"  id="assetsTyp"></select>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custAssets.storedAmt" class="col-sm-4 control-label">储值额度</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-normal" id="storedAmt" name="storedAmt" ng-model="custAssets.storedAmt">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custAssets.obtainTime" class="col-sm-4 control-label">获得日期</label>
							<div class="col-sm-8 zaddperassets_posi" >
                                <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custAssets.obtainTime" 
                                  			is-open="obtainOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="obtainTime" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="obtainOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custAssets.expireTime" class="col-sm-4 control-label">到期日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custAssets.expireTime" 
                                 			is-open="expireOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="expireTime" placeholder="默认永久有效"/>
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="expireOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="custAssets.principal" class="col-sm-4 control-label">负责人</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-normal" id="principal" name="principal" ng-model="custAssets.principal">
							</div>
						</div>
					</div>
				</div>
				<div class="row zaddperassets_textcenter">
					<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
					<button type="button" class="btn btn-primary btn-with-icon" ng-click="uptAssets()">保存</button>
					<button type="button" class="btn btn-danger btn-raised" ng-click="reset()">重置</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
