<div class="widgets">
	<div class="col-md-12" ng-controller="addTagCtrl">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<font color="white">标签新增</font>
			</div>
			<div class="panel-body">
				<tag-wizard> <tag-wizard-step title="标签基本信息" form="baseInfo">
				<form name="baseInfo" class="form-horizontal" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group has-feedback" ng-class="{'has-error': baseInfo.tagName.$invalid && (baseInfo.tagName.$dirty || baseInfo.$submitted)}">
								<label for="tagName" class="col-sm-4">标签名称</label> 
								<div class="col-sm-8 zpercusportra_paleft">
									<input type="text" class="form-control input-normal" id="tagName" name="tagName" ng-model="saveTag.tagName" required> <span class="help-block error-block basic-block">Required</span>
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': baseInfo.parentTagId.$invalid && (baseInfo.parentTagId.$dirty || baseInfo.$submitted)}">
								<label for="parentTagId" class="col-sm-4">父级标签</label>
								<div class="col-sm-8 zpercusportra_paleft">
									<ui-select ng-model="saveTag.parentTagId" class="btn-group bootstrap-select input-normal" style="float:left;"
									 append-to-body="false" id="parentTagId"  name="parentTagId" search-enabled="false" ng-change="pareTagChan()"> 
										 <ui-select-match  placeholder="请选择..."> 
										 	<span> {{$select.selected.label}}</span> 
										 </ui-select-match> 
										 <ui-select-choices repeat="fType in parentTagId"> 
										 	<span ng-bind-html="fType.label"></span> 
										 </ui-select-choices> 
									 </ui-select>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': baseInfo.tagTypeId.$invalid && (baseInfo.tagTypeId.$dirty || baseInfo.$submitted)}" >
								<label for="tagTypeId" class="col-sm-4">标签类别</label>
								<div class="col-sm-8 zpercusportra_paleft">
									<ui-select ng-model="saveTag.tagTypeId" class="btn-group input-normal" style="float:left;" 
									 append-to-body="false" id="tagTypeId"  name="tagTypeId" search-enabled="false"  ng-change="tagTypeChan()"> 
										 <ui-select-match  placeholder="请选择..."> 
										 	<span> {{$select.selected.label}}</span> 
										 </ui-select-match> 
										 <ui-select-choices repeat="fType in tagTypeId"> 
										 	<span ng-bind-html="fType.label"></span> 
										 </ui-select-choices> 
									 </ui-select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group has-feedback" ng-class="{'has-error': baseInfo.tagScope.$invalid && (baseInfo.tagScope.$dirty || baseInfo.$submitted)}">
								<label for="tagScope" class="col-sm-4">使用范围</label> 
								<div class="col-sm-8 zpercusportra_paleft">
									<ui-select ng-model="saveTag.tagScope" class="btn-group bootstrap-select input-normal"  style="float:left;"
									 append-to-body="false" id="tagScope"  name="tagScope" search-enabled="false" > 
										 <ui-select-match  placeholder="请选择..."> 
										 	<span> {{$select.selected.label}}</span> 
										 </ui-select-match> 
										 <ui-select-choices repeat="fType in tagScope"> 
										 	<span ng-bind-html="fType.label"></span> 
										 </ui-select-choices> 
									 </ui-select>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': baseInfo.tagScopeVal.$invalid && (baseInfo.tagScopeVal.$dirty || baseInfo.$submitted)}">
								<label for="tagScopeVal" class="col-sm-4">范围取值 </label> 
								<div class="col-sm-8 zpercusportra_paleft">
									<input type = "text" class="form-control input-normal" id="tagScopeVal" name = "tagScopeVal"  ng-click="showMenu()" ng-model="saveTag.tagScopeVal" required>
								</div>
								<span class="help-block error-block basic-block">Required</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': baseInfo.recStat.$invalid && (baseInfo.recStat.$dirty || baseInfo.$submitted)}">
								<label for="recStat" class="col-sm-4">标签状态</label> 
								<div class="col-sm-8 zpercusportra_paleft">
									<ui-select ng-model="saveTag.recStat" class="btn-group bootstrap-select input-normal" style="float:left;"
									 append-to-body="false" id="recStat"  name="recStat" search-enabled="false" > 
										 <ui-select-match  placeholder="请选择..."> 
										 	<span> {{$select.selected.label}}</span> 
										 </ui-select-match> 
										 <ui-select-choices repeat="fType in recStat"> 
										 	<span ng-bind-html="fType.label"></span> 
										 </ui-select-choices> 
									 </ui-select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-ms-12">
						<div class="form-group">
							<label for="remark" class="col-sm-2" style="vertical-align:top;">类别说明</label>
							<div class="col-sm-9 padding_" ng-class="{'has-error': addForm.remark.$invalid && addForm.$submitted }" >
								<textarea  ng-model="saveTag.remark" class="form-control " id="remark" rows="3"></textarea>
							</div>
						</div>
					</div>
			</form>
			</tag-wizard-step>
			<tag-wizard-step title="标签策略关联" form="strategyConn">
			<form name="strategyConn" novalidate>
				<!-- <div class="row">
					<div class="col-md-2">
						<label class="grid-title">策略列表</label>
					</div>						
				</div>		 -->				
				<div class="" style="line-height:34px;">
					<div class="add-row-editable-table" style="float: right">
						<button class="btn btn-primary btn-with-icon" ng-click="searchStar()"><i class="ion-search"></i>查询</button>
					</div>
					<div class="col-sm-3" style="float: right">
						<input type="text" class="form-control" ng-model="searchObj.strategyName" placeholder="策略名称">
					</div>
					<div class="" style="float: left;">
						<label for="strategyId">当前策略</label>
						<span>&nbsp;&nbsp;&nbsp;&nbsp;{{strategyName}}</span>
					</div>
				</div>
				<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="StratRowCollection">
					<thead>
						<tr class="black-muted-bg">
							<!-- <th st-sort="strategyId">策略ID</th> -->
							<th st-sort="strategyName">策略名称</th>
							<th st-sort="remark">策略说明</th>
							<th>选择策略</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in smartTableData">
							<!-- <td>{{ item.strategyId }}</td> -->
							<td>{{ item.strategyName }}</td>
							<td>{{ item.remark }}</td>
							<td>
								<div class="buttons" ng-show="!rowform.$visible">
									<button class="btn btn-primary btn-with-icon" ng-click="getStrategyId(item)"><i class="ion-checkmark-circled"></i></button>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
										</select>
										</label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
			</tag-wizard-step>
			<tag-wizard-step title="信息确认" form="infoComf">
			<form name="infoComf" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group " >
								<label for="tagName"  class="col-md-4" style="text-align:right">标签名称</label> 
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.tagName}}</span>
								<!-- <input type="text" class="form-control" id="tagName" name="tagName" ng-model="saveTag.tagName" required> <span class="help-block error-block basic-block">Required</span> -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" >
								<label for="parentTagId"  class="col-md-4" style="text-align:right">父标签</label>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.parentTagId.label}}</span>
								 <!-- <input type="text" class="form-control" id="parentTagId" name="parentTagId" ng-model="saveTag.parentTagId" required> <span class="help-block error-block basic-block">Required</span> -->
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group" >
								<label for="tagTypeId"  class="col-md-4" style="text-align:right">标签类别</label> 
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.tagTypeId.label}}</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" >
								<label for="strategyId"  class="col-md-4" style="text-align:right">关联策略</label> 
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{strategyName}}</span>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group ">
								<label for="tagScope"  class="col-md-4" style="text-align:right">标签使用范围</label> 
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.tagScope.label}}</span>
								<!-- <input type="text" class="form-control" id="tagScope" name="tagScope" ng-model="saveTag.tagScope" required> <span class="help-block error-block basic-block">Required</span> -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="tagScopeVal"  class="col-md-4" style="text-align:right">范围值</label> 
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.tagScopeVal}}</span>
								<!-- <input type="text" class="form-control" id="tagScopeVal" name="tagScopeVal" ng-model="saveTag.tagScopeVal" required> <span class="help-block error-block basic-block">Required</span> -->
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="recStat"  class="col-md-4" style="text-align:right">标签状态</label> 
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.recStat.label}}</span>
								<!-- <input type="text" class="form-control" id="recStat" name="recStat" ng-model="saveTag.recStat" required> <span class="help-block error-block basic-block">Required</span> -->
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="remark"  class="col-md-2" style="text-align:right">类别说明&nbsp;</label>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;{{saveTag.remark}}</span>
							</div>
						</div>
					</div>
			</form>
			
			
			</tag-wizard-step>
			<tag-wizard-step title="完成">
			<form class="form-horizontal" name="finish" novalidate style="text-align:center">标签操作完成!</form>
			</tag-wizard-step>
			</tag-wizard>



		</div>
	</div>
</div>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;border:1px solid #ddd;">
	<ul dept-ztree id="treeDemo" class="ztree" style="margin-top:0; width:217px; height: 300px"></ul>
</div>
<div id="orgMenuContent" class="orgMenuContent" style="display:none; position: absolute;z-index: 10000;">
	<ul org-tree-dir id="orgTreeDemo" class="ztree" style="margin-top:0; width:220px; height: 300px"></ul>
</div>
<div id="posMenuContent" class="posMenuContent" style="display:none; position: absolute;z-index: 10000;">
	<ul pos-tree-dir id="posTreeDemo" class="ztree" style="margin-top:0; width:220px; height: 300px"></ul>
</div>
<div id="enterMenuContent" class="enterMenuContent" style="display:none; position: absolute;z-index: 10000;">
	<ul enter-tree-dir id="enterTreeDemo" class="ztree" style="margin-top:0; width:220px; height: 300px"></ul>
</div>
