<div class="widgets">
	<form class="form-horizontal" name="modifyForm" novalidate>
		<loading></loading>
		
		<div class="col-md-12" ng-controller="updTagTypeCtrl">
			<!-- <div ba-panel ba-panel-title="参数新增" ba-panel-class="panel-primary"> -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">标签类型修改</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tagTypeName" class="col-sm-4 control-label">类别名称</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.tagTypeName.$invalid && modifyForm.$submitted}">
									<input type="text" class="form-control input-normal" id="tagTypeName" name="tagTypeName" ng-model="updType.tagTypeName" required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="superTagTypeId" class="col-sm-4 control-label">上级标签类别</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.superTagTypeId.$invalid && modifyForm.$submitted }">
									
									<div class="select-normal">
										<ui-select ng-model="updType.superTagTypeId" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !modifyForm.superTagTypeId}" append-to-body="false" id="superTagTypeId" 
										name="superTagTypeId" search-enabled="false" >
											 <ui-select-match > 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="fType in superTagTypeId"> 
											 	<span ng-bind-html="fType.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
									
									
									<!-- <input type="text" class="form-control input-normal" id="superTagTypeId" name="superTagTypeId" ng-model="updType.superTagTypeId" required> <span class="help-block error-block basic-block">必录</span> -->
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
							
								<label for="remark" class="col-sm-2 control-label">类别说明</label>
								<div class="col-sm-10" ng-class="{'has-error': modifyForm.remark.$invalid && modifyForm.$submitted }">
									<textarea style="width:92.5%" ng-model="updType.remark" class="form-control " id="remark" rows="3"	  ></textarea>
									<!-- <input type="text" class="form-control input-normal" id="paramCode" name="paramCode" ng-model="sysParam.paramCode" required> <span class="help-block error-block basic-block">必录</span> -->
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(modifyForm.$valid)">
							保存
						</button>
					</div>
				</div>

			</div>
		</div>
		
	</form>
</div>
