<div class="widgets" ng-controller="addDataOptCtrl">
	<div class="panel-body">
		<div class="col-md-4" ba-panel ba-panel-title="可选过滤项" ba-panel-class="with-scroll">
			<div ng-repeat="field in fields">
				<a class="z_authmgr" ng-click="clickFieldBtn(field.fieldCode)" ng-class="{'z_authmgr_hr':field.fieldName == fieldObj.name}">{{field.fieldName}}</a>
			</div>
		</div>
		<div class="col-md-8" ba-panel ba-panel-title="配置过滤规则" ba-panel-class="with-scroll">
			<form class="form-horizontal" name="addForm" novalidate>
			<loading></loading>
			<div class="row">
				<label class="col-sm-10">{{fieldObj.name}}</label>
			</div>
			<div class="">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="res_data_type" class="control-label float">类别</label>
						<div class="col-sm-9" ng-class="{'has-error': addForm.sex.$invalid && addForm.$submitted }">
							<div class="select-normal">
								<ui-select id="res_data_type" name="res_data_type"
										   class="btn-group bootstrap-select form-control"
										   ng-change="showTreeInfo($select.selected)"
										   ng-model="resDataType.value">
									<ui-select-match>
										<span ng-bind="$select.selected.name"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in itemArray">
										<span ng-bind="item.name"></span>
									</ui-select-choices>
								</ui-select>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-switch on="current">
				<div ng-switch-when="orgTreeDiv">
					<div class="row" >
						<div class="col-sm-8">
							<div class="form-group">
								<label for="orgTreeSelect" class="col-sm-3 control-label">组织</label>
								<div class="col-sm-9" >
									<input type="text" class="form-control" id="orgTreeSelect" name="orgTreeSelect" ng-click="showOrgTreeMenu()" >
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="posTreeDiv">
					<div class="row" >
						<div class="col-sm-8">
							<div class="form-group">
								<label for="posTreeSelect" class="col-sm-3 control-label">职位</label>
								<div class="col-sm-9" >
									<input type="text" class="form-control" id="posTreeSelect" name="posTreeSelect" ng-click="showPosTreeMenu()" >
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<div ng-switch-when="enterTreeDiv">
					<div class="row" >
						<div class="col-sm-8">
							<div class="form-group">
								<label for="enterTreeSelect" class="col-sm-3 control-label">岗位</label>
								<div class="col-sm-9" >
									<input type="text" class="form-control" id="enterTreeSelect" name="enterTreeSelect" ng-click="showEnterTreeMenu()" >
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
			<!--<div class="row">-->
				<!--<div class="col-sm-6">-->
					<!--<div class="form-group">-->
						<!--<label for="telphone" class="col-sm-4 control-label">联系电话</label>-->
						<!--<div class="col-sm-8" ng-class="{'has-error': addForm.telphone.$invalid && addForm.$submitted }">-->
							<!--<input type="text" class="form-control input-normal" id="telphone" name="telphone" ng-model="userInfo.telphone"-->
								<!--required> <span class="help-block error-block basic-block">必录</span>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-sm-6">-->
					<!--<div class="form-group">-->
						<!--<label for="email" class="col-sm-4 control-label">电子邮件</label>-->
						<!--<div class="col-sm-8" ng-class="{'has-error': addForm.email.$invalid && addForm.$submitted }">-->
							<!--<input type="text" class="form-control input-normal" id="email" name="email" ng-model="userInfo.email" required>-->
							<!--<span class="help-block error-block basic-block">必录</span>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			
		</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-with-icon" ng-click="closeDataPage()">确定</button>
		<button type="button" class="btn btn-default btn-with-icon" ng-click="cancelDataPage()">取消</button>
	</div>
</div>
