<div class="widgets" ng-controller="MyCustomCtrl">
    <div
            ba-panel
            ba-panel-class="with-scroll horizontal-tabs tabs-panel zjs_over">
       <form class="form-horizontal" name="modifyForm" novalidate>
            <div class="row">
                <div class="add-row-editable-table z_cusmnt" style="float: right">
                    <button class="btn btn-primary btn-with-icon" ng-click="searchUser()"><i class="ion-search"></i>查询</button>
                    <button class="btn btn-primary btn-with-icon" ng-click="resetSearchUser()"><i class="ion-refresh"></i>重置</button>
                </div>
				<div class="col-sm-3 zjs_padding" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户名称">
				</div>
				<div class="col-sm-3 zjs_padding" style="float: right">
					<ui-select ng-model="searchObj.custTyp"
                                class="btn-group bootstrap-select form-control"
                                search-enabled="false" id="custTyp">
                         <ui-select-match placeholder="客户类型">
                             <span> {{$select.selected.label}}</span>
                         </ui-select-match>
                         <ui-select-choices repeat="custType in custTypes">
                             <span ng-bind-html="custType.label"></span>
                         </ui-select-choices>
                     </ui-select>
				</div>
            	<!-- <div class="col-md-5" style="float: right">
                 	  每页
		            <label>
		                <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
		                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
		                </select>
		            </label>
		           	 条&nbsp;&nbsp;&nbsp;
		                               共{{total||0}}条
			    </div> -->
            </div>
        </form>
        <table class="table table-bordered table-hover table-condensed" st-table="custs" st-safe-src="custCollection">
            <thead>
            <tr class="sortable black-muted-bg zjs_th">
                <th class="table-id" st-sort="id" st-sort-default="true">客户编号</th>
                <th st-sort="name">客户名称</th>
                <th st-sort="type">客户类型</th>
                <th st-sort="phoneNumber">电话号码</th>
                <th st-sort="custSource">客户来源</th>
                <th st-sort="custAgentNam">客户经理姓名</th>
                <th st-sort="custAgent">客户经理工号</th>
                <th class="zjs_operation">操作</th>
            </tr>
            </thead>
            <tbody class="z_tbody_font">
            <tr ng-repeat="item in custs">
                <td>{{item.custNo}}</td>
                <td>{{item.custName}}</td>
                <td>{{item.custTyp}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.custSource}}</td>
                <td>{{item.custAgentNam}}</td>
                <td>{{item.custAgent}}</td>
                <td>
                    <!-- <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button type="button" class="btn btn-primary " uib-dropdown-toggle>
                            操作 <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu>
                            <li><a href ng-click="openDetail(item.custNo)">明细</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href>删除</a></li>
                        </ul>
                    </div> -->
                    <button type="button" class="btn btn-info btn-icon z_btn_icon" ng-click="openDetail(item.custNo)"><i class="ion-eye"></i></button>

                    <!--<div class="section-block links">
                        <a href style="color: blue;" title="客户详情"><i class="ion-eye icon-normal" ng-click="openDetail(item.custNo)"></i></a>
                        &lt;!&ndash; <a href style="color:blue;"><i class="ion-camera icon-normal"  ng-click="openDetail(item.custNo)"></i></a>
                        <a href style="color:red;"><i class="ion-trash-a icon-normal" ng-click="removeEnter($index)"></i></a> &ndash;&gt;
                    </div>-->
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="12">
	                <div class="row zjs_text_center">
	                	<div class="col-md-7 zjs_tfoot" style="float: right">
	                    	<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
	                    </div>
	                   <!--  <div class="col-md-5" style="float: left;">
	                  	  每页
					            <label>
					                <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
					                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
					                </select>
					            </label>
					            条&nbsp;&nbsp;&nbsp;
					            共{{total||0}}条
					    </div> -->
					 </div>
                </td>
            </tr>
            </tfoot>
        </table>
        
        
    </div>
</div>
