<div ng-controller="pushRuleCtrl">
	<div class="horizontal-scroll">
		<div style="float:right">
				<button class="btn btn-primary" ng-click="addPushRule()">增加</button>
				<button class="btn btn-primary" ng-click="delPushRule()">删除</button>
		</div>
		<table class="table table-bordered table-hover table-condensed" st-table="pushRuleData" st-safe-src="pushRuleDts">
			<thead>
				<tr class="sortable ">
					<div>推送规则信息列表</div>
					<th class="table-id" st-sort="id" st-sort-default="true">#</th>
					<th st-sort="pushTheme">推送主题</th>
					<th st-sort="pushObjTyp">推送对象类别</th>
					<th st-sort="pushMsgTyp">消息类别</th>
					<th st-sort="pushMsgChan">推送渠道</th>
					<th st-sort="pushMsg">推送消息内容</th>
					<th st-sort="pushAct">关联活动</th>
					<th st-sort="pushCC">抄送地址</th>
					<th st-sort="pushTime">发送时间</th>
					<th st-sort="pushTmRule">推送时间规则</th>
					<th st-sort="pushTmDays">时间天数</th>
					<th st-sort="pushEdit">操作</th>
				</tr>
				<tr>
			      <th></th>
			      <th><input st-search="pushTheme" placeholder="查询推送主题" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushObjTyp" placeholder="查询推送对象类别" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushMsgTyp" placeholder="查询消息类别" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushMsgChan" placeholder="查询推送渠道" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushMsg" placeholder="查询推送消息内容" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushAct" placeholder="查询关联活动" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushCC" placeholder="查询抄送地址" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushTime" placeholder="查询发送时间" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushTmRule" placeholder="查询推送时间规则" class="input-sm form-control search-input" type="search"/></th>
			      <th><input st-search="pushTmDays" placeholder="查询时间天数" class="input-sm form-control search-input" type="search"/></th>
			      <th></th>
			    </tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pushRuleData" class="editable-row">
					<td class="table-id">{{item.id}}</td>
					<td><span editable-text="item.pushTheme" e-name="pushTheme"
					 	e-form="rowform">{{ item.pushTheme }}</span></td>
				    <td class="select-td"><span editable-select="item.pushObjTyp" e-name="pushObjTyp" onshow="loadGroups()" e-form="rowform" e-selectpicker
				        e-ng-options="s1.id as s1.text for s1 in pushObjTyps">{{ showObjTyp(item) }}</span>
				    </td>
					<td class="select-td"><span editable-select="item.pushMsgTyp" e-name="pushMsgTyp" e-form="rowform" e-selectpicker
              			e-ng-options="s2.id as s2.text for s2 in pushMsgTyps">{{showMsgTyp(item)}}</span></td>
					<td class="select-td"><span editable-select="item.pushMsgChan" e-name="pushMsgChan" e-form="rowform" e-selectpicker
              			e-ng-options="s3.id as s3.text for s3 in pushMsgChans">{{ showMsgChan(item) }}</span></td>
					<td><span editable-text="item.pushMsg" e-name="pushMsg"
						e-form="rowform">{{ item.pushMsg }}</span></td>
					<td><span editable-text="item.pushAct" e-name="pushAct"
					 	e-form="rowform">{{item.pushAct || '无' }}</span></td>
					<td><span editable-text="item.pushCC" e-name="pushCC"
					 	e-form="rowform">{{item.pushCC || '无' }}</span></td>
					<td><span editable-text="item.pushTime" e-name="pushTime"
					 	e-form="rowform">{{item.pushTime }}</span></td>
					<td class="select-td"><span editable-select="item.pushTmRule" e-name="pushTmRule" e-form="rowform" e-selectpicker
              			e-ng-options="s4.id as s4.text for s4 in pushTmRules">{{ showTmRule(item) }}</span></td>
					<td><span editable-text="item.pushTmDays" e-name="pushCC"
					 	e-form="rowform">{{item.pushTmDays }}</span></td>
					<td>
						<form editable-form name="rowform" ng-show="rowform.$visible"
							class="form-buttons form-inline">
							<button type="submit" ng-disabled="rowform.$waiting"
								class="btn btn-primary editable-table-button btn-xs">保存</button>
							<button type="button" ng-disabled="rowform.$waiting"
								ng-click="rowform.$cancel()"
								class="btn btn-default editable-table-button btn-xs">取消</button>
						</form>
						<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-primary editable-table-button btn-xs"
								ng-click="rowform.$show()">编辑</button>
							<button class="btn btn-danger editable-table-button btn-xs"
								ng-click="delPushRule($index)">删除</button>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="row">
		<div style="float:left">显示行数</div>
		<div style="float:left">
			    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
			            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
			    </select>
		</div>
	</div>
</div>
