<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="widgets">
	<div class="col-md-12" ng-controller="custRelMntCtrl">
		<div ba-panel ba-panel-class="with-scroll">
			<form class="form-horizontal" name="modifyForm" novalidate>
				<div class="row">
					<div class="col-md-2">
						<label class="grid-title">
							<i class="ion-flag btn-primary"></i>
							查询条件
						</label>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-4">
						<label  class="z_custdetailadd_lable">客户号</label>
						<input type="text" class="form-control z_custdetail_inline" ng-model="searchRelObj.custNo" placeholder="客户号">
					</div>
					<div class="col-md-4">
						<label  class="z_custdetailadd_lable">客户姓名</label>
						<input type="text" class="form-control z_custdetail_inline" ng-model="searchRelObj.custNam" placeholder="客户姓名">
					</div>
					<div class="col-md-4 " >
						<label class="z_custdetailadd_lable">客户关系</label>
						<ui-select ng-model="searchRelObj.relationTyp" class="btn-group bootstrap-select form-control z_custdetail_inline" search-enabled="false" id="relationTyp" >
							<ui-select-match placeholder = "客户关系" >
								<span> {{$select.selected.label}}</span>
							</ui-select-match>
							<ui-select-choices repeat="item in relList">
								<span ng-bind-html="item.label"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row split-div">
					<HR  class="split-line">
					<div class="add-row-editable-table" style=" margin-right:15px;">
						<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
						<button class="btn btn-primary btn-with-icon" ng-click="clearCustRelationSearch()"><i class="ion-refresh"></i>重置</button>
						<button class="btn btn-primary btn-with-icon" ng-click="addCustRelation()"><i class="ion-plus-round"></i>新增</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label class="grid-title">
							<i class="ion-flag btn-primary"></i>
							客户列表
						</label>
					</div>
				</div>
			</form>
			<table class="table  table-hover table-condensed" st-table="custRel"
				   st-safe-src="custRelCollection" style="width:100%; ">
				<thead>
				<tr class="sortable black-muted-bg">
					<th >客户号</th>
					<th >客户姓名</th>
					<th >关联客户号</th>
					<th >关联客户姓名</th>
					<th >关系类型</th>
					<th >关系描述</th>
					<th >操作</th>
				</tr>
				</thead>
				<tbody>
				<tr  ng-repeat="item in custRel">
					<td style="text-align:left;">
						<nobr>{{item.custNo}}</nobr>
					</td>
					<td style="text-align:left;">
						<nobr>{{item.custNam}}</nobr>
					</td>
					<td style="text-align:left;">
						<nobr>{{item.refCustNo}}</nobr>
					</td>
					<td>
						<nobr>{{item.refCustNam}}</nobr>
					</td>
					<td>
						<nobr>{{item.relationTypNam}}</nobr>
					</td>
					<td title="{{item.relationDesc}}">
						<dev class="nowap-ellipsis relationDesc">{{item.relationDesc}}</dev>
					</td>
					<td>
						<div class="buttons" ng-show="!rowform.$visible">
							<button title="查看" class="btn btn-info btn-icon" ng-click="openDetail(item.custNo)"><i class="ion-eye"></i></button>
							<button title="编辑" class="btn btn-primary btn-icon" ng-click="getCustRelation(item.custNo, item.relationTyp, item.refCustNo)"><i class="ion-compose"></i></button>
							<button title="删除" class="btn btn-danger btn-icon" ng-click="delCustRelation(item.custNo, item.relationTyp, item.refCustNo)"><i class="ion-trash-a"></i></button>
							<button title="关系图谱" class="btn btn-primary btn-icon" ng-click="viewRelGraph(item.custNo)"><i class="ion-asterisk"></i></button>
						</div>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="12">
						<div class="row">
							<st-pager opts="queryOptions"></st-pager>
						</div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
