<div ng-controller="factorValueManageCtrl">

	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">
		<form class="form-horizontal" name="modifyForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">因子赋值类型列表</label>
				</div>
				<div class="add-row-editable-table zmarg_right" style="float: right">
					<button class="btn btn-primary btn-with-icon" ng-click="searchValue()"><i class="ion-search"></i>查询</button>
					<button class="btn btn-primary btn-with-icon" ng-click="addValue()"><i class="ion-plus-round"></i>新增</button>
				</div>
				<div class="col-sm-3" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.valueDesc" placeholder="类型描述">
				</div>
				<div class="col-sm-3 zcustrelmnt_right" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.valueType" placeholder="赋值类型">
				</div>
			</div>
		</form>

		<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="valuesRowCollection">
			<thead>
				<tr class="black-muted-bg">
					<th st-sort="id" >ID</th>
					<th st-sort="valueType" >赋值类型</th>
					<th st-sort="valueDesc">类型描述</th>
					<th class="zwidth_operation">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in smartTableData" class="editable-row">
					<td ><span>{{ item.id }}</span></td>
					<td ><span>{{ item.valueType }}</span></td>
					<td ><span>{{item.valueDesc }}</span></td>
					<td>
						<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
							<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">保存</button>
							<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
								class="btn btn-default editable-table-button btn-xs">取消</button>
						</form>
						<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-primary btn-icon" ng-click="updateValue($index)"><i class="ion-compose"></i></button>
							<button class="btn btn-danger btn-icon" ng-click="removeValue($index)"><i class="ion-trash-a"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="12">
						<div class="row">
							<div class="col-md-7" style="float: right">
								<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
							</div>
							<div class="col-md-5" style="float: right">
								每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
									ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
								</label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
							</div>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
