<div class="widgets" ng-controller="operLogSearchCtrl">
	<div ba-panel ba-panel-class="with-scroll" >
		<form class="form-horizontal" name="addForm" novalidate >
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">操作日志列表</label>
				</div>
				<div class="add-row-editable-table zmargin_right" style="float: right">
					<button class="btn btn-primary btn-with-icon" ng-click="search()">
						<i class="ion-search"></i>查询
					</button>
				</div>
				<div class="col-sm-2" style="float: right">
					<input type="text" class="form-control" ng-model="searchOper.userId" placeholder="用户账号">
				</div>
				<div class="col-sm-2 zcustrelmnt_right" style="float: right">
					<p class="input-group">
                       <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchOper.endDate" placeholder="终止日期" is-open="opened5.opened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                       <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open5()"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                    </p>
				</div>
				<div class="col-sm-2 zcustrelmnt_right" style="float: right">
					<p class="input-group">
                       <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchOper.startDate"  placeholder="起始日期" is-open="opened6.opened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                       <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open6()"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                    </p>
				</div>
			</div>
		</form>

		<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="OperRowCollection">
			<thead>
				<tr class="black-muted-bg">
					<th st-sort="userId">用户账号</th>
					<th st-sort="moduleName">模块名称</th>
					<th st-sort="bizDesc">日志说明</th>
					<!-- <th st-sort="inputParam">输入参数</th> -->
					<th st-sort="clientIp">客户端IP</th>
					<th st-sort="operTime">日志时间</th>
					<th style="width:30px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in smartTableData" class="editable-row">
					<td><span>{{ item.userId }}</span></td>
					<td><span>{{ item.moduleName }}</span></td>
					<td><span>{{ item.bizDesc }}</span></td>
					<td><span>{{ item.clientIp }}</span></td>
					<td><span>{{ item.operTime }}</span></td>
					<td><button type="button" class="btn btn-info btn-icon" ng-click="operLogDetail(item)"><i class="ion-eye"></i></button></td>
				</tr>
			</tbody>
			<tfoot>
    			<tr>
        			<td colspan="6" class="text-center">
            			<st-pager opts = "queryOperLogOptions" pageSize = "10"></st-pager>
        			</td>
    			</tr>
    		</tfoot>
		</table>
	</div>	
</div>
