<div class="widgets">
	<form class="form-horizontal" name="addForm" ng-controller="operLogSearchCtrl" novalidate>
		<loading></loading>
		<div class="col-md-12 zloginlogsearch_pa" >
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">操作日志明细</font>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="userId" class="col-sm-4 control-label">用户账号</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="userId" name="userId" ng-model="msgTpl.userId"readOnly>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="moduleName" class="col-sm-4 control-label">模块名称</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="moduleName" name="moduleName" ng-model="msgTpl.moduleName"readOnly>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="clientIp" class="col-sm-4 control-label">客户端IP</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="clientIp" name="clientIp" ng-model="msgTpl.clientIp"readOnly>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="operTime" class="col-sm-4 control-label">日志时间</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="operTime" name="operTime" ng-model="msgTpl.operTime"readOnly>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputParam" class="col-sm-4 control-label">输入参数</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="inputParam" name="inputParam" ng-model="msgTpl.inputParam"readOnly>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="bizDesc" class="col-sm-4 control-label">日志说明</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="bizDesc" name="bizDesc" ng-model="msgTpl.bizDesc" readOnly>
								</div>
							</div>
						</div>						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">
							关闭
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
