<div ng-controller="InteUsePromQueryCtrl">
	<div class="row" >
	    <div class="col-md-12">
	      <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <form class="form-horizontal" name="modifyForm" novalidate>
            <div class="row">
                <div class="col-md-2">
                    <label class="grid-title">积分使用提示列表</label>
                </div>
                <div class="add-row-editable-table z_cusmnt" style="float: right">
                    <button class="btn btn-primary btn-with-icon" ng-click="searchUser()"><i class="ion-search"></i>查询</button>
                    <button class="btn btn-primary btn-with-icon" ng-click="clearUserSearch()"><i class="ion-refresh"></i>重置</button>
                </div>
				<div class="col-sm-3 z_custmnt_padding" style="float: right;">
					<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户名称/客户编号">
				</div>
            </div>
        </form>
			  <table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="rowCollection">
			    <thead>
				    <tr class="sortable">
					      <th st-sort="custID">客户号</th>
					      <th st-sort="custName">客户姓名</th>
					      <th st-sort="custGroupID">客户群号</th>
					      <th st-sort="custGroupName">客户群名称</th>
					      <th st-sort="availInteg">可用积分</th>
					      <th st-sort="promInfo">提示信息</th>
					      <th st-sort="promTime">提示时间</th>
				    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in smartTableData">
			      <td>{{item.custID}}</td>
			      <td>{{item.custName}}</td>
			      <td>{{item.custGroupID}}</td>
			      <td>{{item.custGroupName}}</td>
			      <td>{{item.availInteg}}</td>
			      <td>{{item.promInfo}}</td>
			      <td>{{item.promTime}}</td>
			    </tr>
			    </tbody>
			    <tfoot>
				<tr>
					<td colspan="12" class="text-left">
					<div class="row">
						<div class="col-md-5">
							<div>
							每页
							<label>
								<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
										ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
							</label>
							条&nbsp;&nbsp;&nbsp;
							共{{total}}条
						</div>
						</div>
						<div class="col-md-7">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
						</div>
					</div>
					</td>
				</tr>
			    </tfoot>
			  </table>
		</div>
		</div>
	</div>
</div>
