<div class="modal-content" style="box-shadow:none;">
	<div class="modal-header" >
		<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
			<em class="ion-ios-close-empty sn-link-close"></em>
		</button>
		<h5 class="modal-title" id="myModalLabel">提示</h5>
	</div>
	<div class="modal-body">

	  <div class="modal-body" style="padding-top:0px">
    	<p class="text-center" style="font-size:18px;">请选择添加客群的方式!</p>
		<div class="row" style="margin: 25px 0 5px">
			<div class="col-md-12 text-center">
				 <button type="button" 
							class="btn btn-primary btn-with-icon" style="margin-right:60px;" ng-click="add()">保存到已有群组</button>
				 <button type="button" class="btn btn-primary btn-with-icon" ng-click="addNewGroupMember()">添加至新增群组</button>
			</div>
		</div>
      </div>
	</div>
</div>
