<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div ng-controller="custPerQueryCtrl" >
	
	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll" ng-if="isInitFinash">
		<div class="row">
			<div class="col-md-2">
				<label class="grid-title">
					<i class="ion-flag btn-primary"></i>
					基本信息
				</label>
			</div>
		</div>
		<div class="panel-body panel-body_n">
			<div class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">客户号</label>
					<input class="form-control z_custdetail_inline" id="custNo"  ng-model="searchObj.custNo" placeholder="客户号码">
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">客户姓名</label>
					<input class="form-control z_custdetail_inline" id="custName"  ng-model="searchObj.custName" placeholder="客户姓名">
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">手机号码</label>
					<input class="form-control z_custdetail_inline" id="telephone"  ng-model="searchObj.telephone" placeholder="手机号码">
				</div>
			</div>
			<div class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">证件类型</label>
					<ui-select ng-model="searchObj.idTypes"
							   class="btn-group bootstrap-select z_custdetail_inline form-control"
							   search-enabled="false"
							    ng-disabled="false" data-dropup-auto="false" >
						<ui-select-match placeholder="证件类型">
							<span> {{$select.selected.label}}</span>
						</ui-select-match>
						<ui-select-choices repeat="idType in idTypes">
							<span ng-bind-html="idType.label"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">证件号码</label>
					<input class="form-control z_custdetail_inline"  placeholder="证件号码"  ng-model="searchObj.certNo">
				</div>
				<div class="col-md-4">
					<label class="z_custdetailadd_lable">年龄区间</label>
					<input class="form-control" id="beginAge"  ng-model="searchObj.beginAge" placeholder="最小年龄" style="width: 37%;float: left;">
					<input class="form-control" id="endAge"  ng-model="searchObj.endAge" placeholder="最大年龄" style="width: 37%;float: right;"	>
				</div>
			</div>
			<div  class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">性别</label>
					<ui-select ng-model="searchObj.sexItem" class="btn-group z_custdetail_inline bootstrap-select form-control " search-enabled="false" >
						<ui-select-match placeholder="性别">
							<span> {{$select.selected.label}}</span>
						</ui-select-match>
						<ui-select-choices repeat="sex in sexItems">
							<span ng-bind-html="sex.label"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" ng-click="showCondistion1=!showCondistion1" >
				<label class="grid-title color-widget" style="cursor: pointer">
					<!--<i class="ion-flag btn-primary"></i>-->
					<i class="ion-plus-round yellow-text" ng-show="!showCondistion1" > </i>
					<i class="ion-minus-round yellow-text" ng-show="showCondistion1" > </i>
					保险信息

				</label>
			</div>
		</div>
		<p ng-show="!showCondistion1"></p>
		<div class="panel-body panel-body_n" ng-show="showCondistion1">
			<div  class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">保单号</label>
					<input class="form-control z_custdetail_inline"   ng-model="searchObj.bNo" placeholder="保单号">
				</div>
				<div  class="col-md-8">
					<label  class="z_custdetailadd_lable">保费区间</label>
					<div class="col-sm-4">
						<input class="form-control" id="beginAmount"  ng-model="searchObj.beginAmount" placeholder="最小保费">
					</div>
					<div class="col-sm-4">
						<input class="form-control" id="endAmount"  ng-model="searchObj.endAmount" placeholder="最大保费">
					</div>
				</div>

			</div>
			<div  class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">业务员</label>
					<input class="form-control z_custdetail_inline" id="custAgent"  ng-model="searchObj.custAgent" placeholder="业务员姓名">
				</div>
				<div  class="col-md-8">
					<label  class="z_custdetailadd_lable">保险起期区间</label>
					<div class="col-sm-4">
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchObj.beginPolicyTime" is-open="open1.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="保险起期起" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen1()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
					<div class="col-sm-4">
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchObj.endPolicyTime" is-open="open2.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="保险起期止"/>
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen2()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
				</div>
			</div>
			<div  class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">业务渠道</label>
					<ui-select ng-model="searchObj.channel"
							   class="btn-group bootstrap-select z_custdetail_inline form-control"
							   search-enabled="false"
							   id="idType"  ng-disabled="false" data-dropup-auto="false" >
						<ui-select-match placeholder="业务渠道">
							<span> {{$select.selected.label}}</span>
						</ui-select-match>
						<ui-select-choices repeat="channel in ChannelTypes">
							<span ng-bind-html="channel.label"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div  class="col-md-8">
					<label  class="z_custdetailadd_lable">保险止期区间</label>
					<div class="col-sm-4">
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchObj.beginsPolicyTime" is-open="open3.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="保险止期起"/>
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen3()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
					<div class="col-sm-4">
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchObj.endsPolicyTime" is-open="open4.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="保险止期止"/>
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen4()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" ng-click="showCondistion2=!showCondistion2" style="cursor: pointer">
				<label class="grid-title color-widget" style="cursor: pointer">
					<!--<i class="ion-flag btn-primary"></i>-->
					<i class="ion-plus-round yellow-text" ng-show="!showCondistion2" > </i>
					<i class="ion-minus-round yellow-text" ng-show="showCondistion2" > </i>
					客户细分
				</label>
			</div>
		</div>
		<div class="panel-body panel-body_n" ng-show="showCondistion2">

			<div  class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">事件类型</label>
					<ui-select ng-model="searchObj.eventT" class="btn-group z_custdetail_inline bootstrap-select form-control" search-enabled="false" id="eventType" data-dropup-auto="false">
						<ui-select-match placeholder = "事件类型" >
							<span> {{$select.selected.label}}</span>
						</ui-select-match>
						<ui-select-choices repeat="item in EventType">
							<span ng-bind-html="item.label"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div  class="col-md-8">
					<label  class="z_custdetailadd_lable">事件对应时间区间</label>
					<div class="col-sm-4">
						<p class="input-group">
							<input type="text" class="form-control"  uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchObj.beginEventTime" is-open="open5.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"  placeholder="事件对应时间起"/>
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen5()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
					<div class="col-sm-4">
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="searchObj.endEventTime" is-open="open6.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"  placeholder="事件对应时间起"/>
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen6()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
				</div>
			</div>
			<div  class="row form-group">
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">客户标签</label>
					<p  class="input-group z_custdetail_inline" >
						<input type="text" ng-disabled="false"  style="width:100%;" class="form-control" id="tagName" name="tagName" ng-model="custGroupList.tag" placeholder="客户标签">
						<span class="input-group-btn" >
							<button type="button"  class="btn btn-default" ng-click="openCustTagList()"><i class="ion-pricetags"></i></button>
						 </span>
					</p>
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">静态客群</label>
					<p  class="input-group z_custdetail_inline" >
						<input type="text" ng-disabled="false"  style="width:100%;" class="form-control" id="groupName" name="groupName" ng-model="custGroupList.groupName" placeholder="静态客群">
						<span class="input-group-btn">
							<button type="button"  class="btn btn-default" ng-click="openStaticCustList()"><i class="ion-person-stalker"></i></button>
						</span>
					</p>
				</div>
				<div  class="col-md-4">
					<label  class="z_custdetailadd_lable">电话重复次数</label>
					<div style="width: 100px;float: left;">
						<ui-select ng-model="searchObj.repeatNum"
								   class="btn-group bootstrap-select form-control z_custdetail_inline"
								   search-enabled="false" data-dropup-auto="false" dropupAuto= 'false'>
							<ui-select-match  placeholder="符号">
								<span> {{$select.selected.label}}</span>
							</ui-select-match>
							<ui-select-choices repeat="mark in markList">
								<span ng-bind-html="mark.label"></span>
							</ui-select-choices>
						</ui-select>
					</div>

					<input placeholder="次数" class="form-control" id="type"  ng-model="searchObj.orderNo" style="width: calc(75% - 100px);float: right;" >
				</div>
			</div>
			<!-- <div class="form-group has-feedback row form-horizontal">
				<label class="col-sm-2 text-left" style="margin-right: -40px">移动电话重复次数</label>
				<div class="col-sm-3">
					<input class="form-control" id="type"  ng-model="searchObj.type">
				</div>
			</div> -->
		</div>
		<!-- <div class="bg_color panel-heading clearfix">
			<h3 class="panel-title">保险信息</h3>
		</div> -->

		
		<!-- <div class="bg_color panel-heading clearfix">
			<h3 class="panel-title">偏好信息</h3>	
		</div> -->
		<!-- <div class="panel-body form-group has-feedback row" >
			<div class="control col-sm-12">
				<label ng-repeat="item in habitsRow" class="checkbox-inline text-left col-sm-1 custom-checkbox nowrap">
					<input ng-model="item.habit_avoc_cd" type="checkbox" id="item.habit_avoc_cd"  >
					<span class="text-left">{{item.habit_avoc_val}}</span>
				</label>			
			</div>
		</div> -->
		<!-- <div class="bg_color panel-heading clearfix">
			<h3 class="panel-title">风险信息</h3>	
		</div> -->
	
	<!-- <div class="form-group has-feedback panel-body form-horizontal" >
		<label for=healthCondition class="text-left" style="float:left;">疾病</label>
		<div class="col-sm-2">
			<ui-select ng-model="searchObj.healthConditions"
		                   class="btn-group bootstrap-select form-control"
		                   search-enabled="false"
		                   id="healthCondition"  ng-disabled="false">
		            <ui-select-match >
		                <span> {{$select.selected.label}}</span>
		            </ui-select-match>
		            <ui-select-choices repeat="healthCondition in healthConditions">
		                <span ng-bind-html="healthCondition.label"></span>
		            </ui-select-choices>
		        </ui-select>
		</div>
		<label for="creditGrade" class="col-sm-1 text-left">信用等级</label>
		<div class="col-sm-2">
			<ui-select ng-model="searchObj.creditGrade"
		                   class="btn-group bootstrap-select form-control"
		                   search-enabled="false"
		                   id="creditGrade"  ng-disabled="false">
		            <ui-select-match >
		                <span> {{$select.selected.label}}</span>
		            </ui-select-match>
		            <ui-select-choices repeat="creditGrade in creditGrades">
		                <span ng-bind-html="creditGrade.label"></span>
		            </ui-select-choices>
		        </ui-select>
		</div>		
		<label for="blacklistFlg" class="text-left" style="float:left;">是否黑名单</label>
		<div class="col-sm-2">
			<ui-select ng-model="searchObj.blacklistFlg"
		                   class="btn-group bootstrap-select form-control "
		                   search-enabled="false"
		                   id="blacklistFlgS"  ng-disabled="false">
		            <ui-select-match >
		                <span> {{$select.selected.label}}</span>
		            </ui-select-match>
		            <ui-select-choices repeat="blacklistFlg in YesNoFlgs">
		                <span ng-bind-html="blacklistFlg.label"></span>
		            </ui-select-choices>
		        </ui-select>
		</div>
	</div> -->
	<!-- <div class="bg_color panel-heading clearfix">
		<h3 class="panel-title">客户细分</h3>	
	</div> -->
	<!-- <div class="form-group has-feedback panel-body row form-horizontal" >
		<label for="tagName" class="col-sm-1 text-left">客户标签</label>
		<div class="col-sm-2">
		<p  class="input-group" >
			<input type="text" ng-disabled="false"  style="width:100%;" class="form-control" id="tagName" name="tagName" ng-model="searchObj.tagName">
            <span class="input-group-btn">
				<button type="button"  class="btn btn-default" ng-click="openCustTagList()"><i class="ion-pricetags"></i></button>
             </span>
		</p>
		</div>
		
		<label for="groupName" class="col-sm-1 text-left">静态客群</label>
		<div class="col-sm-2">
		<p  class="input-group " >
			<input type="text" ng-disabled="false"  style="width:100%;" class="form-control" id="groupName" name="groupName" ng-model="searchObj.groupName">
            <span class="input-group-btn">
				<button type="button"  class="btn btn-default" ng-click="openStaticCustList()"><i class="ion-person-stalker"></i></button>
             </span>
		</p>
		</div>
	</div> -->
	<!-- <div class="bg_color panel-heading clearfix">
		<h3 class="panel-title">当前条件值</h3>	
	</div> -->
	<div class="row split-div">
		<HR  class="split-line">
		<div>
			<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
			<button class="btn btn-primary btn-with-icon" ng-click="add()"><i class="ion-person-add"></i>保存静态群</button>
			<button class="btn btn-primary btn-with-icon" ng-click="addTags()"><i class="ion-plus-round"></i>批量增加标签</button>
			<button class="btn btn-primary btn-with-icon" ng-click="transfer()"><i class="ion-arrow-swap"></i>重置</button>
		</div>
	</div>
    <div class="panel-body"></div>   
        <form class="form-horizontal" name="modifyForm" novalidate>
            <div class="row">
                <div class="col-md-2">
                    <label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						客户列表</label>
                </div>
                <!--<div class="add-row-editable-table z_cusmnt" style="float: right">
                    <button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
					<button class="btn btn-primary btn-with-icon" ng-click="add()"><i class="ion-person-add"></i>保存静态群</button>
					<button class="btn btn-primary btn-with-icon" ng-click="addTags()"><i class="ion-plus-round"></i>批量增加标签</button>
					<button class="btn btn-primary btn-with-icon" ng-click="transfer()"><i class="ion-arrow-swap"></i>重置</button>
                </div>	-->
            </div>
        </form>

		<table class="table  table-hover table-condensed" st-table="custs" st-safe-src="custCollection">
			<thead>
				<tr class="black-muted-bg">
					<th>
						<label for="flag" class="checkbox-inline custom-checkbox nowrap">
							<input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll1(select_all)">
							<span></span>
						</label>
					<th st-sort="customerNo">客户号</th>
					<th st-sort="custName">客户名称</th>
					<th st-sort="custTyp">客户类型</th>
					<th st-sort="certTyp">证件类型</th>
					<th st-sort="certNo">证件号码</th>
		<!-- 		<th st-sort="custMark">标签</th> -->
					<th st-sort="phoneNumber">电话号码</th>
					<th st-sort="custSource">客户来源</th>
					<th st-sort="custAgent">客户经理</th>
					<th st-sort="operation" class="z_opation_width">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in custs" ng-click="selectRow(item)">
					<td>
						<label  class="checkbox-inline custom-checkbox nowrap">
							<input type="checkbox" ng-model="item.checked" ng-change="selectOne1()">
							<span></span>
						</label>
					<td>{{item.custNo}}</td>
					<td>{{item.custName}}</td>
					<td>{{item.custTypNam}}</td>

					<td>{{item.certTypNam}}</td>
					<td>{{item.certNo}}</td>
					<!-- <td >
						<abbr  ng-repeat="ctag in item.custTag">
							{{ctag.custTagNam}}
                            <span ng-if="$first">,</span>
                            <span ng-if="$middle">,</span>
                            <span ng-if="$last"></span>
						</abbr>
					</td> -->
					<td>{{item.phoneNumber}}</td>
					<td>{{item.custSourceNam}}</td>
					<td>{{item.custAgentNam}}</td>
					<td>
						<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-info btn-icon" ng-click="openDetail(item.custNo)"><i class="ion-eye"></i></button>
							<!-- <button class="btn btn-primary btn-icon" ng-click="cusDetail(item.custNo)"><i class="ion-compose"></i></button>
							<button class="btn btn-danger btn-icon" ng-click="removeUser(item.custNo)"><i class="ion-trash-a"></i></button> -->
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="11" class="text-left">
					<div class="row">
						<div class="col-md-12">
							<st-pager opts="queryOpts"></st-pager>
						</div>
					</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
