<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">批量增加标签</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="modifyForm" novalidate>
						<div class="row">
							<div class="col-sm-6 section-block cust_per_addtag">
		                        <h5>标签</h5>
		                        <div class="" >
		                        	<tags-input class="myTag" 
										min-length="1"
		                                ng-model="tagData"
		                                placeholder="添加"
		                                display-property="tagName"
		                                replace-spaces-with-dashes="false"
		                                add-from-autocomplete-only="true"
		                                on-tag-added="tagAdded($tag)"
		                                >
		                                <auto-complete source="loadDatas($query)"
			                                min-length="0"
								    		max-results-to-show="999"
			                                debounce-delay="0">
		                                </auto-complete>
		                            </tags-input>
		                        </div>
		                    </div>
						</div>
					</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary btn-with-icon" ng-click="$dismiss()">确定</button>
						</div>
				</div>
			</div>
		</div>
	</form>
</div>
