<div class="widgets">
	<form class="form-horizontal" name="modifyForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">获取用户信息列表</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-2">
							<label class="grid-title">用户列表</label>
						</div>
						<div class="zmargin_right" style="float: right">
							<button class="btn btn-primary btn-with-icon" ng-click="search()">
								<i class="ion-search"></i>查询
							</button>
						</div>
						<div class="col-sm-3 zpercusportra_paleft" style="float: right">
							<input type="text" class="form-control" ng-model="searchObj.userName" placeholder="用户姓名">
						</div>
						<div class="col-sm-3" style="float: right">
							<input type="text" class="form-control" ng-model="searchObj.userId" placeholder="用户账号">
						</div>
					</div>

					<br/>
					<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="UserRowCollection">
						<thead>
							<tr class="black-muted-bg">
								<th>
									<label  class="checkbox-inline custom-checkbox nowrap">
										<input id="flag" type="checkbox" ng-model="select_all"
											   ng-change="selectAll()">
										<span></span>
									</label>

								</th>
								<th st-sort="userId">用户账号</th>
								<th st-sort="userName">用户姓名</th>
								<th st-sort="employeeId">员工编号</th>
								<th st-sort="sex">性别</th>
								<th st-sort="userStat">用户状态</th>
								<th st-sort="enterName">所属机构</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in smartTableData" ng-click="item.checked=!item.checked;selectOne()">
								<td>
									<label  class="checkbox-inline custom-checkbox nowrap">
										<input type="checkbox" ng-model="item.checked" ng-change="selectOne()">
										<span></span>
									</label>
								</td>
								<td><span e-name="userId" e-form="rowform" blur="cancel">{{ item.userId }}</span></td>
								<td><span e-name="userName" e-form="rowform" blur="cancel">{{ item.userName }}</span></td>
								<td><span e-name="employeeId" e-form="rowform" blur="cancel">{{ item.employeeId }}</span></td>
								<td><span e-name="sex" e-form="rowform" blur="cancel"> {{ ShowGender(item) }} </span></td>
								<td><span e-name="userStat" e-form="rowform" blur="cancel"> {{ ShowUserStat(item) }} </span></td>
								<td><span e-name="enterName" e-form="rowform" blur="cancel">{{ item.enterName }}</span></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										<!--<div class="col-md-7" style="float: right">
											<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
										</div>
										<div class="col-md-5" style="float: right">
											每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
												ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
											</select>
											</label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
										</div>-->
										<st-pager opts="searchUsersOpts"></st-pager>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
					<br/>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="doConfirm()"">确定</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
