<div class="widgets">
	<form class="form-horizontal" name="modifyForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="updUserCtrl">
			<!-- <div ba-panel ba-panel-title="用户信息修改" ba-panel-class="panel-primary"> -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">用户信息修改</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="userId" class="col-sm-4 control-label"><span class="requiredFlag">*</span>用户账号</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.userId.$invalid && modifyForm.$submitted }">
									<input type="text" class="form-control input-normal" id="userId" name="userId" ng-model="userInfo.userId"
										required readonly> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="userName" class="col-sm-4 control-label"><span class="requiredFlag">*</span>用户姓名</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.userName.$invalid && modifyForm.$submitted }">
									<input type="text" class="form-control input-normal" id="userName" name="userName" ng-model="userInfo.userName" maxlength="16"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="employeeId" class="col-sm-4 control-label"><span class="requiredFlag">*</span>员工编号</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.employeeId.$invalid && modifyForm.$submitted}">
									<input type="text" class="form-control input-normal" id="employeeId" name="employeeId"
										ng-model="userInfo.employeeId" required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="password" class="col-sm-4 control-label"><span class="requiredFlag">*</span>密码</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.password.$invalid && modifyForm.$submitted }">
									<input type="password" class="form-control input-normal" id="password" name="password"
										ng-model="userInfo.password" required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="sex" class="col-sm-4 control-label">性别</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.sex.$invalid && modifyForm.$submitted }">
									<select ng-model="selectedSex" class="form-control input-normal" ng-options="x.label for x in sexList"
											ng-change="selectSex(selectedSex)"></select> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="enterCode" class="col-sm-4 control-label"><span class="requiredFlag">*</span>所属机构</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.enterCode.$invalid && modifyForm.$submitted }">
									<select ng-model="selectedEnter" class="form-control input-normal" ng-options="x.show for x in enterList"
											ng-change="selectEnter(selectedEnter)"></select> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="telphone" class="col-sm-4 control-label"><span class="requiredFlag">*</span>联系电话</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.telphone.$invalid && modifyForm.$submitted }">
									<input type="text" class="form-control input-normal" id="telphone" name="telphone" ng-model="userInfo.telphone"
										required ng-pattern="regex">
									<span style="color:red" ng-show="!modifyForm.telphone.isEmpty() && modifyForm.telphone.$invalid">
									<span ng-show="modifyForm.telphone.$error.pattern">非法的手机号</span>
									</span>
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email" class="col-sm-4 control-label"><span class="requiredFlag">*</span>电子邮件</label>
								<div class="col-sm-8" ng-class="{'has-error': modifyForm.email.$invalid && modifyForm.$submitted }">
									<input type="email" class="form-control input-normal" id="email" name="email" ng-model="userInfo.email" required>
									<span style="color:red" ng-show="!modifyForm.email.isEmpty() && modifyForm.email.$invalid">
  									<span ng-show="modifyForm.email.$error.email">非法的邮箱。</span>
  									</span>
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(modifyForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
