<div class="widgets">
	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">


<uib-tabset  ng-show="custShow">
  <uib-tab heading="个人客户">
    
			<form class="form-horizontal" name="addForm" novalidate>
				<div class="row">
					<div class="col-md-2">
						<label class="grid-title">个人客户列表</label>
					</div>
				</div>
				<div class="row">
					<div class="add-row-editable-table col-sm-2" style="float: right">
						<button class="btn btn-primary btn-with-icon" ng-click="searchCust()">
							<i class="ion-search"></i>查询
						</button>
					</div>
					<div class="col-sm-3" style="float: right">
						<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户姓名">
					</div>
				</div>
				<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="PCustDataRow">
					<thead>
						<tr class="black-muted-bg">
							<th st-sort="customerNo">客户号</th>
							<th st-sort="name">客户名称</th>
							<th st-sort="type">客户类型</th>
		
							<th st-sort="phoneNumber">电话号码</th>
							<th st-sort="custSource">客户来源</th>
							<th st-sort="custAgent">客户经理</th>
							<th>选择客户</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in smartTableData" class="editable-row">
							<td>{{item.custNo}}</td>
							<td>{{item.custName}}</td>
							<td>{{item.custTyp}}</td>
		
							<td>{{item.phoneNumber}}</td>
							<td>{{item.custSource}}</td>
							<td>{{item.custAgent}}</td>
							<td>
								<div class="buttons" ng-show="!rowform.$visible">
									<button class="btn btn-primary btn-with-icon" ng-click="saveValueP(item)">
										<i class="ion-checkmark-circled"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
										</select>
										</label> 条&nbsp;&nbsp;&nbsp; 共{{totalcp||0}}条
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-with-icon" ng-click="closePage()"><i class="ion-power"></i>返回</button>
				</div>
			</form>

  </uib-tab>
  <!--  <uib-tab heading="企业客户--施工中，请绕行......">
    
    			<form class="form-horizontal" name="addForm" novalidate >
				<div class="row">
					<div class="col-md-2">
						<label class="grid-title">企业客户列表</label>
					</div>
				</div>
				<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="CCustDataRow">
					<thead>
						<tr class="black-muted-bg">
							<th st-sort="strategyId">策略ID</th>
							<th st-sort="strategyName">策略名称</th>
							<th st-sort="remark">策略说明</th>
							<th>选择客户</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in smartTableData" class="editable-row"">
							<td><span>{{ item.strategyId }}</span></td>
							<td><span>{{ item.strategyName }}</span></td>
							<td><span>{{ item.remark }}</span></td>
							<td>
								<div class="buttons" ng-show="!rowform.$visible">
									<button class="btn btn-primary btn-with-icon" ng-click="saveValue(item)">
										<i class="ion-checkmark-circled"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
										</select>
										</label> 条&nbsp;&nbsp;&nbsp; 共{{totalcc||0}}条
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-with-icon" ng-click="closePage()"><i class="ion-power"></i>返回</button>
				</div>
			</form>


  </uib-tab> -->
</uib-tabset>

			<form class="form-horizontal" name="addForm2" novalidate ng-show="respShow">
				<div class="row">
					<div class="col-md-2">
						<label class="grid-title">负责人列表</label>
					</div>
				</div>
				<div class="row">
					<div class="add-row-editable-table col-sm-2" style="float: right">
						<button class="btn btn-primary btn-with-icon" ng-click="searchResp()">
							<i class="ion-search"></i>查询
						</button>
					</div>
					<div class="col-sm-3" style="float: right">
						<input type="text" class="form-control" ng-model="searchObj.userName" placeholder="负责人姓名">
					</div>
				</div>
				<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="RespDataRow">
					<thead>
						<tr class="black-muted-bg">
							<th st-sort="userId">负责人代码</th>
							<th st-sort="userName">负责人名称</th>
							<th st-sort="employeeId">负责人员工编号</th>
							<th st-sort="userStat">负责人状态</th>
							<th st-sort="enterName">所属机构</th>
							<th st-sort="deptName">所属部门</th>
							<th st-sort="posiName">所属岗位</th>
							<th>选择负责人</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in smartTableData" class="editable-row">
							<td>{{item.userId}}</td>
							<td>{{item.userName}}</td>
							<td>{{item.employeeId}}</td>
							<td>{{item.userStat}}</td>
							<td>{{item.enterName}}</td>
							<td>{{item.deptName}}</td>
							<td>{{item.posiName}}</td>
							<td>
								<div class="buttons" ng-show="!rowform.$visible">
									<button class="btn btn-primary btn-with-icon" ng-click="saveValueR(item)">
										<i class="ion-checkmark-circled"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12">
								<div class="row">
									<div class="col-md-7" style="float: right">
										<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
									</div>
									<div class="col-md-5" style="float: right">
										每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
										</select>
										</label> 条&nbsp;&nbsp;&nbsp; 共{{totalr||0}}条
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-with-icon" ng-click="closePage()"><i class="ion-power"></i>返回</button>
				</div>
			</form>


	</div>
</div>
