<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">任务维护</font>
				</div>	
				<br/>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="taskName" class="col-sm-4 control-label">任务名称</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.taskName.$invalid && addForm.$submitted}">
								<input type="text" class="form-control input-normal" id="taskName" name="taskName" ng-model="saveTask.taskName" >
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="taskType" class="col-sm-4 control-label">任务类别</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.taskType.$invalid && addForm.$submitted }">
							
								<div class="select-normal">
									<ui-select ng-model="saveTask.taskType" class="btn-group bootstrap-select form-control" 
									ng-class="{'has-error': !addForm.taskType}" append-to-body="false" id="taskType" 
									name="taskType" search-enabled="false"   ng-required="true"> 
										 <ui-select-match > 
										 	<span> {{$select.selected.label}}</span> 
										 </ui-select-match> 
										 <ui-select-choices repeat="fType in taskType"> 
										 	<span ng-bind-html="fType.label"></span> 
										 </ui-select-choices> 
									 </ui-select>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="taskStat" class="col-sm-4 control-label">任务状态</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.taskStat.$invalid && addForm.$submitted }">
								<div class="select-normal">
									<ui-select ng-model="saveTask.taskStat" class="btn-group bootstrap-select form-control" 
									ng-class="{'has-error': !addForm.taskStat}" append-to-body="false" id="taskStat" 
									name="taskStat" search-enabled="false"   ng-required="true"> 
										 <ui-select-match > 
										 	<span> {{$select.selected.label}}</span> 
										 </ui-select-match> 
										 <ui-select-choices repeat="fType in taskStat"> 
										 	<span ng-bind-html="fType.label"></span> 
										 </ui-select-choices> 
									 </ui-select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="taskEndDate" class="col-sm-4 control-label ">任务截止时间</label>
							<div class="col-sm-8 " ng-class="{'has-error': addForm.taskEndDate.$invalid && addForm.$submitted }">
								<div class="input-normal " >
                                 <input type="text" style="float:left;width:83%;border-right:none;" class="form-control " uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="saveTask.taskEndDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
	                             <button type="button"  style="float:left;width:17%;" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!--<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="contactName" class="col-sm-4 control-label">关联联系人</label>
							<div class="col-sm-8">
								<div  class="input-normal" >
									<input type="hidden" id="contactId" name="contactId" ng-model="saveTask.contactId" >
									<input type="text" ng-disabled="true"  style="float:left;width:83%;border-right:none;" class="form-control " id="contactName" name="contactName" ng-model="saveTask.contactName">
									<button type="button"  style="float:left;width:17%" class="btn btn-default" ng-click="selectCntrDlg()"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="oppertName" class="col-sm-4 control-label">关联商机</label>
							<div class="col-sm-8">
								<div  class="input-normal" >
									<input type="hidden" id="oppertId" name="oppertId" ng-model="saveTask.oppertId">
									<input type="text" ng-disabled="true"  style="float:left;width:83%;border-right:none;" class="form-control " id="oppertName" name="oppertName" ng-model="saveTask.oppertName">
									<button type="button"  style="float:left;width:17%" class="btn btn-default" ng-click="selectBusiOppDlg()"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>-->
				
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="oppertName" class="col-sm-4 control-label">关联客户</label>
							<div class="col-sm-8">
								<div  class="input-normal" >
									<input type="hidden" id="custId" name="custId" ng-model="saveTask.custId">
									<input type="text" ng-disabled="true"  style="float:left;width:83%;border-right:none;" class="form-control " id="custName" name="custName" ng-model="saveTask.custName" disabled>
									<button type="button"  style="float:left;width:17%" class="btn btn-default" ng-click="selectCustDlg()" disabled><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="responsName" class="col-sm-4 control-label">负责人</label>
							<div class="col-sm-8">
								<div  class="input-normal" >
									<input type="hidden" id="responsId" name="responsId" ng-model="saveTask.responsId" >
									<input type="text" ng-disabled="true"  style="float:left;width:83%;border-right:none;" class="form-control " id="responsName" name="responsName" ng-model="saveTask.responsName">
									<button type="button"  style="float:left;width:17%" class="btn btn-default" ng-click="selectAgentDlg()"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
							<div class="form-group">

								<label for="taskDesc" class="col-sm-2 control-label">任务说明</label>
								<div class="col-sm-9" style="width:77.5%;">
									<!-- <input type="text" class="form-control input-normal" id="taskDesc" name="taskDesc" ng-model="saveTask.taskDesc">
									 -->
									<textarea  ng-model="saveTask.taskDesc" class="form-control  " id="taskDesc" name="taskDesc"  rows="3" ></textarea>
								   
								</div>
							</div>
						</div>
				</div>
				
				<div class="modal-footer">
			        <button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
			        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
				</div>

			</div>
		</div>
	</form>
</div>
