<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">新建工作日程</font></div>
                <div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12" style="float: right;margin-right:20px;">
 							<label for="calendar.calendarTitle" class="col-sm-2 control-label" style="font-weight:lighter">主题</label>
							<div class="col-sm-10" >
								<input ng-model="calendar.calendarTitle" class="form-control" id="calendarTitle" >
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.custAgent" class="col-sm-4 control-label">负责人</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="hidden" id="custAgent" name="custAgent" ng-model="calendar.custAgent" >
								<input type="text" class="form-control input-normal" id="custAgentNam" name="custAgentNam" ng-model="calendar.custAgentNam" >
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectAgentDlg()" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.custNam" class="col-sm-4 control-label">客户</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="text" class="form-control input-normal" id="custNam" name="custNam" ng-model="calendar.custNam" > 
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectCust()" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.custTel" class="col-sm-4 control-label">电话</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="text" class="form-control input-normal" id="custTel" name="custTel" ng-model="calendar.custTel" > 
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.startDate" class="col-sm-4 control-label">开始日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" datepicker-options="options" ng-model="calendar.startDate" 
                                    is-open="startDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="startDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="startDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.endDate" class="col-sm-4 control-label">结束日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" datepicker-options="options" ng-model="calendar.endDate" 
                                 			is-open="endDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="endDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="endDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.calRating" class="col-sm-4 control-label">优先级</label>
							<div class="col-sm-8" >
								<select ng-model="calendar.calRating" class="form-control input-normal" ng-options="x.label for x in Rating" ng-change="selectRating(calendar.calRating)"  id="calRating" ></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.calSts" class="col-sm-4 control-label">状态</label>
							<div class="col-sm-8" >
								<select ng-model="calendar.calSts" class="form-control input-normal" ng-options="x.label for x in CalSts" ng-change="selectCalSts(calendar.calSts)"  id="calSts" ></select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.saleActiv" class="col-sm-4 control-label">销售活动</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="hidden" id="saleActiv" name="saleActiv" ng-model="calendar.saleActiv" >
								<input type="text" class="form-control input-normal" id="saleActivNam" name="saleActivNam" ng-model="calendar.saleActivNam" >
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.calType" class="col-sm-4 control-label">事件类型</label>
							<div class="col-sm-8" >
								<select ng-model="calendar.calType" class="form-control input-normal" ng-options="x.label for x in CalType" ng-change="selectCalType(calendar.calType)"  id="calType" ></select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.saleBusiOpp" class="col-sm-4 control-label">销售商机</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="hidden" id="saleBusiOpp" name="busiOppNo" ng-model="calendar.busiOppNo" >
								<input type="text" class="form-control input-normal" id="busiOppNam" name="busiOppNam" ng-model="calendar.busiOppNam" >
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectBusiOppDlg()" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12" style="float: right;margin-right:20px;">
 							<label for="calendar.calendarDesc" class="col-sm-2 control-label" style="font-weight:lighter">事件描述</label>
							<div class="col-sm-10" >
								<textarea ng-model="calendar.calendarDesc" class="form-control" id="calendarDesc" rows="5" 
									maxlength="200" placeholder="" ></textarea>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.custTel" class="col-sm-4 control-label">参与人员</label>
							<div class="col-sm-8 zaddperassets_posi" >
							<button type="button" class="btn btn-default btn-with-icon ion-search" ng-click="selectAgentDlg()">选择参与人员</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12" style="float: right;margin-right:20px;">
 							<label for="calendar.calendarDesc" class="col-sm-2 control-label" style="font-weight:lighter"></label>
							<div class="col-sm-10" >
								<textarea ng-model="calendar.calendarDesc" class="form-control" id="calendarDesc" rows="2" 
									maxlength="200" placeholder="" ></textarea>
							</div>
						</div>
					</div>
				</div>
				<br/>
<!-- 				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="calendar.custAgent" class="col-sm-4 control-label">设置提醒</label>
							<div class="col-sm-8" >
								<input type="checkbox" class="form-control input-normal" id="custAgentNam" name="custAgentNam" ng-model="calendar.custAgentNam" >
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div> -->
				<br/>
				<div class="row zaddperassets_textcenter">
					<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
					<button type="button" class="btn btn-primary btn-with-icon" ng-click="ok()">保存</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
