.m-hd{height:35px;line-height:35px;padding:1px 0 0;border-bottom:1px solid #ddd;}
.m-hd h2,.m-hd ul,.m-hd li{float:left;}
.m-hd h2{margin:0 40px 0 0;font-size:16px;}
.m-hd ul{margin:0px;}
.m-hd li{list-style:none;position:relative;margin:-25px 0 0 0px;}
.m-hd li:first-child{margin-left:60px;}
.m-hd li a,.m-hd li a:hover{text-decoration:none;color:#666;}
.m-hd li a{display:block;padding:0 15px;border:1px solid #ddd;border-bottom:0;border-radius:5px 5px 0 0;text-align:center;font-size:14px;background:#f8f8f8;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fdfdfd),to(#f8f8f8));background:-webkit-linear-gradient(#fdfdfd,#f8f8f8);background:-moz-linear-gradient(#fdfdfd,#f8f8f8);background:-ms-linear-gradient(#fdfdfd,#f8f8f8);background:linear-gradient(#fdfdfd,#f8f8f8);}
.m-hd li a:hover{background:#fff;}
.m-hd li.z-crt a{padding-bottom:1px;margin-bottom:-1px;background:#5975d9;color:#fff;}
.m-hd button{list-style:none;position:relative;margin:-25px 0 0 2px;}
.m-hd .more{float:right;margin:-22px 0px 0px 10px;}
.m-hd-bg{padding:11px 10px 0;border-radius:5px 5px 0 0;background:#f7f7f7;}
.m-hd-sl li{margin-left:-1px;}
.m-hd-sl li a{border-radius:0;}
.m-hd-sl li:first-child a{border-top-left-radius:5px;}
.m-hd-sl li:last-child a{border-top-right-radius:5px;}
.m-hd-rt h2{margin-right:0;}
.m-hd-rt ul{float:right;}
.m-hd-sm{height:25px;line-height:25px;}
.m-hd-sm h2{font-size:14px;}
.m-hd-sm li a{padding:0 10px;font-size:12px;}
.m-hd-fw li{width:80px;}
.m-hd-fw li a{padding:0;}
.m-hd-ra,.m-hd-ra li a,.m-hd-ra li:first-child a,.m-hd-ra li:last-child a{border-radius:0;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}