<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="addRelaCtrl">
			<!-- <div ba-panel ba-panel-title="调度作业短信新增" ba-panel-class="panel-primary"> -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">调度作业短信新增</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="schedName" class="col-sm-4 control-label">调度名称</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.schedName.$invalid && addForm.$submitted}">
									<input type="text" class="form-control input-normal" id="schedName" name="schedName" ng-model="addRela.schedName"	 required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="jobGroup" class="col-sm-4 control-label">作业组</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.jobGroup.$invalid && addForm.$submitted}">
									<input type="text" class="form-control input-normal" id="jobGroup" name="jobGroup" ng-model="addRela.jobGroup"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="jobName" class="col-sm-4 control-label">作业名称</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.jobName.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="jobName" name="jobName" ng-model="addRela.jobName"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="msgCode" class="col-sm-4 control-label">信息编码</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.msgCode.$invalid && addForm.$submitted }">
									<div class="select-normal">
										<ui-select ng-model="addRela.msgCode" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !addForm.msgCode}" append-to-body="false" id="msgCode" 
										name="msgCode" search-enabled="false"   ng-required="true"> 
											 <ui-select-match > 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="code in msgCodes"> 
											 	<span ng-bind-html="code.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="remindCode" class="col-sm-4 control-label">提醒编码</label>
								<div class="col-sm-8">
									<div class="select-normal">
										<ui-select ng-model="addRela.remindCode" class="btn-group bootstrap-select form-control"  append-to-body="false" 
										id="remindCode"  name="remindCode" search-enabled="false"> 
											 <ui-select-match > 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="code in remCodes"> 
											 	<span ng-bind-html="code.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
				        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
					</div>
				</div>
				

			</div>
		</div>
	</form>
</div>
