<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="modal-content" ng-controller="addSysParamCtrl">
<!--			<div ba-panel ba-panel-title="参数新增" ba-panel-class="panel-primary">-->
				<div class="modal-header">
					<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
						<em class="ion-ios-close-empty sn-link-close"></em>
					</button>
					<h4 class="modal-title" id="myModalLabel">参数新增</h4>
				</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="paramType" class="col-sm-4 control-label">参数类型</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.paramType.$invalid && addForm.$submitted}">
								<input type="text" class="form-control input-normal" id="paramType" name="paramType" ng-model="sysParam.paramType"
									required> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="paramCode" class="col-sm-4 control-label">参数名称</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.paramCode.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal" id="paramCode" name="paramCode" ng-model="sysParam.paramCode"
									required> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="paramValue" class="col-sm-2 control-label">参数值</label>
							<div class="col-sm-10" ng-class="{'has-error': addForm.paramValue.$invalid && addForm.$submitted }">
								<textarea class="form-control input-normal" id="paramValue" name="paramValue" ng-model="sysParam.paramValue"
										  required></textarea> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="paramDesc" class="col-sm-2 control-label">参数说明</label>
							<div class="col-sm-10" ng-class="{'has-error': addForm.paramDesc.$invalid && addForm.$submitted }">
								<textarea type="text" class="form-control input-normal" id="paramDesc" name="paramDesc" ng-model="sysParam.paramDesc" required></textarea>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<!-- div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-offset-8 col-sm-4">
								<button class="btn btn-primary" ng-click="saveValue(addForm.$valid)">保存</button>
								<button type="button" class="btn btn-primary" ng-click="closePage()">关闭</button>
							</div>
						</div>
					</div>
				</div> -->
				
				<div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveSysParam(addForm.$valid)">保存</button>
				</div>
			</div>
		</div>
	</form>
</div>
