<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div>
	<div class="panel panel-primary">
	<div class="panel-heading"><font color="white">客户证件信息</font></div>
	<div class="panel-body">
				<form class="form-horizontal" name="modifyForm" novalidate>
					<div class="row">
						<div class="row">
							 <div class="col-md-12">&nbsp;</div>
						 </div>
						<div class="add-row-editable-table col-sm-4" style="float: right">
							<button class="btn btn-primary btn-with-icon" ng-click="searchCustCert()"><i class="ion-search"></i>查询</button>
							<button class="btn btn-primary btn-with-icon" ng-click="clearCustCertSearch()"><i class="ion-refresh"></i>重置</button>
							<button class="btn btn-primary btn-with-icon" ng-click="addCustCert()"><i class="ion-plus-round"></i>新增</button>
							<button type="button" class="btn btn-danger btn-with-icon" ng-click="$dismiss()"><i class="ion-power"></i>关闭</button>
						</div>
						<div class="col-sm-3" style="float: right">
							 <input type="text" class="form-control" ng-model="searchCertObj.certNO" placeholder="证件号码">
						 </div>
						<div class="col-sm-3" style="float: right">
						<ui-select ng-model="searchCertObj.certTyp" class="btn-group bootstrap-select form-control" search-enabled="false" id="certTyp" >
								<ui-select-match placeholder = "证件类型" >
									<span> {{$select.selected.label}}</span>
								</ui-select-match>
								<ui-select-choices repeat="item in IdType">
									<span ng-bind-html="item.label"></span>
								</ui-select-choices>
						</ui-select>
						</div>
					</div>
				</form>

		<table class="table table-bordered table-hover table-condensed" st-table="custCert" st-safe-src="custCertList">
			<thead>
			<tr class="black-muted-bg">
				<th style="text-align:center;"st-sort="custNo">客户号</th>
				<th style="text-align:center;"st-sort="custNam">客户姓名</th>
				<th style="text-align:center;"st-sort="certTyp">证件类型</th>
				<th style="text-align:center;"st-sort="certNo">证件号码</th>
				<th style="text-align:center;"st-sort="actiDate">激活日期</th>
				<th style="text-align:center;"st-sort="certEffDate">有效日期</th>
				<th style="text-align:center;"st-sort="certSts">证件状态</th>
				<th style="text-align:center;"st-sort="certIssuedPlece">证件发放地</th>
				<th style="text-align:center;">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in custCert">
				<td style="text-align:left;">{{item.custNo}}</td>
				<td>{{item.custNam}}</td>
				<td>{{item.certTyp}}</td>
				<td>{{item.certNo}}</td>
				<td>{{item.actiDate}}</td>
				<td>{{item.certEffDate}}</td>
				<td>{{item.certSts}}</td>
				<td>{{item.certIssuedPlece}}</td>
				<td>
					<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-info btn-icon" ng-click=""><i class="ion-eye"></i></button>
							<button class="btn btn-primary btn-icon" ng-click="getCustCert(item.custNo, item.certSqn)"><i class="ion-compose"></i></button>
							<!-- <button class="btn btn-danger btn-icon" ng-click="delCustCert(item.custNo, item.certSqn)"><i class="ion-trash-a"></i></button> -->
					</div>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="12">
					<div class="row">
						<div class="col-md-7" style="float: right">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</div>
						<div class="col-md-5" style="float: right">
							每页
							<label>
								<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
										ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
							</label>
							条&nbsp;&nbsp;&nbsp;
							共{{certTotal||0}}条
						</div>
					</div>
				</td>
			</tr>
			</tfoot>
			</table>
		</div>
	</div>
</div>
</div>