<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="addParamCtrl">
			<!-- <div ba-panel ba-panel-title="因子参数新增" ba-panel-class="panel-primary"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">因子参数新增</font>
				</div>	
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="paramName" class="col-sm-4 control-label">参数名称</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.paramName.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="paramName" name="paramName" ng-model="sysParam.paramName"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="itemCode" class="col-sm-4 control-label">参数值</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.itemCode.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="itemCode" name="itemCode" ng-model="sysParam.itemCode"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="itemName" class="col-sm-4 control-label">参数说明</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.itemName.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="itemName" name="itemName" ng-model="sysParam.itemName" required>
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
				        <button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()"></i>关闭</button>
				        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
