<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="addDeptCtrl">
			<!-- <div ba-panel ba-panel-title="部门信息新增" ba-panel-class="panel-primary"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">部门信息新增</font>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="saveDept.deptCode" class="col-sm-4 control-label">部门代码</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.deptCode.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="deptCode" name="deptCode" ng-model="saveDept.deptCode"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="saveDept.deptName" class="col-sm-4 control-label">部门名称</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.deptName.$invalid  && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="deptName" name="deptName" ng-model="saveDept.deptName"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="enter" class="col-sm-4 control-label">所属机构</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.superEnter.$invalid && addForm.$submitted }">
									<select ng-model="selectedEnter" class="form-control input-normal" ng-options="x.show for x in enterList"
										ng-change="selectEnter(selectedEnter)"></select> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="superDept" class="col-sm-4 control-label">上级部门</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.enter.$invalid && addForm.$submitted }">
									<select ng-model="selectedDept" class="form-control input-normal" ng-options="x.show for x in superDeptList"
										ng-change="selectSuperDept(selectedDept)"></select> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="saveDept.deptMgr" class="col-sm-4 control-label">部门经理</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="deptMgr" name="deptMgr" ng-model="saveDept.deptMgr">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="saveDept.deptDesc" class="col-sm-2 control-label">部门描述</label>
								<div style="float: right" class="col-sm-10">
									<div class="input-long">
										<input type="text" class="form-control col-sm-push-8" id="deptDesc" name="deptDesc"
											ng-model="saveDept.deptDesc">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row zaddperassets_textcenter">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
							关闭
						</button>
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">
							保存
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
