<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<div class="widgets">
		<div class="col-md-12" ng-controller="keyCustCtrl">
			<uib-tabset active="$tabSetStatus.activeTab">
				<uib-tab heading="普通客户" ng-click="changeFlag('custUserOpts')">
					<div ba-panel ba-panel-class="with-scroll">
						<form class="form-horizontal" name="modifyForm" novalidate>
							<div class="row">
								<div class="col-md-2">
									<label class="grid-title"></label>
								</div>
								<div class="add-row-editable-table" style="float: right;margin-right:15px;">
									<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
									<button class="btn btn-primary btn-with-icon" ng-click="clearNorSearch()"><i class="ion-refresh"></i>重置</button>
								</div>
								<div class="col-sm-3" style="float: right">
									<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户名称">
								</div>
								<div class="col-sm-3 zcustrelmnt_right">
									<input type="text" class="form-control" ng-model="searchObj.custNo" placeholder="客户号">
								</div>
							</div>
						</form>
						<table class="table  table-hover table-condensed" st-table="custs" st-safe-src="custCollection">
							<thead>
							<tr class="sortable black-muted-bg" >
								<th st-sort="customerNo">客户号</th>
								<th st-sort="name">客户名称</th>
								<th st-sort="type">客户类型</th>
								<!--<th st-sort="IdType">证件类型</th>
								<th st-sort="name">证件号码</th>-->
								<th st-sort="phoneNumber">电话号码</th>
								<th st-sort="custSource">客户来源</th>
								<th st-sort="custAgentNam">客户经理姓名</th>
								<th st-sort="custAgent">客户经理工号</th>
								<th st-sort="operation">操作</th>
							</tr>

							</thead>
							<tbody>
							<tr ng-repeat="item in custs" class="editable-row">
								<td>{{item.custNo}}</td>
								<td>{{item.custName}}</td>
								<td>{{item.custTyp}}</td>
								<!--<td>{{item.certTyp}}</td>
								<td>{{item.certNo}}</td>-->
								<td>{{item.phoneNumber}}</td>
								<td>{{item.custSource}}</td>
								<td>{{item.custAgentNam}}</td>
								<td>{{item.custAgent}}</td>
								<td>
									<div class="buttons" ng-show="!rowform.$visible">
										<button title="登记" class="btn btn-success btn-icon" ng-click="regImportantCust(item.custNo,item.custName)"><i class="ion-clipboard"></i></button>
										<button title="查看" class="btn btn-info btn-icon" ng-click="openDetail(item.custNo)"><i class="ion-eye"></i></button>
									</div>
								</td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										
										<st-pager opts="custUserOpts"></st-pager>
									</div>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</uib-tab>
				<uib-tab heading="重点客户" ng-click="changeFlag('impUserOpts')">
					<div ba-panel ba-panel-class="with-scroll">
						<form class="form-horizontal" name="keyForm" novalidate>
							<div class="row">
								<div class="col-md-2">
									<label class="grid-title"></label>
								</div>
								<div class="add-row-editable-table" style="float: right;margin-right:15px;">
									<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
									<button class="btn btn-primary btn-with-icon" ng-click="clearImpSearch()"><i class="ion-refresh"></i>重置</button>
								</div>
								<div class="col-sm-3" style="float: right">
									<input type="text" class="form-control" ng-model="srhImpObj.custName" placeholder="客户名称">
								</div>
								<div class="col-sm-3 zcustrelmnt_right">
									<input type="text" class="form-control" ng-model="srhImpObj.custNo" placeholder="客户号">
								</div>
							</div>
						</form>

						<table class="table  table-hover table-condensed" st-table="custs" st-safe-src="keyUserCollection">
							<thead>
							<tr class="sortable black-muted-bg">
								<th st-sort="customerNo">客户号</th>
								<th st-sort="name">客户名称</th>
								<th st-sort="type">客户类型</th>
								<!--<th st-sort="IdType">证件类型</th>
								<th st-sort="name">证件号码</th>-->
								<th st-sort="phoneNumber">电话号码</th>
								<th st-sort="custSource">客户来源</th>
								<th st-sort="custAgentNam">客户经理姓名</th>
								<th st-sort="custAgent">客户经理工号</th>
								<th st-sort="regiDate">登记时间</th>
								<th st-sort="regiReason">登记原因</th>
								<th st-sort="operation">操作</th>
							</tr>

							</thead>
							<tbody>
							<tr ng-repeat="keyItem in custs" class="editable-row">
								<td>{{keyItem.custNo}}</td>
								<td>{{keyItem.custName}}</td>
								<td>{{keyItem.custTyp}}</td>
								<!--<td>{{keyItem.certTyp}}</td>
								<td>{{keyItem.certNo}}</td>-->
								<td>{{keyItem.phoneNumber}}</td>
								<td>{{keyItem.custSource}}</td>
								<td>{{keyItem.custAgentNam}}</td>
								<td>{{keyItem.custAgent}}</td>
								<td>{{keyItem.regiDate}}</td>
								<td title="{{keyItem.regiReason}}"><dev class="nowap-ellipsis relationDesc">{{ keyItem.regiReason }}</dev></td>
								<td>
									<div class="buttons" ng-show="!rowform.$visible">
										<button title="撤销" class="btn btn-danger btn-icon" ng-click="cancelImportantCust(keyItem.custNo,keyItem.custName)"><i class="ion-reply"></i></button>
										<button title="查看" class="btn btn-info btn-icon" ng-click="openDetail(keyItem.custNo)"><i class="ion-eye"></i></button>
									</div>
								</td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										<st-pager opts="impUserOpts"></st-pager>
									</div>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
