<nav ng-class="getNavStyle(scroll)">

	<div class=row>
		<div class="col-sm-2">
		
		</div>
		<div class="col-sm-4">
			<button ng-click="goPrevious()"><span>&lt;</span></button>
			<button ng-click="zoomIn()"><span>+</span></button>
			<button ng-click="fit()"><span>100%</span></button>
			<button ng-click="zoomOut()"><span>-</span></button>
			<button ng-click="goNext()"><span>&gt;</span></button>
		</div>
		<div class="col-sm-4">
			<span>Page: </span> <input type="text" min=1 ng-model="pageNum">
			<span> / {{pageCount}}</span>
		</div>
		<div class="col-sm-2">
		
		</div>
	</div>
</nav>