<div ng-controller="msgConfCtrl">

	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">
		<form class="form-horizontal" name="modifyForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						查询条件
					</label>
				</div>
			</div>
			<div class="row form-group" >
				<div class="col-md-4" >
					<label  class="z_custdetailadd_lable">短信ID</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.msgId" placeholder="短信ID">
				</div>
				<div class="col-md-4" >
					<label  class="z_custdetailadd_lable">事件类型</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.msgEventType" placeholder="事件类型">
				</div>
				<div class="col-md-4" >
					<label  class="z_custdetailadd_lable">事件描述</label>
					<input type="text" class="form-control z_custdetail_inline" ng-model="searchObj.msgDescrption" placeholder="事件描述">
				</div>
			</div>
			<div class="row split-div">
				<HR  class="split-line">
				<div>
					<button class="btn btn-primary btn-with-icon" ng-click="getAllMsgConf()">
						<i class="ion-search"></i>查询
					</button>
					<button class="btn btn-primary btn-with-icon" ng-click="addMsgConf()">
						<i class="ion-plus-round"></i>新增
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">
						<i class="ion-flag btn-primary"></i>
						短信列表
					</label>
				</div>
			</div>
		</form>
		<table class="table  table-hover table-condensed" st-table="smartTableData" st-safe-src="MsgConfRows">
			<thead>
			<tr class="black-muted-bg">
				<th st-sort="msgId">短信ID</th>
				<th st-sort="msgEventType">事件类型</th>
				<th st-sort="msgDescrption">事件描述</th>
				<th st-sort="msgAdvdays">提前天数</th>
				<!--<th st-sort="msgTemplate">消息模板</th>-->
				<th st-sort="msgTitle">模板标题</th>
				<th class="operation">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in smartTableData" class="editable-row">
				<td><span>{{item.msgId}}</span></td>
				<td><span>{{item.msgEventType}}</span></td>
				<td><span>{{item.msgDescrption}}</span></td>
				<td><span>{{item.msgAdvdays}}</span></td>
				<!--<td><span>{{item.msgTemplate}}</span></td>-->
				<td><span>{{item.msgTitle}}</span></td>
				<td>
					<div class="buttons" ng-show="!rowform.$visible">
						<button title="修改" class="btn btn-primary btn-icon" ng-click="updMsgConf(item)">
							<i class="ion-compose"></i>
						</button>
						<button title="删除" class="btn btn-danger btn-icon" ng-click="removeMsgConf(item)">
							<i class="ion-trash-a"></i>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="12">
					<div class="row">
						<!--<div class="col-md-7" style="float: right">
                            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                        </div>
                        <div class="col-md-5" style="float: right">
                            每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                               ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                        </select>
                        </label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
                        </div>-->
						<st-pager opts="searchOpts"></st-pager>
					</div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>
