<div class="widgets">
	<div class="col-md-12 crm_md_12" ng-controller="PersonalInfoCtrl">
		<uib-tabset active="$tabSetStatus.activeTab">
	 		<uib-tab heading="个人信息">
	 		<div ba-panel ba-panel-class="with-scroll">
			<form class="form-horizontal" name="addForm" novalidate>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="userId" class="col-sm-4 control-label">用户账号</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.userId.$invalid && addForm.$submitted}">
								<input type="text" class="form-control input-normal font_control_color" id="userId" name="userId" ng-model="userInfo.userId"
									required readOnly> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="userName" class="col-sm-4 control-label font_control_color">用户姓名</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.userName.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal font_control_color" id="userName" name="userName" ng-model="userInfo.userName"
									required readOnly> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="sex" class="col-sm-4 control-label">性别</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.sex.$invalid && addForm.$submitted }">
								<div class="select-normal">
									<ui-select id="sex" class="btn-group bootstrap-select form-control " name="sex" ng-model="selected.value"
										ng-disabled="true" search-enabled="false" > <ui-select-match> <span class = "font_control_color">
										{{$select.selected.label}}</span> </ui-select-match> <ui-select-choices repeat="sex in genders"> <span
										ng-bind-html="sex.label"></span> </ui-select-choices> </ui-select>
									<span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="enterName" class="col-sm-4 control-label">所属机构</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.enterName.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal font_control_color" id="enterName" name="enterName"
									ng-model="userInfo.enterName" required readOnly> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="deptName" class="col-sm-4 control-label">所属部门</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.deptName.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal font_control_color" id="deptName" name="deptName" ng-model="userInfo.deptName"
									required readOnly> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="posiName" class="col-sm-4 control-label">所属岗位</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.posiName.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal font_control_color" id="posiName" name="posiName" ng-model="userInfo.posiName"
									required readOnly> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="telphone" class="col-sm-4 control-label">联系电话</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.telphone.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal font_control_color" id="telphone" name="telphone" ng-model="userInfo.telphone"
									required readOnly> <span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="email" class="col-sm-4 control-label">电子邮件</label>
							<div class="col-sm-8" ng-class="{'has-error': addForm.email.$invalid && addForm.$submitted }">
								<input type="text" class="form-control input-normal font_control_color" id="email" name="email" ng-model="userInfo.email" required readOnly>
								<span class="help-block error-block basic-block">必录</span>
							</div>
						</div>
					</div>
				</div>
	</form>
				<div class="row split-div">
					<HR  class="split-line">
					<div class="zjs_modal_footer_pass">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="back()">返回</button>
					</div>
				</div>
	 		</div>
	 		</uib-tab>
	 	
	 		<uib-tab heading="密码修改">
	 		<div ba-panel ba-panel-class="with-scroll">
			 	<form class="form-horizontal" name="updForm" novalidate>				
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="password" class="col-sm-4 control-label">当前密码</label>
									<div class="col-sm-8" ng-class="{'has-error': updForm.password3.$invalid && updForm.$submitted}">
										<input type="password" class="form-control input-normal" id="password3" name="password3" ng-model="userInfo.password3"
											required> <span class="help-block error-block basic-block">必录</span>
									</div>
								</div>
							</div>
						</div>
		
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="password1" class="col-sm-4 control-label">新密码</label>
									<div class="col-sm-8" ng-class="{'has-error': updForm.password1.$invalid && updForm.$submitted}">
										<input type="password" class="form-control input-normal" id="password1" name="password1" ng-model="userInfo.password1"
											required> <span class="help-block error-block basic-block">必录</span>
									</div>
								</div>
							</div>
						</div>
		
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="password2" class="col-sm-4 control-label">重复新密码</label>
									<div class="col-sm-8" ng-class="{'has-error': updForm.password1.$invalid && updForm.$submitted}">
										<input type="password" class="form-control input-normal" id="password2" name="password2" ng-model="userInfo.password2"
											required> <span class="help-block error-block basic-block">必录</span>
									</div>
								</div>
							</div>
						</div>
		
			</form>
				<div class="row split-div">
					<HR  class="split-line">
					<div class="zjs_modal_footer_pass">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="back()">返回</button>
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="modifyPassword(updForm.$valid)">保存</button>
					</div>
				</div>
			</div>
	 		</uib-tab>
		</uib-tabset>
	</div>
</div>
