<div class="widgets" ng-controller="activCreatCtrl">
	<div class="row" ba-panel ba-panel-class="with-scroll viewport100" ba-panel-title="活动模板">
		<div class="col-md-12">
			<div class="col-md-4 li-with-line">
				<ul>
					<li><b>人工营销</b></li>
					<li><a href="" ng-click="openTemplate(1)">新产品推介会</a></li>
					<li><a href="" ng-click="openTemplate(1)">电话营销</a></li>
					<li><a href="" ng-click="openTemplate(1)">客户联谊活动</a></li>
				</ul>
			</div>
			<div class="col-md-4 li-with-line">
				<ul>
					<li><b>自动营销</b></li>
					<li><a href="" ng-click="openTemplate(2)">新客户优惠券赠送</a></li>
					<li><a href="" ng-click="openTemplate(2)">新品打折促销</a></li>
				</ul>
			</div>
			<div class="col-md-4 li-with-line">
				<ul>
					<li><b>人工+自动</b></li>
					<li><a href="" ng-click="openTemplate(3)">产品增值服务宣传</a></li>
					<li><a href="" ng-click="openTemplate(3)">新品推广（线上/线下）</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


