<nav ng-if="pages.length >= 2">
    <ul class="pagination">
        <li><a ng-click="selectPage(1)">首页</a>
        </li>
        <li><a ng-click="selectPage(currentPage - 1)">上一页</a>
        </li>
        <li><a>
            第 {{currentPage}} 页 </a>
        </li>
        <li><a ng-click="selectPage(currentPage + 1)">下一页</a>
        </li>
        <li><a ng-click="selectPage(numPages)">尾页</a></li>
        <li><a>共 {{numPages}} 页</a></li>
        <li><a>共 {{totalItemCount}} 条</a></li>
    </ul>
</nav>