<div ng-controller="cstmrGrpCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-info btn-with-icon" ng-click="initData(1)"><i class="fa fa fa-bar-chart-o"></i>动态客户群</button>
				<button type="button" class="btn btn-info btn-with-icon" ng-click="initData(0)"><i class="fa fa fa-barcode"></i>静态客户群	</button>
			</div>
			<button class="btn btn-info" style="float:right;" ng-click="open('app/pages/cstmrgrpops/cstmrGrpInfo.html')" >新增客户群</button>
		</div>
	</div>
	<br/>
	<br/>
	<div class="row" >
	    <div class="col-md-12">
	      <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
			  <table class="table table-bordered table-hover table-condensed"  st-table="smartTableData" st-safe-src="rowCollection" >
			    <thead>
				    <tr class="sortable">
					      <th st-sort="id" st-sort-default="true">id</th>
					      <th st-sort="name">名称</th>
					      <th st-sort="type">客群类型</th>
					      <th st-sort="count">人数</th>
					      <th st-sort="desc">描述</th>
					      <th st-sort="time">创建时间</th>
					      <th >操作</th>
				    </tr>
				    <tr>
				      <th><input st-search="id" placeholder="搜索id" class="input-sm form-control search-input"   type="search"/></th>
				      <th><input st-search="name" placeholder="搜索名称" class="input-sm form-control search-input"   type="search"/></th>
				      <th><input st-search="type" placeholder="搜索客群类型" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="count" placeholder="搜索人数" class="input-sm form-control search-input"  type="search"/></th>
				      <th><input st-search="desc" placeholder="搜索描述" class="input-sm form-control search-input" type="search"/>  </th>
				      <th><input st-search="time" placeholder="搜索创建时间" class="input-sm form-control search-input" type="search"/>  </th>
				    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in smartTableData">
			      <td>{{item.id}}</td>
			      <td ng-click='add(item.type)'><a>{{item.name}}</a></td>
			      <td>{{item.type}}</td>
			      <td>{{item.count}}</td>
			      <td>{{item.desc}}</td>
			      <td>{{item.time}}</td>
			      <td>
			      	  <div class="buttons">
				        <button class="btn btn-info editable-table-button btn-xs" ng-click="open('app/pages/cstmrgrpops/cstmrGrpInfo.html')"  >修改</button>
				        <button class="btn btn-danger editable-table-button btn-xs" >删除</button>
				      </div>
			      </td>
			    </tr>
			    </tbody>
			    <tfoot>
				    <tr>   
				      <td colspan="5" class="text-center">
				        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
				      </td>
				      <td >每页10条&nbsp;&nbsp;共{{total}}条</td>
				    </tr>
			    </tfoot>
			  </table>
		</div>
		</div>
	</div>
	
	
</div>