<div ng-controller="msgSendQuery">
	<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll">
		<form class="form-horizontal" name="modifyForm" novalidate>
			<div class="row">
				<div class="col-md-2">
					<label class="grid-title">信息发送列表</label>
				</div>
				<div class="add-row-editable-table zmargin_right" style="float: right">
					<button class="btn btn-primary btn-with-icon" ng-click="search()"><i class="ion-search"></i>查询</button>
					<button class="btn btn-primary btn-with-icon" ng-click="reset()"><i class="ion-refresh"></i>重置</button>
				</div>
				<div class="col-sm-2 zpercusportra_paleft" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.msgTopic" placeholder="信息标题">
				</div>
				<div class="col-sm-2 zpercusportra_paleft" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="接收人">
				</div>
				<div class="col-sm-2 zpercusportra_paleft" style="float: right">
					<input type="text" class="form-control" ng-model="searchObj.sendObj" placeholder="目标客群">
				</div>
				<div class="col-sm-2 zpercusportra_paleft" style="float: right">
					<select ng-model="selectedMsgType" class="form-control" ng-options="x.label for x in selectedList" ng-change="selectMsgType(selectedMsgType)" class="btn-group bootstrap-select form-control">
						<option value="" label="消息类型"></option>
					</select>
				</div>
		</div>
		</form>

		<table class="table table-bordered table-hover table-condensed" st-table="smartTableData" st-safe-src="RowCollection">
			<thead>
				<tr class="black-muted-bg">
					<th st-sort="msgCode">信息编码</th>
					<th st-sort="msgId">消息ID</th>
					<th st-sort="msgTopic">信息标题</th>
					<th st-sort="bizNo">接收人号码</th>
					<th st-sort="custName">接收人</th>
					<th st-sort="msgType">消息类型</th>
<!-- 					<th st-sort="msgContent">发送内容</th>
 -->					<th st-sort="sendObj">目标客群</th>
					<th st-sort="sendChannel">发送渠道</th>
					<th st-sort="sendWay">发送方式</th>
					<th st-sort="timeStamp">发送时间</th>
					<th st-sort="msgStat">信息状态</th>
					<th st-sort="failReason">错误信息</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in smartTableData" class="editable-row">
					<td><span>{{ item.msgCode }}</span></td>
					<td><span>{{ item.msgId }}</span></td>
					<td><span>{{ item.msgTopic }}</span></td>
					<td><span>{{ item.bizNo }}</span></td>
					<td><span>{{ item.custName }}</span></td>
					<td><span>{{ ShowMsgType(item) }}</span></td>
					<td><span>{{ item.sendObj }}</span></td>
					<td><span>{{ ShowSendChannel(item) }}</span></td>
					<td><span>{{ ShowSendWay(item) }}</span></td>
					<td><span>{{item.timeStamp }}</span></td>
					<td><span>{{ ShowMsgStat(item) }}</span></td>
					<td><span>{{ item.failReason }}</span></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="12">
						<div class="row">
							<!--<div class="col-md-7" style="float: right">
								<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
							</div>
							<div class="col-md-5" style="float: right">
								每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
									ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
								</label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
							</div>-->
							<st-pager opts="searchOpts"></st-pager>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
