<div ng-controller="appMsgMngCtrl">
	<uib-tabset active="activeTab">
		<uib-tab heading="站内信" ng-click="changeTab(0)">
			<div class="horizontal-scroll  z_appMsg_border" ba-panel ba-panel-class="with-scroll">
				<form class="form-horizontal" name="modifyForm" novalidate>
					<div class="row">
						<div class="col-md-2">
							<label class="grid-title">
								<i class="ion-flag btn-primary"></i>
								查询条件
							</label>
						</div>
					</div>
					<!--				<div class="row z_appMsgMng_row">-->
					<!--					<div class="col-md-2 z_appMsgMng_col-sm-2">-->
					<!--						<label class="grid-title">站内信列表</label>-->
					<!--					</div>-->
					<div class="row form-group">
<!--						<div class="col-md-4" >-->
<!--							<label  class="z_custdetailadd_lable">信息标题</label>-->
<!--							<input type="text" class="form-control z_custdetail_inline" ng-model="mailSearchObj.mailTitle" placeholder="信息标题">-->
<!--						</div>-->
						<div class="col-md-5">
							<label  class="z_custdetailadd_lable">发送方</label>
							<input type="text" class="form-control z_custdetail_inline" ng-model="mailSearchObj.sendUser" placeholder="发送方">
						</div>
						<!-- <div class="col-sm-2" style="float: right">
                            <input type="text" class="form-control" ng-model="mailSearchObj.isRead" placeholder="是否已读">
                        </div> -->
						<div class="col-md-5">
							<label  class="z_custdetailadd_lable">已读/未读</label>
							<select ng-model="mailSearchObj.selected" class="form-control z_custdetail_inline" ng-options="x.label for x in isReadSelect"
									ng-change="select(mailSearchObj.selected)" class="btn-group bootstrap-select form-control">
								<option value="" label="已读/未读"></option>
							</select>
						</div>
					</div>
					<div class="row split-div">
						<HR  class="split-line">
						<div>
							<button class="btn btn-primary btn-with-icon" ng-click="searchAppMail()">
								<i class="ion-search"></i>查询
							</button>
							<button class="btn btn-primary btn-with-icon" ng-click="clearAppMailSearch()">
								<i class="ion-refresh"></i>重置
							</button>
							<button class="btn btn-primary btn-with-icon" ng-click="addAppMail()">
								<i class="ion-plus"></i>新建群发
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label class="grid-title">
								<i class="ion-flag btn-primary"></i>
								站内信列表
							</label>
						</div>
					</div>
					<!--				</div>-->
				</form>

				<table class="table  table-hover table-condensed" st-table="mailMsgs" st-safe-src="MailCollection">
					<thead>
					<tr class="black-muted-bg z_appMsgMng_tr">
						<th st-sort="sendUser">发送方</th>
						<th st-sort="sendTime">发送时间</th>
						<th st-sort="isRead">是否已读</th>
						<th st-sort="mailAttr">信息类别</th>
						<th st-sort="mailTitle">信息标题</th>
						<th st-sort="mailContent">信息内容</th>
						<th st-sort="" class="z_appMsgMng_operation">操作</th>
					</tr>
					</thead>
					<tbody class="z_appMsgMng_tbody">
					<tr ng-repeat="item in mailMsgs" class="editable-row">
						<td><span>{{item.sendUser }}</span></td>
						<td><span>{{item.sendTime }}</span></td>
						<td><span>{{ getIsRead(item.isRead) }}</span></td>
						<td><span>{{ShowMailAttr(item) }}</span></td>
						<td><span>{{item.mailTitle }}</span></td>
						<td title="{{item.mailContent}}"><span class="nowap-ellipsis enterAddr">{{item.mailContent}}</span></td>
						<td>
							<div class="buttons" ng-show="!rowform.$visible">
								<button title="查看" class="btn btn-info btn-icon" ng-click="openMailDetail(item)">
									<i class="ion-eye"></i>
								</button>
								<button title="删除" class="btn btn-danger btn-icon" ng-click="removeMail(item)">
									<i class="ion-trash-a"></i>
								</button>
							</div>
						</td>

					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="12">
							<div class="row">
								<!--<div class="col-md-7" style="float: right">
                                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                                </div>
                                <div class="col-md-5" style="float: right">
                                    每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                                       ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                                </select>
                                </label> 条&nbsp;&nbsp;&nbsp; 共{{mailTotal||0}}条
                                </div>-->
								<st-pager opts="searchAppMailOpts"></st-pager>
							</div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</uib-tab>
		<uib-tab heading="站内提醒" ng-click="changeTab(1)">
			<div class="horizontal-scroll  z_appMsg_border" ba-panel ba-panel-class="with-scroll">
				<form class="form-horizontal" name="modifyForm" novalidate>
					<!--					<div class="row z_appMsgMng_row">-->
					<div class="row">
						<div class="col-md-2">
							<label class="grid-title">
								<i class="ion-flag btn-primary"></i>
								查询条件
							</label>
						</div>
					</div>
					<div class="row form-group">
<!--						<div class="col-md-5" >-->
<!--							<label  class="z_custdetailadd_lable">信息标题</label>-->
<!--							<input type="text" class="form-control z_custdetail_inline" ng-model="remindSearchObj.remindTitle" placeholder="信息标题">-->
<!--						</div>-->
						<div class="col-md-4">
							<label  class="z_custdetailadd_lable">已读/未读</label>
							<select ng-model="remindSearchObj.selected" class="form-control z_custdetail_inline" ng-options="x.label for x in isReadSelect"
									ng-change="select(remindSearchObj.selected)" class="btn-group bootstrap-select form-control">
								<option value="" label="已读/未读"></option>
							</select>
						</div>
					</div>
					<div class="row split-div">
						<HR  class="split-line">
						<div>
						<button class="btn btn-primary btn-with-icon" ng-click="searchRemind()">
							<i class="ion-search"></i>查询
						</button>
						<button class="btn btn-primary btn-with-icon" ng-click="clearAppRemindSearch()">
							<i class="ion-refresh"></i>重置
						</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label class="grid-title">
								<i class="ion-flag btn-primary"></i>
								站内提醒列表
							</label>
						</div>
					</div>
					<!--					</div>-->
				</form>

				<table class="table  table-hover table-condensed" st-table="remindMsgs" st-safe-src="RemindCollection">
					<thead>
					<tr class="black-muted-bg">
						<th st-sort="sendUser">发送方</th>
						<th st-sort="sendTime">发送时间</th>
						<th st-sort="isRead">是否已读</th>
						<th st-sort="remindTitle">信息标题</th>
						<th st-sort="remindContent">提醒内容</th>
						<th st-sort="" class="z_appMsgMng_operation">操作</th>
					</tr>
					</thead>
					<tbody class="z_appMsgMng_tbody">
					<tr ng-repeat="item in remindMsgs" class="editable-row">
						<td><span>{{item.sendUser }}</span></td>
						<td><span>{{item.sendTime }}</span></td>
						<td><span>{{ getIsRead(item.isRead) }}</span></td>
						<td><span>{{item.remindTitle }}</span></td>
						<td><span>{{item.remindContent }}</span></td>
						<td>
							<div class="buttons" ng-show="!rowform.$visible">
								<button class="btn btn-info btn-icon" ng-click="openRemindDetail(item)"><i class="ion-eye"></i></button>
								<button class="btn btn-danger btn-icon" ng-click="removeRemind(item)"><i class="ion-trash-a"></i></button>
							</div>
						</td>

					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="12">
							<div class="row">
								<!--<div class="col-md-7" style="float: right">
									<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
								</div>
								<div class="col-md-5" style="float: right">
									每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
													   ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
								</select>
								</label> 条&nbsp;&nbsp;&nbsp; 共{{remindTotal||0}}条
								</div>-->
								<st-pager opts="searchRemindOpts"></st-pager>
							</div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</uib-tab>
		</uib-tab>
	</uib-tabset>
</div>
