<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">商机新增</font></div>
                <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.custNam" class="col-sm-4 control-label">客户姓名</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="text" class="form-control input-normal" id="custNam" name="custNam" ng-model="busiOpp.custNam" disabled> 
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectCust()" show-button-bar="false" ng-disabled = "isCustDisabled"><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.custSex" class="col-sm-4 control-label">客户性别</label>
							<div class="col-sm-8" >
								<select ng-model="busiOpp.custSex" class="form-control input-normal" ng-options="x.label for x in Sex" ng-change="selectCustSex(busiOpp.custSex)"  id="custSex" ng-disabled = "isDisabled"></select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.birthDate" class="col-sm-4 control-label">出生日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="busiOpp.birthDate" 
                                 			is-open="birthDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="birthDate"  ng-disabled = "isDisabled"/>
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="birthDateOpen()" ng-disabled = "isDisabled"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.custTel" class="col-sm-4 control-label">客户电话</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="custNam" name="custTel" ng-model="busiOpp.custTel" ng-disabled = "isDisabled"> 
							</div>
						</div>
					</div>
				</div>

					<div class="row">
							<div class="col-sm-6">
							<div class="form-group">
								<label for="busiOpp.custType" class="col-sm-4 control-label">客户类型</label>
								<div class="col-sm-8" >
									<select ng-model="busiOpp.custType" class="form-control input-normal" ng-options="x.label for x in CustType" ng-change="selectCustType(busiOpp.custType)"  id="custType" ng-disabled = "isDisabled"></select>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="busiOpp.custSource" class="col-sm-4 control-label">客户来源</label>
								<div class="col-sm-8" >
									<select ng-model="busiOpp.custSource" class="form-control input-normal" ng-options="x.label for x in DataSource" ng-change="selectCustSource(busiOpp.custSource)"  id="custSource" ng-disabled = "isDisabled"></select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.busiOppName" class="col-sm-4 control-label">商机名称</label>
							<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="busiOppName" name="busiOppName" ng-model="busiOpp.busiOppName" >
							</div>
						</div>
					</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="busiOpp.busiOppType" class="col-sm-4 control-label">商机类别</label>
								<div class="col-sm-8" >
									<select ng-model="busiOpp.busiOppType" class="form-control input-normal" ng-options="x.label for x in ProductType" ng-change="selectBusiOppType(busiOpp.busiOppType)"  id="busiOppType"></select>
								</div>
							</div>
						</div>
					</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.busiOppSrc" class="col-sm-4 control-label">商机来源</label>
							<div class="col-sm-8" >
								<select ng-model="busiOpp.busiOppSrc" class="form-control input-normal" ng-options="x.label for x in BusiOppSrc" ng-change="selectBusiOppSrc(busiOpp.busiOppSrc)"  id="busiOppSrc"></select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.busiOppStage" class="col-sm-4 control-label">商机阶段</label>
							<div class="col-sm-8" >
								<select ng-model="busiOpp.busiOppStage" class="form-control input-normal" ng-options="x.label for x in BusiOppStage" ng-change="selectBusiOppStage(busiOpp.busiOppStage)"  id="busiOppStage" disabled></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="busiOpp.busiOppPsb" class="col-sm-4 control-label">可能性</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="busiOppPsb" name="busiOppPsb" ng-model="busiOpp.busiOppPsb" >
								</div>
							</div>
						</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.predPrem" class="col-sm-4 control-label">预估保费</label>
							<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="predPrem" name="predPrem" ng-model="busiOpp.predPrem" >
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.custAgent" class="col-sm-4 control-label">负责人</label>
							<div class="col-sm-8 zaddperassets_posi" >
								<input type="hidden" id="custAgent" name="custAgent" ng-model="busiOpp.custAgent" >
								<input type="text" class="form-control input-normal" id="custAgentNam" name="custAgentNam" ng-model="busiOpp.custAgentNam" ng-disabled = "isDisabled">
								<span class="input-group-btn">
										<button class="btn btn-default z_bordernone" ng-click="selectAgentDlg()" show-button-bar="false" ><i class="ion-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="busiOpp.estimateSuccDate" class="col-sm-4 control-label">预计成单日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="busiOpp.estimateSuccDate" 
                                 			is-open="estimateSuccDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="estimateSuccDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="estimateSuccDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12" style="float: right;margin-right:20px;">
 							<label for="busiOpp.busiOppDesc" class="col-sm-2 control-label" style="font-weight:lighter">商机描述</label>
							<div class="col-sm-10" >
								<textarea ng-model="busiOpp.busiOppDesc" class="form-control" id="busiOppDesc" rows="5" 
									maxlength="200" placeholder="" ></textarea>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row zaddperassets_textcenter">
					<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
					<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveBusiOpp()">保存</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
