<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" >
			<div class="panel panel-primary">
			 <div class="panel-heading"><font color="white">商机成功</font></div>
                <div class="panel-body">
					<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="stageInfo.busiOppNam" class="col-sm-4 control-label">商机名称</label>
							<div class="col-sm-8" >
									<input type="hidden" id="busiOppNo" name="busiOppNo" ng-model="stageInfo.busiOppNo" >
									<input type="text" class="form-control input-normal" id="busiOppNam" name="busiOppNam" ng-model="stageInfo.busiOppNam" disabled>
							</div>
						</div>
					</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="stageInfo.policyNo" class="col-sm-4 control-label">保单号码</label>
								<div class="col-sm-8" >
									<input type="text" class="form-control input-normal" id="policyNo" name="policyNo" ng-model="stageInfo.policyNo" > 
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="stageInfo.productCode" class="col-sm-4 control-label">产品名称</label>
								<div class="col-sm-8 zaddperassets_posi" >
									<input type="hidden" id="productCode" name="productCode" ng-model="stageInfo.productCode" >
									<input type="text" class="form-control input-normal" id="productNam" name="productNam" ng-model="stageInfo.productNam" disabled>
									<span class="input-group-btn">
											<button class="btn btn-default z_bordernone" ng-click="selectProductDlg()" show-button-bar="false" ><i class="ion-search"></i></button>
									</span>
								</div>
							</div>

					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="stageInfo.policyPrem" class="col-sm-4 control-label">保费</label>
							<div class="col-sm-8" >
								<input type="text" class="form-control input-normal" id="policyPrem" name="policyPrem" ng-model="stageInfo.policyPrem" > 
							</div>
						</div>
					</div>
					</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="stageInfo.signDate" class="col-sm-4 control-label">签单日期</label>
							<div class="col-sm-8 zaddperassets_posi">
                               <input type="text" class="form-control input-normal" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="stageInfo.signDate" 
                                 			is-open="signDateOpened" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="signDate" />
                               <span class="input-group-btn">
                                 <button type="button" class="btn btn-default z_bordernone" ng-click="signDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<br/>
				<div class="row zaddperassets_textcenter">
					<button type="button" class="btn btn-default btn-with-icon" ng-click="cancel()">取消</button>
					<button type="button" class="btn btn-primary btn-with-icon" ng-click="succeedSave()">保存</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
