<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--<div ba-panel ba-panel-title="用户信息新增" ba-panel-class="panel-primary">-->
	<div class="panel panel-primary">
		<div class="panel-heading"><font color="white">登记黑名单</font></div>
		
		<form class="form-horizontal" name="modifyForm2" novalidate>
			<div class="panel-body">
				<div class="col-sm-12">
                   <label for="blacklistType" class="zcol_md_width">黑名单类型</label>
                   <!--<input type="text" class="form-control" id="blacklistType" name="blacklistType" ng-model="blacklistDts.blacklistType" placeholder="黑名单类型" >-->
                   <select ng-model="blacklistDts.blacklistType" style="width:70%;display:inline-block;" class="form-control" ng-options="blacklistType.label for blacklistType in blacklistTypes"></select>
                </div>
			</div>
			<div class="panel-body">
                 <div class="col-sm-12">
                     <label for="reason" class="zcol_md_width">登记原因</label>
                     <textarea style="width:70%;display:inline-block;" ng-model="blacklistDts.reason" class="form-control" id="message1"   placeholder="输入登记原因 ..." e-required></textarea>
                 </div>
			</div>
		</form>
		<div class="panel-body">
			<!--<div class="horizontal-scroll" ba-panel ba-panel-class="with-scroll" >-->
			<form class="form-horizontal" name="modifyForm" novalidate>

				<div class="row zaddperassets_textcenter">
					<!-- <button class="btn btn-primary btn-with-icon" ng-click="searchUser()"><i class="ion-search"></i>查询</button> -->
					<button class="btn btn-primary btn-with-icon" ng-click="addUser()">登记</button>
					<button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
					<!-- <div class="col-sm-2" style="float: right">
						<input type="text" class="form-control" ng-model="searchObj.custName" placeholder="客户名称" >
					</div>
					<div class="col-sm-2 zcustrelmnt_right">
						<input type="text" class="form-control" ng-model="searchObj.custNo" placeholder="客户号" >
					</div> -->
				</div>
			</form>

			<!-- <table class="table table-bordered table-hover table-condensed" st-table="custs" st-safe-src="custCollection">
				<thead>
				<tr class="black-muted-bg">
					<th class="table-id" st-sort="id" st-sort-default="true">选择</th>
					<th><label for="flag"><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()">
					</label></th>
					<th st-sort="custNo">客户号</th>
					<th st-sort="name">客户名称</th>
					<th st-sort="type">客户类型</th>
					<th st-sort="IdType">证件类型</th>
					<th st-sort="name">证件号码</th>
					<th st-sort="custMark">标签</th>
					<th st-sort="phoneNumber">电话号码</th>
					<th st-sort="custSource">客户来源</th>
					<th st-sort="custAgent">客户经理</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in custs">
					<td><input type="radio" value="{{item.custNo}}" ng-change="selectOne()" ng-model="$parent.selectValue"/> </td>
					<td><input type="checkbox" ng-model="item.checked" ng-change="selectOne()"> <span></span>
					<td>{{item.custNo}}</td>
					<td>{{item.custName}}</td>
					<td>{{item.custTyp}}</td>

					<td>{{item.certTyp}}</td>
					<td>{{item.certNo}}</td>
					<td>{{item.phoneNumber}}</td>
					<td>{{item.custSource}}</td>
					<td>{{item.custAgent}}</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="12">
						<div class="row">
							<div class="col-md-7" style="float: right">
								<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
							</div>
							<div class="col-md-5" style="float: right">
								每页
								<label>
									<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
											ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
									</select>
								</label>
								条&nbsp;&nbsp;&nbsp;
								共{{total||0}}条
							</div>
						</div>
					</td>
				</tr>
				</tfoot>
			</table> -->
		</div>
	</div>
</div>
