<div ng-controller="tableDemo5Ctrl as showCase">
    <div class="horizontal-scroll">
        <table class="table" st-table="smartTableData" st-safe-src="rowCollection">
            <thead>
            <tr class="sortable ">
                <th>id</th>
                <th>username</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in smartTableData">
                <td>{{item.Id}}</td>
                <td>{{item.username}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="12" class="text-center">
                    <st-pager instance = "queryUsers" opts = "queryUsersOptions" pageSize = "5" ></st-pager>
                </td>
            </tr>
            </tfoot>
        </table>

        <button type="button" class="btn btn-danger btn-with-icon" ng-click="queryAgain()"><i class="ion-power"></i>查询</button>

    </div>
</div>
