<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="addValueCtrl">
			<!-- <div ba-panel ba-panel-title="因子赋值类型新增" ba-panel-class="panel-primary"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">因子赋值类型新增</font>
				</div>	
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="valueType" class="col-sm-4 control-label">赋值类型</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.valueType.$invalid && addForm.$submitted}">
									<input type="text" class="form-control input-normal" id="valueType" name="valueType" ng-model="addValue.valueType"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="valueDesc" class="col-sm-4 control-label">类型描述</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.valueDesc.$invalid && addForm.$submitted }">
									<input type="text" class="form-control input-normal" id="valueDesc" name="valueDesc" ng-model="addValue.valueDesc"
										required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
				        <button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
				        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
