<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()"
			aria-label="Close">
			<em class="ion-ios-close-empty sn-link-close"></em>
		</button>
		<h4 class="modal-title">用户新增</h4>
	</div>
	<div class="widgets">
		<form class="form-horizontal"  name="addUserForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group has-feedback">
				<label for="id" class="col-sm-1 control-label">id</label>
					<div class="col-sm-2"
						ng-class="{'has-error': addUserForm.id.$invalid }">
						<input type="number" class="form-control" id="id" name="id"
							placeholder="id" ng-model="newUser.id" required> <span
							class="help-block error-block basic-block">必录</span>
					</div>
					<label for="firstName" class="col-sm-1 control-label">姓</label>
					<div class="col-sm-2"
						ng-class="{'has-error': addUserForm.firstName.$invalid }">
						<input type="text" class="form-control" id="firstName" name="firstName"
							placeholder="姓" ng-model="newUser.firstName" required> <span
							class="help-block error-block basic-block">必录</span>
					</div>
					<label for="lastName" class="col-sm-1 control-label">名</label>
					<div class="col-sm-2"
						ng-class="{'has-error': addUserForm.lastName.$invalid }">
						<input type="text" class="form-control" id="lastName" name="lastName"
							placeholder="名" ng-model="newUser.lastName" required> <span
							class="help-block error-block basic-block">必录</span>
					</div>
					<label for="email" class="col-sm-1 control-label">邮箱</label>
					<div class="col-sm-2"
						ng-class="{'has-error': addUserForm.email.$invalid }">
						<input type="text" class="form-control" id="email" name="email"
							placeholder="邮箱" ng-model="newUser.email" required> <span
							class="help-block error-block basic-block">必录</span>
					</div>
				</div>
			</div>
		</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="$dismiss();saveNewUser()">确定</button>
	</div>
</div>
