<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="addKnowledgeCtrl">
			<!-- <div ba-panel ba-panel-title="参数新增" ba-panel-class="panel-primary"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">知识分类新增</font>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="knowledgeTypeName" class="col-sm-4 control-label">知识分类</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.knowledgeTypeName.$invalid && addForm.$submitted}">
									<input type="text" class="form-control input-normal" id="knowledgeTypeName" name="knowledgeTypeName" ng-model="saveType.knowledgeTypeName" required> <span class="help-block error-block basic-block">必录</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="superKnowledgeType" class="col-sm-4 control-label">上级分类</label>
								<div class="col-sm-8" ng-class="{'has-error': addForm.superKnowledgeType.$invalid && addForm.$submitted }">
								
									<div class="select-normal">
										<ui-select ng-model="saveType.superKnowledgeType" class="btn-group bootstrap-select form-control" 
										ng-class="{'has-error': !addForm.superKnowledgeType}" append-to-body="false" id="superKnowledgeType" 
										name="superKnowledgeType" search-enabled="false"   ng-required="true"> 
											 <ui-select-match > 
											 	<span> {{$select.selected.label}}</span> 
											 </ui-select-match> 
											 <ui-select-choices repeat="fType in superKnowledgeType"> 
											 	<span ng-bind-html="fType.label"></span> 
											 </ui-select-choices> 
										 </ui-select>
									</div>
								
									<!-- <input type="text" class="form-control input-normal" id="superKnowledgeType" name="superKnowledgeType" ng-model="saveType.superKnowledgeType" required> <span class="help-block error-block basic-block">必录</span> -->
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
							
								<label for="remark" class="col-sm-2 control-label">分类说明</label>
								<div class="col-sm-10" ng-class="{'has-error': addForm.remark.$invalid && addForm.$submitted }">
									<textarea style="width:92.5%" ng-model="saveType.remark" class="form-control " id="remark" rows="3"	  ></textarea>
									<!-- <input type="text" class="form-control input-normal" id="paramCode" name="paramCode" ng-model="sysParam.paramCode" required> <span class="help-block error-block basic-block">必录</span> -->
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">
							关闭
						</button>
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue(addForm.$valid)">
							保存
						</button>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>
