<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">策略选择</font>
				</div>
				<br />
				<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">

					<span style="font-size: large;">策略列表&nbsp;</span>
					<div class="btn-group" style="float: right; margin-left: 10px;">
						<button class="btn btn-primary btn-with-icon" ng-click="searchStar()">
							<i class="ion-search"></i>查询
						</button>
					</div>
					<div style="float: right; margin-left: 10px;">
						<input type="text" class="form-control" ng-model="searchStarObj.strategyName" placeholder="策略名称">
					</div>
					<br /> <br /> <br />
					<table class="table table-bordered table-hover table-condensed" st-table="smartTableData"
						st-safe-src="StratRowCollection">
						<thead>
							<tr class="black-muted-bg">
								<!-- <th st-sort="strategyId">策略ID</th> -->
								<th>#</th>
								<th st-sort="strategyName">策略名称</th>
								<th st-sort="remark">策略说明</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in smartTableData" class="editable-row"">
								<td><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{ item.strategyId }}"
									ng-change="selectOne(item)" ng-model="radioOptions.select"><span></span></td>
								<td><span>{{item.strategyName }}</span></td>
								<td><span>{{ item.remark }}</span></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<div class="row">
										<div class="col-md-7" style="float: right">
											<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
										</div>
										<div class="col-md-5" style="float: right">
											每页 <label> <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
												ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
											</select>
											</label> 条&nbsp;&nbsp;&nbsp; 共{{total||0}}条
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
					<div class="panel-body footer zaddperassets_textcenter">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="ok()">确定</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
