<div ng-controller="curPropUpdRuleCtrl">
	<div class="horizontal-scroll">
		<div ba-panel ba-panel-title="实体覆盖规则" ba-panel-class="with-scroll" class="form-horizontal">
			<div class="form-group has-feedback" >
			 	<label for="tblName" class="col-sm-1 control-label">实体名</label>
				<div class="col-sm-2">
					<ui-select ng-model="tblInfo.tblName"
				               class="btn-group bootstrap-select form-control"
				               ng-class="{'has-error': !tblInfo.tblName}"
				               ng-change="showAttInfo()"
				               ng-disabled="false"
				               append-to-body="true"
				               search-enabled="false">
				      <ui-select-match placeholder="实体名" >
				        <span> {{$select.selected.text}}</span>
				      </ui-select-match>
				      <ui-select-choices repeat="tblName in tblNames">
				        <span ng-bind-html="tblName.text"></span>
				      </ui-select-choices>
				    </ui-select>
				</div>
				<label for="tblRule" class="col-sm-1 control-label">实体覆盖规则</label>
				<div class="col-sm-2">
					<ui-select ng-model="tblInfo.tblRule"
				               class="btn-group bootstrap-select form-control"
				               ng-class="{'has-error': !tblInfo.tblRule}"
				               ng-disabled="false"
				               append-to-body="true"
				               search-enabled="false">
				      <ui-select-match placeholder="实体覆盖规则" >
				        <span> {{$select.selected.text}}</span>
				      </ui-select-match>
				      <ui-select-choices repeat="tblRule in tblRules">
				        <span ng-bind-html="tblRule.text"></span>
				      </ui-select-choices>
				    </ui-select>
				</div>
				<label for="firstRule" class="col-sm-1 control-label">优先规则</label>
				<div class="col-sm-2">
					<ui-select ng-model="tblInfo.firstRule"
				               class="btn-group bootstrap-select form-control"
				               ng-class="{'has-error': !tblInfo.firstRule}"
				               ng-disabled="false"
				               append-to-body="true"
				               search-enabled="false">
				      <ui-select-match placeholder="优先规则" >
				        <span> {{$select.selected.text}}</span>
				      </ui-select-match>
				      <ui-select-choices repeat="firstRule in tblFirstRules">
				        <span ng-bind-html="firstRule.text"></span>
				      </ui-select-choices>
				    </ui-select>
				</div>
				<label for="subRule" class="col-sm-1 control-label">时间子规则</label>
				<div class="col-sm-2">
					<ui-select ng-model="tblInfo.subRule"
				               class="btn-group bootstrap-select form-control"
				               ng-class="{'has-error': !tblInfo.subRule}"
				               ng-disabled="false"
				               append-to-body="true"
				               search-enabled="false">
				      <ui-select-match placeholder="优先规则" >
				        <span> {{$select.selected.text}}</span>
				      </ui-select-match>
				      <ui-select-choices repeat="subRule in subRules">
				        <span ng-bind-html="subRule.text"></span>
				      </ui-select-choices>
				    </ui-select>
				</div>
			</div>
			<div class="form-group">
				<label for="sysOrderList" class="col-sm-1 control-label">系统优先顺序列表</label>
				<div class="col-sm-2">
					<input class="form-control" id="sysOrderList" placeholder="系统优先顺序列表" ng-model="tblInfo.sysOrderList">
				</div>
			</div>
		</div>
		<div ba-panel ba-panel-title="属性覆盖/合并规则" ba-panel-class="with-scroll">
			<table class="table table-bordered table-hover table-condensed" st-table="curPropRuleData" st-safe-src="curPropRuleDts">
				<thead>
					<tr class="sortable ">
						<div>客户属性优先规则信息列表</div>
						<th class="table-id" st-sort="id" st-sort-default="true">#</th>
						<th st-sort="attCode">字段ID</th>
						<th st-sort="attDesc">字段描述</th>
						<th st-sort="firstRule">优先规则</th>
						<th st-sort="subRule">时间子规则</th>
						<th st-sort="sysOrderList">系统优先顺序列表</th>
						<th></th>
					</tr>
					<tr>
				      <th></th>
				      <th><input st-search="attCode" placeholder="查询字段ID" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="attDesc" placeholder="查询字段描述" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="firstRule" placeholder="查询优先规则" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="subRule" placeholder="查询时间子规则" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="sysOrderList" placeholder="查询系统优先顺序列表" class="input-sm form-control search-input" type="search"/></th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in curPropRuleData" class="editable-row">
						<td class="table-id">{{item.id}}</td>
						<td><span e-name="attCode"
						 	e-form="rowform">{{ item.attCode }}</span></td>
						<td><span e-name="attDesc"
						 	e-form="rowform">{{ item.attDesc }}</span></td>
						<td class="select-td"><span editable-select="item.firstRule" e-name="firstRule" e-form="rowform" e-selectpicker
	              			e-ng-options="s1.id as s1.text for s1 in firstRules">{{showFirstRule(item.firstRule)}}</span></td>
						<td class="select-td"><span editable-select="item.subRule" e-name="subRule" e-form="rowform" e-selectpicker
	              			e-ng-options="s2.id as s2.text for s2 in subRules">{{ showSubRule(item.subRule) }}</span></td>
						<td><span>{{ item.sysOrderList }}</span></td>
						<td>
							<div ng-show="item.editAbleFlg != false">
								<div class="buttons" ng-show="!rowform.$visible">
									<button class="btn btn-primary editable-table-button btn-xs"
										ng-click="rowform.$show()">编辑</button>
									<button class="btn btn-danger editable-table-button btn-xs"
										ng-click="removeEnter($index)">删除</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" class="text-center">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</td>
					</tr>
				</tfoot>
			</table>
			<div class="row">
				<div style="float:left">显示行数</div>
				<div style="float:left">
					    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
					            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
					    </select>
				</div>
			</div>
		</div>
		<div ba-panel ba-panel-title="特殊规则设置" ba-panel-class="with-scroll">
			<table class="table table-bordered table-hover table-condensed" st-table="curSpecialRuleData" st-safe-src="curSpecialRuleDts">
				<thead>
					<tr class="sortable ">
						<div>特殊规则信息列表</div>
						<th class="table-id" st-sort="id" st-sort-default="true">#</th>
						<th st-sort="specialRuleNm">规则名称</th>
						<th st-sort="specialRuleFlg">是否生效</th>
						<th st-sort="specialRuleVal">规则附加信息</th>
						<th></th>
					</tr>
					<tr>
				      <th></th>
				      <th><input st-search="specialRuleNm" placeholder="查询规则名称" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="specialRuleFlg" placeholder="查询是否生效" class="input-sm form-control search-input" type="search"/></th>
				      <th><input st-search="specialRuleVal" placeholder="查询规则附加信息" class="input-sm form-control search-input" type="search"/></th>
				    </tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in curSpecialRuleData" class="editable-row">
						<td class="table-id">{{item.id}}</td>
						<td><span e-name="attCode"
						 	e-form="rowform">{{ item.specialRuleNm }}</span></td>
						<td class="select-td"><span editable-select="item.specialRuleFlg" e-name="specialRuleFlg" e-form="rowform" e-selectpicker
	              			e-ng-options="s1.id as s1.text for s1 in specialRuleFlgs">{{showSpecialRuleFlg(item.specialRuleFlg)}}</span></td>
						<td><span>{{ item.specialRuleVal }}</span></td>
						<td>
							<div>
								<div class="buttons" ng-show="!rowform.$visible">
									<button class="btn btn-primary editable-table-button btn-xs"
										ng-click="rowform.$show()">编辑</button>
									<button class="btn btn-danger editable-table-button btn-xs"
										ng-click="removeEnter($index)">删除</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" class="text-center">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</td>
					</tr>
				</tfoot>
			</table>
			<div class="row">
				<div style="float:left">显示行数</div>
				<div style="float:left">
					    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
					            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
					    </select>
				</div>
			</div>
		</div>
	</div>
</div>
