<div class="widgets">
    <form class="form-horizontal" name="detailForm" ng-controller="addMsgConfCtrl" novalidate>
        <loading></loading>
        <div class="col-md-12">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                        <em class="ion-ios-close-empty sn-link-close"></em>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">短信自动发送配置</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="msgEventType" class="col-sm-4 control-label">事件类型</label>
                                <div class="col-sm-8">
                                    <select ng-model="selectedEventTypeState"
                                            class="form-control select-normal" ng-options="x.label for x in EventTypeList"
                                            ng-change="selectEventTypeState(selectedEventTypeState)"><option value="" hidden></option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="msgDescrption" class="col-sm-4 control-label">事件描述</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-normal" maxlength="50" id="msgDescrption" name="msgDescrption"
                                           ng-model="msgConf.msgDescrption" placeholder="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="msgAdvdays" class="col-sm-4 control-label">提前天数</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-normal" id="msgAdvdays" name="msgAdvdays"
                                           ng-model="msgConf.msgAdvdays" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="msgTitle" class="col-sm-4 control-label">模板标题</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-normal" id="msgTitle" name="msgTitle"
                                           ng-model="msgConf.msgTitle" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="float: left">
                            <div class="form-group">
                                <label for="msgTemplate" class="col-sm-2 control-label">短信提醒模板</br>
                                    <button class="btn btn-primary" style="padding:0 5px;"  ng-click="selectTemplate()">
                                        模板选择
                                    </button>
                                </label>
                                <div class="col-sm-9" style="float: left">
									<textarea maxlength="200"  placeholder="短信提醒模板(200字以内) ..." class="form-control input-normal" id="msgTemplate"
                                              ng-model="msgConf.msgTplCont" style="margin: 0px -19.5px 0px 0px;width: 103.5%;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-with-icon" ng-click="saveValue()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
