<div class="modal-content" style="box-shadow:none;">
    <div class="modal-body" style="padding:0;padding-bottom:1px;">
        <form name="custDetailAddForm" novalidate>
        	<div class="panel-heading">
	        	<font color="#7f7f7f">修改联系人</font>
	        	<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
			      <em class="ion-ios-close-empty sn-link-close"></em>
			    </button>
		    </div>
        	<div class="z_custdetaiadd_box">
				<span class="z_custdetaladd_title">
					<a href="javascript:;" ng-repeat="x in information" ng-click="fan_information($index)" ng-class="{'z_custdetail_bg':information_a == $index}">{{x}}</a>
				</span>
				<div class="custdetailadd">
					<div class="panel panel-primary" ng-class="{'z_custDetail_show':0 == information_a}">
	                <div class="panel-body modal-body ">
	                            <div class="row">
	                                <div class="col-md-4 col-lg-4">
	                                    <div class="form-group">
	                                        <label for="contractName" class="z_custdetailadd_lable">联系人姓名</label>
	                                        <input type="text" class="form-control z_custdetail_inline" id="contractName" ng-model="custContract.contractName">
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-lg-4">
	                                    <div class="form-group">
	                                        <label for="mobile" class="z_custdetailadd_lable">手机号码</label>
	                                        <input type="text" class="form-control z_custdetail_inline" id="mobile"
	                                               ng-model="custContract.mobile">
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-lg-4">
	                                    <div class="form-group">
	                                        <label for="blnCustNo" class="z_custdetailadd_lable">所属客户</label>
											<p  class="input-group z_custdetail_inline " >
												<input type="text" ng-disabled="true"  style="width:75%;" class="form-control" id="custName" name="custName" ng-model="saveTask.custName">
	                                      		<span class="input-group-btn">
													<button type="button"  class="btn btn-default" ng-click="openCustList()"><i class="ion-person"></i></button>
	                                      		</span>
											</p>
 	                                    </div>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="col-md-4 col-lg-4">
	                                    <div class="form-group">
	                                        <label for="sex"  class="z_custdetailadd_lable">性别</label>
	                                        <ui-select ng-model="custContract.sex"
                                                   class="btn-group bootstrap-select form-control z_custdetail_inline"
                                                   search-enabled="false"
                                                   id="sex">
	                                            <ui-select-match>
	                                                <span> {{$select.selected.label}}</span>
	                                            </ui-select-match>
	                                            <ui-select-choices repeat="sex in sexItems">
	                                                <span ng-bind-html="sex.label"></span>
	                                            </ui-select-choices>
	                                        </ui-select>
	                                    </div>
	                                </div>
	                                 <div class="col-md-4 col-lg-4">
	                                    <label for="birthDate" class="z_custdetailadd_lable">出生日期</label>
	                                    <p class="input-group z_custdetail_inline ">
	                                        <input type="text" class="form-control" style="width:76%;" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custContract.birthDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
	                                      <span class="input-group-btn">
	                                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
	                                      </span>
	                                    </p>
	                                </div>		                            
			                        <div class="col-md-4 col-lg-4">
			                            <div class="form-group">
			                                <label for="custTyp" class="z_custdetailadd_lable">所属客户类型</label>
			                                <ui-select ng-model="custContract.blnCustType"
			                                           class="btn-group bootstrap-select form-control z_custdetail_inline"
			                                           search-enabled="false"
			                                           id="custTyp"  ng-disabled="true">
			                                    <ui-select-match >
			                                        <span> {{$select.selected.label}}</span>
			                                    </ui-select-match>
			                                    <ui-select-choices repeat="custType in custTypes">
			                                        <span ng-bind-html="custType.label"></span>
			                                    </ui-select-choices>
			                                </ui-select>
			                            </div>
			                        </div>
			                     </div>

			                        
	                    	<div class="modal-footer z_custdetailadd_pano" >
						        <button type="button" class="btn btn-primary btn-with-icon" ng-click="index_()">下一步</button>
						    </div>
	                    </div>
	                </div>
	            	<!-- 详细信息  -->
		            <div class="panel panel-primary" ng-class="{'z_custDetail_show':1 == information_a}">
		                <div class="panel-body">
		                    <div class="row">		                        
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="eduDegree" class="z_custdetailadd_lable">文化程度</label>
		                                <ui-select ng-model="custContract.eduDegree"
		                                           class="btn-group bootstrap-select form-control z_custdetail_inline"
		                                           search-enabled="false"
		                                           id="eduDegree">
		                                    <ui-select-match >
		                                        <span> {{$select.selected.label}}</span>
		                                    </ui-select-match>
		                                    <ui-select-choices repeat="item in Degrees">
		                                        <span ng-bind-html="item.label"></span>
		                                    </ui-select-choices>
		                                </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="occupationCode" class="z_custdetailadd_lable">职业</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="occupationCode" ng-model="custContract.occupationCode">
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="trade" class="z_custdetailadd_lable">所属行业</label>
		                                <ui-select ng-model="custContract.blnBusiness"
		                                           class="btn-group bootstrap-select form-control z_custdetail_inline"
		                                           search-enabled="false"
		                                           id="trade">
		                                    <ui-select-match>
		                                        <span> {{$select.selected.label}}</span>
		                                    </ui-select-match>
		                                    <ui-select-choices repeat="item in BusinessTypes">
		                                        <span ng-bind-html="item.label"></span>
		                                    </ui-select-choices>
		                                </ui-select>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">		                        
		                        <div class="col-md-4 col-lg-4">
	                                    <div class="form-group ">
	                                        <label for="certNo" class="z_custdetailadd_lable">身份证号</label>
	                                        <input type="text" class="form-control z_custdetail_inline" id="certNo" ng-model="custContract.certNo" >
	                                    </div>
	                                </div>		                        
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for=" passportNo" class="z_custdetailadd_lable">护照</label>
		                                <input type="text" class="form-control z_custdetail_inline" id=" passportNo" ng-model="custContract.passportNo">
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for=" annualIncome" class="z_custdetailadd_lable">年收入</label>
		                                <input type="text" class="form-control z_custdetail_inline" id=" annualIncome" ng-model="custContract.annualIncome">
		                            </div>
		                        </div>
		                        
		                    </div>
		                    <div class="row">
								<div class="col-md-4 col-lg-4">
	                                    <label for="certEffDate" class="z_custdetailadd_lable">身份证有效期</label>
	                                    <p class="input-group z_custdetail_inline ">
	                                        <input type="text" class="form-control" style="width:76%;" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custContract.certEffDate" is-open="opened1" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
	                                      <span class="input-group-btn">
	                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
	                                      </span>
	                                    </p>
	                                </div>
			                        <div class="col-md-4 col-lg-4">
	                                    <label for="passportEffDate" class="z_custdetailadd_lable">护照有效期</label>
	                                    <p class="input-group z_custdetail_inline ">
	                                        <input type="text" class="form-control" style="width:76%;" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" ng-model="custContract.passportEffDate" is-open="opened2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
	                                      <span class="input-group-btn">
	                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
	                                      </span>
	                                    </p>
	                                </div>	
		                    </div>
			                <div style="padding-left:0;padding-top:15px;">居住地址</div>
	                        <div class="row z_custdetailadd_patop">
	                            <div class="col-md-2 col-lg-2">
	                                <div class="form-group" >
	                                <input type="hidden" name="liveAddrTyp" value="0"> 
	                               <ui-select ng-model="custContract.blnProvince" class="btn-group bootstrap-select form-control" 
	                                            append-to-body="false" id="blnProvince" name="blnProvince" search-enabled="false" ng-change="getCityByProv(0)" >
	                                       <ui-select-match placeholder="--选择省--">
	                                            <span> {{$select.selected.label}}</span>
	                                     </ui-select-match>
	                                      <ui-select-choices repeat="prov in provList"> 
	                                          <span ng-bind-html="prov.label"></span> 
	                                      </ui-select-choices> 
	                                  </ui-select>
	                                </div>
	                            </div>
	                            <div class="col-md-2 col-lg-2 zcustdetail_paleft_no">
	                                <div class="form-group" >
	                                <ui-select ng-model="custContract.blnCity" class="btn-group bootstrap-select form-control" 
	                                            append-to-body="false" id="blnCity" name="blnCity" search-enabled="false" ng-change="getCountyByProvCty(0)" >
	                                       <ui-select-match placeholder="--选择市--">
	                                            <span> {{$select.selected.label}}</span>
	                                     </ui-select-match>
	                                      <ui-select-choices repeat="city in liveCityList" > 
	                                          <span ng-bind-html="city.label"></span> 
	                                      </ui-select-choices> 
	                                  </ui-select>
	                                 </div>
	                            </div>
	                            <div class="col-md-2 col-lg-2 zcustdetail_paleft_no">
	                                <div class="form-group" >
	                                <ui-select ng-model="custContract.blnCounty" class="btn-group bootstrap-select form-control" 
	                                            append-to-body="false" id="blnCounty" name="blnCounty" search-enabled="false" >
	                                       <ui-select-match placeholder="--选择区/县--">
	                                            <span> {{$select.selected.label}}</span>
	                                     </ui-select-match>
	                                      <ui-select-choices repeat="county in liveCountyList">  
	                                          <span ng-bind-html="county.label"></span> 
	                                      </ui-select-choices> 
	                                  </ui-select>
	                                </div>
	                            </div>
	                            <div class="col-md-4 col-lg-4 zcustdetail_paleft_no" >
	                                <div class="form-group">
	                                    <input type="text" class="form-control" id="streetAddr" placeholder="街道" ng-model="custContract.streetAddr">
	                                </div>
	                            </div>
	                            <div class="col-md-2 col-lg-2 zcustdetail_paleft_no">
	                                <div class="form-group">
	                                    <input type="text" class="form-control" id="postcode" placeholder="邮编"maxlength="6" ng-model="custContract.postcode">
	                                </div>
	                            </div>
	                        </div>

			                 <div class="modal-footer z_custdetailadd_pano">
						        <button type="button" class="btn btn-primary btn-with-icon" ng-click="index_()">下一步</button>
						    </div>
			            	
			            </div>
		            </div>
		            <div class="panel panel-primary" ng-class="{'z_custDetail_show':2 == information_a}">
		                <div class="panel-body">
		                    <div class="row">
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="wechatNo" class="z_custdetailadd_lable">微信</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="wechatNo" ng-model="custContract.wechatNo">
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="qq" class="z_custdetailadd_lable">QQ</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="QQ" ng-model="custContract.qq">
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="microblog" class="z_custdetailadd_lable">微博</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="microblog" ng-model="custContract.microblog">
		                            </div>
		                        </div>		                        
		                    </div>
		                    <div class="row">
		                    	<div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="alipay" class="z_custdetailadd_lable">支付宝</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="alipay" ng-model="custContract.alipay">
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="emailAddr" class="z_custdetailadd_lable">电子邮箱</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="emailAddr" ng-model="custContract.emailAddr">
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-lg-4">
		                            <div class="form-group">
		                                <label for="otherPhone" class="z_custdetailadd_lable">其他手机</label>
		                                <input type="text" class="form-control z_custdetail_inline" id="otherPhone" ng-model="custContract.otherPhone">
		                            </div>
		                        </div>
		                    </div>
		                    
		                    <div class="modal-footer z_custdetailadd_pano">
						        <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
						        <button type="button" class="btn btn-primary btn-with-icon" ng-click="save()">保存</button>
						    </div>
		                </div>
		            </div>
        		</div> 
        	</div>
        </form>
    </div>
    
</div>
