<div class="widgets">
	<form class="form-horizontal" name="addForm" novalidate>
		<loading></loading>
		<div class="col-md-12" ng-controller="sendMsgCtrl">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<font color="white">消息群发</font>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="mailTitle" class="col-sm-4 control-label">发送对象</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="name" name="name" placeholder="" ng-model="sendTarget.name"
										readOnly>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="mailTitle" class="col-sm-4 control-label">信息标题</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-normal" id="mailTitle" name="mailTitle"
										placeholder="编辑信息标题，长度不超过50个字" ng-model="sysMail.mailTitle">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="mailContent" class="col-sm-4 control-label">信息内容</label>
								<div class="col-sm-8" style="padding-right: 0;">
									<textarea ng-model="sysMail.mailContent" class="form-control input-normal" id="mailContent"
										placeholder="编辑信息内容，最长不超过200字"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="options" class="col-sm-4 control-label">发送渠道</label>
								<div class="col-sm-8">
									<label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.duanxin"
										type="checkbox" id="duanxin"> <span>短信</span>
									</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.weixin"
										type="checkbox" id="weixin"> <span>微信</span>
									</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.youjian"
										type="checkbox" id="youjian"> <span>邮件</span>
									</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.zhanneixin"
										type="checkbox" id="zhanneixin"> <span>Web</span>
									</label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.app" type="checkbox"
										id="app"> <span>APP</span>
									</label> </label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.app" type="checkbox"
										id="app"> <span>电话</span>
									</label> </label> <label class="checkbox-inline custom-checkbox nowrap"> <input ng-model="options.app" type="checkbox"
										id="app"> <span>人工</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-with-icon" ng-click="closePage()">关闭</button>
						<button type="button" class="btn btn-primary btn-with-icon" ng-click="sendValue()">发送</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
