 <div class="modal-content" style="box-shadow:none;">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
			<em class="ion-ios-close-empty sn-link-close"></em>
		</button>
		<h4 class="modal-title" id="myModalLabel">理赔详情</h4>
	</div>
    <div class="modal-body">
    	 <div class="row">
    	 	<div class="col-sm-4">
				<label class="col-sm-5 line_height34">报案号：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.registNo'></div>
			</div>
         	<div class="col-sm-4">
				<label class="col-sm-5 line_height34">保单号：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.policyNo'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">被保险人：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.insuredName'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">险种名称：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.riskCname'></div>
			</div>
			
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">出险日期：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.damageDate'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">报案日期：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.reportDate'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">结案日期：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.endcaseDate'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">赔付金额：</label>
				<div class="col-sm-7 line_height34" >{{(ClaimDetail.indemnityMoney||"0.00")|number:"2"}}</div>
			</div>
			<!-- <div class="col-sm-4">
				<label class="col-sm-5 line_height34">支付日期：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.indemnityDate'></div>
			</div> -->
			<!-- <div class="col-sm-4">
				<label class="col-sm-5 line_height34">支付对象：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.PayMent'></div>
			</div> -->
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">报案人：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.reportorName'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">案件状态：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.cancelFlag'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">案件处理进展：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.nodeCname'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">出险地点：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.damageAddress'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">事故原因：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.damageName'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">报案人电话：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.reportorNumber'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">驾驶员：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.driverName'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">驾驶员电话：</label>
				<div class="col-sm-7 line_height34" ng-bind='ClaimDetail.linkPhoneNumber'></div>
			</div>
			<div class="col-sm-4">
				<label class="col-sm-5 line_height34">分项赔付金额：</label>
				<div class="col-sm-7 line_height34" >{{(ClaimDetail.sumpaId||"0.00")|number:'2'}}</div>
			</div>
        </div>
		<div class="row" style="margin-top: 10px">
			<div class="col-sm-12">
				<h4>收付列表</h4>
				<table class="table table-bordered table-hover table-condensed" st-table="claim" st-safe-src="claimList">
					<thead>
						<tr class="sortable black-muted-bg">
							<th>序号</th>
							<th>缴费日期</th>
							<th>缴费金额</th>
							<th>缴费方式</th>
							<th>支付对象</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in claimList">
							<td>{{item.paymentNo}}</td>
							<td>{{item.payDate}}</td>
							<td>{{(item.payFee||"0.00")|number:"2"}}</td>
							<td>{{item.payWay}}</td>
							<td>{{item.payName}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr ng-show="false">
							<td colspan="12">
								<st-pager opts="claimListOpts"></st-pager>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
    </div>
    <div class="modal-footer">
    	<button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">关闭</button>
    </div>
</div>
